[Desktop Entry]
Name=Kali

X-KDE-PluginInfo-Name=Kali
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
X-KDE-PluginInfo-License=GPL-3.0+
