{% extends "base.html" %}
{% block scripts %}
        <script type="text/javascript" src="/static/js/search.js"></script>
{% endblock %}
{% block main %}
            <div id="search-bar">
                <div class="noselect" id="logo">
                    <a href="javascript:void(0);" onclick="window.open('/', '_self')">
                        <img draggable="false" src="/static/assets/tracer.webp" alt="Tracer logo"/>
                    </a>
                </div>
                <script type="text/javascript">
                    document.getElementById("logo").addEventListener("contextmenu", event => {
                        event.preventDefault();
                    })
                </script>
                <form class="noselect">
                    <span id="question" title="Enter a username and Tracer will check on which websites that username is currently taken">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                        </svg>
                    </span>
                    <input name="username"
                           type="text"
                           spellcheck="false"
                           minlength="3"
                           placeholder="Search for a username..."
                           required=""/>
                    <button type="submit">Search</button>
                </form>
            </div>
            <div>
                <div id="results">
                    {# Prepare result boxes #}
                    {% for site in pool %}
                        <div class="result-box" id="{{ site['url'] }}">
                            <a href="javascript:void(0);" style="text-decoration:none; color:inherit;">
                                <h4 class="result-box-title">{{ site['domain'].split('.')[0].title() }}</h4>
                                {# For mobile devices #}
                                <div class="click-me">
                                    <p>(Click Me)</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}