[Desktop Entry]
Name[am]=Atril ሰነድ መመልከቻ 
Name[ar]=عارض الوثائق منضدة
Name[ast]=Visor de documentos Atril
Name[be]=Прагляднік дакументаў Atril
Name[bg]=Atril преглед на документи
Name[bs]=Atril Pregledač Dokumenata
Name[ca]=Visualitzador de documents Atril
Name[ca@valencia]=Visualitzador de documents Atril
Name[cmn]=Atril 文件檢視器
Name[cs]=Prohlížeč dokumentů Atril
Name[da]=Atril - dokumentfremviser
Name[de]=Atril-Dokumentenbetrachter
Name[el]=Εφαρμογή προβολής εγγράφων Atril
Name[en_AU]=Atril Document Viewer
Name[en_GB]=Atril Document Viewer
Name[es]=Visor de documentos Atril
Name[es_AR]=Visor de Documentos Atril
Name[et]=Dokumendinäitaja Atril
Name[eu]=Atril dokumentu ikustailea
Name[fi]=Atril-asiakirjakatselin
Name[fr]=Visionneur de documents Atril
Name[gl]=Visor de documentos Atril
Name[he]=מציג המסמכים Atril
Name[hr]=Atril preglednik dokumenata
Name[hu]=Atril dokumentum-megjelenítő
Name[hy]=Atril Փաստաթղթի Դիտող
Name[ia]=Visualisator de Documentos Atril
Name[id]=Atril Penampil Dokumen
Name[ie]=Visor de documentes Atril
Name[it]=Visualizzatore documenti Atril
Name[ja]=Atril 文書ビューアー
Name[kk]=Atril құжаттарды көрсетушісі
Name[kn]=Atril ದಸ್ತಾವೇಜು ವೀಕ್ಷಕ
Name[ko]=Atril 문서 뷰어
Name[lt]=Atril dokumentų žiūryklė
Name[mr]=Atril दस्तऐवज दर्शक
Name[ms]=Pelihat Dokumen Atril
Name[nb]=Dokumentfremviseren Atril
Name[ne]=आएट्रिल कागजात दृश्यक
Name[nl]=Atril Documentweergave
Name[oc]=Visualizaira de documents Atril
Name[pl]=Przeglądarka dokumentów Atril
Name[pt]=Visualizador de Documentos Atril
Name[pt_BR]=Visualizador de Documentos Atril
Name[ro]=Vizualizatorul de documente Atril
Name[ru]=Просмотрщик документов Atril
Name[sc]=Atril - Bisore de Documentos
Name[sk]=Prehliadač dokumentov Atril
Name[sl]=Atril pregledovalnik dokumentov
Name[sr]=Прегледач докумената Атрил
Name[sv]=Atril Dokumentvisare
Name[th]=โปรแกรมดูเอกสาร Atril
Name[tr]=Atril Belge Görüntüleyicisi
Name[uk]=Переглядач документів Atril
Name[uz]=Atril Hujjat Ko'ruvchisi
Name[zh_CN]=Atril 文档查看器
Name[zh_TW]=Atril 文件檢視器
Name=Atril Document Viewer
GenericName[af]=Dokumentbekyker
GenericName[am]=ሰነድ መመልከቻ 
GenericName[ar]=عارض الوثائق
GenericName[as]=ডকুমেন্ট প্ৰদৰ্শন ব্যৱস্থা
GenericName[ast]=Visor de documentos
GenericName[be]=Прагляднік дакументаў
GenericName[bg]=Преглед на документи
GenericName[bn]=নথি প্রদর্শক
GenericName[bn_IN]=ডকুমেন্ট প্রদর্শন ব্যবস্থা
GenericName[br]=Gwelerez teulioù
GenericName[bs]=Pregledač dokumenata
GenericName[ca]=Visualitzador de documents
GenericName[ca@valencia]=Visualitzador de documents
GenericName[cmn]=文件檢視器
GenericName[cs]=Prohlížeč dokumentů
GenericName[cy]=Gwyliwr dogfennau
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentenbetrachter
GenericName[dz]=ཡིག་ཆ་མཐོང་བྱེད།
GenericName[el]=Εφαρμογή προβολής εγγράφων
GenericName[en_AU]=Document Viewer
GenericName[en_CA]=Document Viewer
GenericName[en_GB]=Document Viewer
GenericName[eo]=Dokumentrigardilo
GenericName[es]=Visor de documentos
GenericName[es_AR]=Visor de Documentos
GenericName[et]=Dokumendinäitaja
GenericName[eu]=Dokumentu ikustailea
GenericName[fa]=نمایشگر نوشتار
GenericName[fi]=Asiakirjakatselin
GenericName[fr]=Visionneuse de documents
GenericName[ga]=Amharcán Cáipéisí
GenericName[gl]=Visor de documentos
GenericName[gu]=દસ્તાવેજ દર્શક
GenericName[he]=מציג מסמכים
GenericName[hi]=लेखपत्र प्रदर्शक
GenericName[hr]=Preglednik dokumenata
GenericName[hu]=Dokumentum-megjelenítő
GenericName[hy]=Փաստաթուղթ Դիտող
GenericName[ia]=Visualisator de Documentos
GenericName[id]=Penampil Dokumen
GenericName[ie]=Visor de documentes
GenericName[is]=Skjalaskoðari
GenericName[it]=Visualizzatore di documenti
GenericName[ja]=文書ビューアー
GenericName[ka]=დოკუმენტების მნახველი
GenericName[kk]=Құжаттарды көрсету қолданбасы
GenericName[kn]=ದಸ್ತಾವೇಜು ವೀಕ್ಷಕ
GenericName[ko]=문서 뷰어
GenericName[ks]=कागजात वुछनुक
GenericName[ku]=Nîşanderê Belgeyan
GenericName[ku_IQ]=پیشاندەری بەڵگەنامە
GenericName[ky]=Иш кагаз көрсөткүч
GenericName[lt]=Dokumentų žiūryklė
GenericName[lv]=Dokumentu skatītājs
GenericName[mai]=दस्ताबेज प्रदर्शक
GenericName[mg]=Mpaneho tahirin-kevitra
GenericName[mk]=Прегледувач за документи
GenericName[ml]=രേഖാദര്‍ശിനി
GenericName[mn]=Баримт бичиг үзүүлэгч
GenericName[mr]=दस्तऐवज दर्शक
GenericName[ms]=Pelihat Dokumen
GenericName[nb]=Dokumentframviser
GenericName[nds]=Dokumentkieker
GenericName[ne]=कागजात दृश्यक
GenericName[nl]=Documentweergave
GenericName[nn]=Dokumentframsynar
GenericName[oc]=Afichador de documents
GenericName[or]=ଦଲିଲ ପ୍ରଦର୍ଶକ
GenericName[pa]=ਡੌਕੂਮੈਂਟ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka dokumentów
GenericName[ps]=لاسوند ليدانی
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
GenericName[ro]=Vizualizator de documente
GenericName[ru]=Просмотрщик документов
GenericName[sc]=Bisore de Documentos
GenericName[si]=ලේඛන දසුන
GenericName[sk]=Prehliadač dokumentov
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sq]=Shikues dokumentesh
GenericName[sr]=Прегледач докумената
GenericName[sr@latin]=Pregledač dokumenata
GenericName[sv]=Dokumentvisare
GenericName[ta]=ஆவண காட்டி
GenericName[te]=పత్ర దర్శిని
GenericName[th]=โปรแกรมดูเอกสาร
GenericName[tr]=Belge Görüntüleyici
GenericName[uk]=Переглядач документів
GenericName[uz]=Hujjat Ko'ruvchi
GenericName[vi]=Bộ xem tài liệu
GenericName[wa]=Håyneu di documints
GenericName[zh_CN]=文档查看器
GenericName[zh_HK]=文件檢視器
GenericName[zh_TW]=文件檢視器
GenericName=Document Viewer
Comment[am]=የበርካታ-ገጽ ሰነዶች መመልከቻ 
Comment[ar]=اعرض المُستندات متعددة الصفحات
Comment[ast]=Ver documentos multipáxina
Comment[be]=Праглядаць шматстаронкавыя дакументы
Comment[bg]=Преглед на документи с много страници
Comment[bn]=বহুপৃষ্ঠা সম্বলিত নথি প্রদর্শন
Comment[ca]=Visualitzeu documents de diverses pàgines
Comment[ca@valencia]=Visualitzeu documents de múltiples pàgines
Comment[cmn]=顯示多頁文件
Comment[cs]=Zobrazovat dokumenty po více stránkách
Comment[da]=Vis dokumenter med flere sider
Comment[de]=Mehrseitige Dokumente anzeigen
Comment[el]=Προβολή εγγράφων πολλαπλών σελίδων
Comment[en_AU]=View multi-page documents
Comment[en_GB]=View multi-page documents
Comment[es]=Vea documentos de varias páginas
Comment[et]=Mitmeleheküljeliste dokumentide vaatamine
Comment[eu]=Ikusi orrialde anitzeko dokumentuak
Comment[fi]=Katsele monisivuisia asiakirjoja
Comment[fr]=Afficher des documents multipages
Comment[gl]=Ver documentos de varias páxinas
Comment[gu]=ઘણા-પાનાનાં દસ્તાવેજો જુઓ
Comment[he]=הצגת מסמכים מרובי עמודים
Comment[hr]=Pogledaj višestranične dokumente
Comment[hu]=Többoldalas dokumentumok megjelenítése
Comment[hy]=Դիտել բազմաէջ փաստաթղթեր
Comment[id]=Melihat dokumen multihalaman
Comment[ie]=Vider documentes con mult págines
Comment[it]=Visualizza documenti multi-pagina
Comment[ja]=複数ページの文書を表示します
Comment[kk]=Көппарақты құжаттарды қарау
Comment[kn]=ಬಹು-ಪುಟದ ದಸ್ತಾವೇಜನ್ನು ವೀಕ್ಷಿಸು
Comment[ko]=다중 페이지 문서를 봅니다
Comment[ky]=Көп барактуу иш кагаздарды көрүү
Comment[lt]=Peržiūrėti kelių puslapių dokumentams
Comment[lv]=Skatīt lasāmus dokumentus
Comment[mn]=Олон хуудаст баримт бичиг үзэх
Comment[mr]=अनेक पानाचे दस्तऐवज बघा
Comment[ms]=Paparkan 
Comment[nb]=Vis dokumenter med mange sider
Comment[ne]=बहु पृष्ठ कागजात हेर्नुहोस्
Comment[nl]=Documenten met meerdere pagina's weergeven
Comment[nn]=Vis dokument med mange sider
Comment[oc]=Veire documents multi-paginas
Comment[pa]=ਮਲਟੀ-ਪੇਜ਼ ਡੌਕੂਮੈਂਟ ਵੇਖੋ
Comment[pl]=Wyświetlanie wielostronicowych dokumentów
Comment[pt]=Visualizar documentos com várias páginas
Comment[pt_BR]=Visualize documentos de múltiplas páginas
Comment[ro]=Vizualizați documente cu mai multe pagini
Comment[ru]=Просмотр многостраничных документов
Comment[sc]=Pòmpia documentos multipàgina
Comment[sk]=Zobraziť viac-stranové dokumenty
Comment[sl]=Poglejte večstranske dokumente
Comment[sr]=Прегледајте вишестраничне документе
Comment[sr@latin]=Pregledajte višestranične dokumente
Comment[sv]=Visa dokument med flera sidor
Comment[ta]=பல பக்க ஆவணங்களை பார்வையிடு
Comment[th]=ดูเอกสารแบบหลายหน้า
Comment[tr]=Çok sayfalı belgeleri göster
Comment[uk]=Перегляд багатосторінкових документів
Comment[zh_CN]=查看多页文档
Comment[zh_HK]=顯示多頁文件
Comment[zh_TW]=顯示多頁文件
Comment=View multi-page documents
TryExec=atril
Exec=atril %U
StartupNotify=true
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=atril
X-MATE-DocPath=
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=atril
X-MATE-Bugzilla-Component=BugBuddyBugs
X-MATE-Bugzilla-Version=1.26.0
Categories=GTK;Office;Viewer;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=MATE;document;visualitzador;pdf;dvi;ps;xps;tiff;pixbuf;djvu;còmics;
Keywords[cs]=MATE;dokument;dokumentů;dokumenty;prohlížeč;pdf;dvi;ps;xps;tiff;pixbuf;djvu;komiks;
Keywords[da]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;dokument;fremviser;tegneserier;
Keywords[de]=MATE;Dokument;Betrachter,pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics
Keywords[es]=MATE;documento;visor;pdf;dvi;ps;xps;tiff;pixbuf;djvu;cómics;
Keywords[fr]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
Keywords[gl]=MATE;documento;visor;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
Keywords[he]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;\nמסמך;מציג;מסמכים;קומיקס;
Keywords[hu]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;dokumentum;nézegető;megjelenítő;képregény;
Keywords[id]=MATE;dokumen;penampil;pdf;dvi;ps;xps;tiff;pixbuf;djvu;komik;
Keywords[ie]=MATE;document;visor;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;desinat;dessinat;
Keywords[it]=MATE;documento;documenti;visualizzatore;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
Keywords[ja]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
Keywords[ko]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;MATE;문서;뷰어;코믹스;만화;
Keywords[lt]=MATE;dokumentų;žiūryklė;pdf;dvi;ps;xps;tiff;pixbuf;djvu;komiksai;
Keywords[ms]=MATE;dokumen;pelihat;pdf;dvi;ps;xps;tiff;pixbuf;djvu;komik;
Keywords[nb]=MATE;dokument;visning;pdf;dvi;ps;xps;tiff;pixbuf;djvu;tegneserier;
Keywords[nl]=MATE;document;kijker;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
Keywords[oc]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;dessenh;visualizar;pdf;
Keywords[pl]=MATE;dokument;przeglądarka;pdf;dvi;ps;xps;tiff;pixbuf;djvu;komiksy;
Keywords[pt]=MATE;documento;visualizador;pdf;dvi;ps;xps;tiff;pixbuf;djvu;banda desenhada;
Keywords[ru]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;документ;просмотр;просмотрщик;комикс;комиксы;
Keywords[sk]=MATE;dokument;prehliadač;pdf;dvi;ps;xps;tiff;pixbuf;djvu;komiksy;
Keywords[sl]=MATE;dokumenti;pregledovalnik;pdf;dvi;ps;xps;tiff;pixbuf;djvu;stripi;
Keywords[sr]=Мејт;документ;прегледач;пдф;дви;пс;икспс;тифф;пиксбуф;дјву;стрип;
Keywords[sv]=MATE;dokument;visare;pdf;dvi;ps;xps;tiff;pixbuf;djvu;serier;
Keywords[tr]=MATE;belge;görüntüleyici;pdf;ps;xps;tiff;pixbuf;djvu;çizgi;roman;
Keywords[uk]=MATE;документ;переглядач;pdf;dvi;ps;xps;tiff;pixbuf;djvu;комікси;
Keywords[zh_CN]=MATE;文档;阅读;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
Keywords[zh_TW]=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
Keywords=MATE;document;viewer;pdf;dvi;ps;xps;tiff;pixbuf;djvu;comics;
MimeType=application/pdf;application/x-bzpdf;application/x-gzpdf;application/x-xzpdf;application/postscript;application/x-bzpostscript;application/x-gzpostscript;image/x-eps;image/x-bzeps;image/x-gzeps;application/x-dvi;application/x-bzdvi;application/x-gzdvi;image/vnd.djvu;image/vnd.djvu+multipage;image/tiff;application/x-cbr;application/x-cbz;application/x-cb7;application/x-cbt;application/vnd.comicbook+zip;application/vnd-comicbook.rar;image/*;application/oxps;application/vnd.ms-xpsdocument;application/epub+zip;
