[Desktop Entry]
Name=Blackbird
Type=Application
Categories=osint-username;
Terminal=true
Icon=/usr/share/blackbird/blackbird.png
Exec=/usr/share/kali-menu/exec-in-shell blackbird -h
Path=
StartupNotify=false
