[Desktop Entry]
Name[ast]=Alministrador Bluetooth
Name[be]=Кіраўнік Bluetooth
Name[ca]=Gestor de Bluetooth
Name[da]=Bluetooth-håndtering
Name[de]=Bluetooth Manager
Name[el]=Διαχειριστής Bluetooth
Name[es]=Gestor de conexiones Bluetooth
Name[et]=Bluetoothi haldur
Name[fi]=Bluetooth-hallinta
Name[fr]=Gestionnaire Bluetooth
Name[he]=מנהל בלוטות׳
Name[hr]=Bluetooth upravitelj
Name[hu]=Bluetooth kezelő
Name[it]=Gestore Bluetooth
Name[ja]=Bluetooth マネージャー
Name[ko]=블루투스 관리자
Name[lt]=„Bluetooth“ tvarkytuvė
Name[nb]=Håndtering av Blåtann
Name[nl]=Bluetooth-beheerder
Name[pl]=Menedżer Bluetooth
Name[pt_BR]=Gerenciador de Bluetooth
Name[pt]=Gestor de Bluetooth
Name[ru]=Bluetooth менеджер
Name[sk]=Správca Bluetooth
Name[sl]=Bluetooth upravljalnik
Name[sv]=Bluetooth hanterare
Name[tr]=Bluetooth Yöneticisi
Name[uk]=Засіб керування Bluetooth
Name[vi]=Trình quản lý Bluetooth
Name[zh_CN]=蓝牙管理器
Name[oc]=Gestionari Bluetooth
Name=Bluetooth Manager
Comment[ast]=Alministrador Bluetooth Blueman
Comment[be]=Blueman - кіраўнік Bluetooth
Comment[ca]=Gestor de Bluetooth Blueman
Comment[da]=Blueman Bluetooth-håndtering
Comment[de]=Blueman Bluetooth Manager
Comment[el]=Διαχειριστής bluetooth του blueman
Comment[es]=Gestor de conexiones Bluetooth Blueman
Comment[et]=Bluetoothi haldur Blueman
Comment[fi]=Blueman bluetooth-hallinta
Comment[fr]=Gestionnaire Bluetooth Blueman
Comment[he]=Blueman - מנהל בלוטות׳
Comment[hr]=Blueman Bluetooth upravitelj
Comment[hu]=Blueman Bluetooth-kezelő
Comment[it]=Blueman Gestore Bluetooth
Comment[ja]=Blueman Bluetooth マネージャー
Comment[ko]=Blueman 블루투스 관리자
Comment[lt]=Blueman „Bluetooth“ tvarkytuvė
Comment[nb]=Blueman Blåtannsbehandler
Comment[nl]=Blueman Bluetooth-beheer
Comment[pl]=Menedżer Bluetooth Blueman
Comment[pt_BR]=Gerenciador de Bluetooth Blueman
Comment[pt]=Gestor de Bluetooth Blueman
Comment[ru]=Менеджер Bluetooth Blueman
Comment[sk]=Správca Bluetooth Blueman
Comment[sl]=Blueman Bluetooth upravljalnik
Comment[sv]=Blueman Bluetooth hanterare
Comment[tr]=Blueman Bluetooth Yöneticisi
Comment[uk]=Blueman — засіб керування Bluetooth
Comment[zh_CN]=Blueman 蓝牙管理器
Comment[oc]=Gestionari Bluetooth Blueman
Comment=Blueman Bluetooth Manager
Icon=blueman
Exec=blueman-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;HardwareSettings;
