[Desktop Entry]
Name[am]=የ ብሉቱዝ አዳፕተሮች
Name[ar]=محولات بلوتوث
Name[ast]=Adautadores Bluetooth
Name[be]=Bluetooth-адаптары
Name[bg]=Адаптери за блутут
Name[bs]=Bluetooth Adapteri
Name[ca]=Adaptadors Bluetooth
Name[cs]=Bluetooth adaptéry
Name[da]=Bluetooth-adaptere
Name[de]=Bluetooth-Adapter
Name[el]=Προσαρμογείς Bluetooth
Name[en_AU]=Bluetooth Adaptors
Name[en_GB]=Bluetooth Adaptors
Name[es]=Adaptadores Bluetooth
Name[et]=Bluetooth'i adapterid
Name[eu]=Bluetooth-egokigailuak
Name[fa]=سازگار کننده‌ی بلوتوث
Name[fi]=Bluetooth-sovittimet
Name[fr]=Adaptateurs Bluetooth
Name[gl]=Adaptadores de Bluetooth
Name[he]=מתאמי בלוטות׳
Name[hi]=ब्लूटूथ एडाप्टर
Name[hr]=Bluetooth adapteri
Name[hu]=Bluetooth csatolók
Name[id]=Adapter Bluetooth
Name[it]=Adattatori Bluetooth
Name[ja]=Bluetooth アダプター
Name[ko]=블루투스 어댑터
Name[lt]=„Bluetooth“ adapteriai
Name[lv]=Bluetooth Adapteri
Name[mk]=Блутут адаптери
Name[mr]=Bluetooth अडॅप्टर
Name[ms]=Penyesuai Bluetooth
Name[nb]=Blåtannsadaptere
Name[nl]=Bluetooth-adapters
Name[pl]=Adaptery Bluetooth
Name[pt_BR]=Adaptadores de Bluetooth
Name[pt]=Adaptadores Bluetooth
Name[ro]=Adaptoare bluetooth
Name[ru]=Адаптеры Bluetooth
Name[sk]=Adaptéry Bluetooth
Name[sl]=Adapter bluetooth
Name[sq]=Përshtatësat Bluetooth
Name[sr]=Примопредајници Блутута
Name[sv]=Blåtandsadaptrar
Name[sw]=Adapta za Bluetooth
Name[tr]=Bluetooth Bağdaştırıcıları
Name[uk]=Адаптери Bluetooth
Name[zh_CN]=蓝牙适配器
Name[zh_HK]=藍牙適配器
Name[zh_TW]=藍牙配接器
Name[cy]=Addasyddion Bluetooth
Name[oc]=Adaptators Bluetooth
Name=Bluetooth Adapters
Comment[be]=Вызначыць уласцівасці Bluetooth-адаптара
Comment[da]=Indstil Bluetooth-adapteres egenskaber
Comment[de]=Bluetooth-Adapter-Einstellungen
Comment[el]=Ρύθμιση προσαρμογέα Bluetooth
Comment[es]=Establecer propiedades del adaptador Bluetooth
Comment[et]=Seadista Bluetooth adapteri omadusi
Comment[fi]=Aseta Bluetooth-sovittimen ominaisuudet
Comment[fr]=Définir les propriétés de l'adaptateur Bluetooth
Comment[he]=הגדרת מאפייני מתאם בלוטות׳
Comment[hr]=Postavi svojstva Bluetooth adaptera
Comment[hu]=Bluetooth csatoló beállítások
Comment[it]=Imposta le Proprietà di un Adattatore Bluetooth
Comment[ja]=Bluetooth アダプター属性設定
Comment[ko]=블루투스 어댑터 속성 지정하기
Comment[lt]=Nustatyti „Bluetooth“ adapterio savybes
Comment[nb]=Velg egenskaper for Blåtannsadaptere
Comment[nl]=Eigenschappen instellen voor Bluetooth-adapters
Comment[pl]=Ustaw właściwości adaptera Bluetooth
Comment[pt_BR]=Definir as Propriedades do Adaptador de Bluetooth
Comment[pt]=Definir propriedades de adaptadores de Bluetooth
Comment[ru]=Установить свойства адаптера Bluetooth
Comment[sk]=Nastavuje vlastnosti bluetooth adaptéra
Comment[sl]=Nastavi lastnosti Bluetooth vmesnika
Comment[tr]=Bluetooth Bağdaştırıcısı Özelliklerini Ayarla
Comment[uk]=Встановити властивості адаптера Bluetooth
Comment[zh_CN]=设置蓝牙适配器属性
Comment[oc]=Definir las proprietats de l'adaptator Bluetooth
Comment=Set Bluetooth Adapter Properties
Exec=blueman-adapters
Icon=blueman-device
Terminal=false
Type=Application
Categories=X-XFCE;Settings;HardwareSettings;X-XFCE-SettingsDialog;GTK;
StartupNotify=true
OnlyShowIn=XFCE;MATE;
NoDisplay=false
X-XfceSettingsName=Bluetooth
X-XfcePluggable=true
