[Desktop Entry]
Name[ca]=Dibuix
Name[cs]=Kreslení
Name[da]=Drawing
Name[de]=Zeichnung
Name[es]=Dibujo
Name[eu]=Drawing
Name[fi]=Piirtäminen
Name[fr]=Dessin
Name[he]=ציור
Name[hi]=चित्र
Name[hr]=Crtanje
Name[hu]=Rajzolás
Name[it]=Drawing
Name[ja]=Drawing
Name[ko]=그림판
Name[nl]=Tekenen
Name[oc]=Dessenh
Name[pl]=Rysunek
Name[pt_BR]=Drawing
Name[ru]=Drawing
Name[sv]=Drawing
Name[tr]=Çizim
Name[zh_CN]=Drawing
Name[zh_TW]=Drawing
Name=Drawing
Comment[ca]=Utilitat de dibuix simple
Comment[cs]=Jednoduchý kreslicí nástroj
Comment[da]=Simpelt tegneredskab
Comment[de]=Einfaches Zeichenprogramm
Comment[es]=Utilidad de dibujo sencilla
Comment[eu]=Marrazteko utilitate sinplea
Comment[fi]=Helppo piirustus apuohjelma
Comment[fr]=Utilitaire simple pour le dessin
Comment[he]=כלי ציור פשוט
Comment[hi]=सरल चित्र यूटिलिटी
Comment[hr]=Jednostavan program za crtanje
Comment[hu]=Egyszerű rajzoló alkalmazás
Comment[id]=Utilitas menggambar yang sederhana
Comment[it]=Semplice applicazione per il disegno
Comment[ja]=シンプルな描画ユーティリティ
Comment[ko]=간단한 그리기 유틸리티
Comment[nl]=Eenvoudig tekenprogramma
Comment[pl]=Proste narzędzie do rysowania
Comment[pt_BR]=Ferramenta de desenho simples
Comment[ru]=Простой инструмент для рисования
Comment[sv]=Enkelt ritverktyg
Comment[tr]=Basit çizim aracı
Comment[zh_CN]=简单的绘图工具
Comment[zh_TW]=簡單的繪圖工具
Comment=Simple drawing utility
Exec=drawing %U
# Icon name, do not translate
Icon=com.github.maoschanz.drawing
Terminal=false
Type=Application
StartupNotify=true
# This is a list of keywords, you can add any keyword that would be useful to
# find the app in your language. "Paint" should stay listed in its untranslated
# version too, so people looking for a MS Paint equivalent will find the app.
# Don't forget the semicolons.
Keywords[ca]=Paint;Pintura;Esbós;Pinzell;
Keywords[cs]=Paint;Kreslení;Skica;Tužka;
Keywords[da]=Paint;Tegn;Blyant;
Keywords[de]=Paint;Skizze;Bleistift;Zeichnen;Malen;Zeichnung;
Keywords[es]=Paint;Pintar;Boceto;Lápiz;
Keywords[eu]=Paint;Zirriborroa;Arkatza;
Keywords[fi]=Paint;Maali;Luonnos;Lyijykynä;
Keywords[fr]=Paint;Croquis;Crayon;
Keywords[he]=Paint;שרטט;עיפרון;
Keywords[hi]=पेंट;स्केच;पेंसिल;
Keywords[hr]=Paint;Slikanje;Skiciranje;Olovka;
Keywords[hu]=Paint;Festés;Rajzolás;Skicc;Ceruza;Ecset;Festő
Keywords[id]=Paint;Sketsa;Pensil;
Keywords[it]=Paint;Colore;Bozze;Matita;
Keywords[ja]=Paint;ペイント;描画;スケッチ;ペンシル;鉛筆;
Keywords[ko]=Paint;그림판;페인트;스케치;
Keywords[nl]=Paint;Verven;Schetsen;Potlood;
Keywords[pl]=Paint;Szkic;Ołówek;
Keywords[pt_BR]=Paint;Pintura;Esboço;Lápis;
Keywords[ru]=Paint;краска;эскиз;карандаш;
Keywords[sv]=Paint;Måla;Rita;Penna;
Keywords[tr]=Paint;Çizim;Boyama;Karakalem;
Keywords[zh_CN]=Paint;素描;铅笔;
Keywords[zh_TW]=Paint;素描;鉛筆;
Keywords=Paint;Sketch;Pencil;
Categories=reporting-tools;
MimeType=image/png;image/bmp;image/jpeg;
Actions=new-window;new-tab;edit-clipboard;
# Translators: Do NOT translate or transliterate this text
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ko]=새창
Name[nl]=Nieuw venster
Name[oc]=Novèla fenèstra
Name[pl]=Nowe okno
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[zh_CN]=新窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=drawing --new-window

[Desktop Action new-tab]
Name[ca]=Imatge nova
Name[cs]=Nový obrázek
Name[da]=Nyt billede
Name[de]=Neues Bild
Name[es]=Imagen nueva
Name[eu]=Irudi berria
Name[fi]=Uusi kuva
Name[fr]=Nouvelle image
Name[he]=תמונה חדשה
Name[hi]=नई इमेज
Name[hr]=Nova slika
Name[hu]=Új kép
Name[id]=Gambar Baru
Name[it]=Nuova Immagine
Name[ja]=新しい画像
Name[ko]=새로운 이미지
Name[nl]=Nieuwe afbeelding
Name[oc]=Imatge nèlov
Name[pl]=Nowy obraz
Name[pt_BR]=Nova imagem
Name[ru]=Новое изображение
Name[sv]=Ny bild
Name[tr]=Yeni Görüntü
Name[zh_CN]=新图像
Name[zh_TW]=新影像
Name=New Image
Exec=drawing --new-tab

[Desktop Action edit-clipboard]
Name[ca]=Edita la imatge al porta-retalls
Name[cs]=Upravit obrázek ve schránce
Name[da]=Rediger billede i udklipsholder
Name[de]=Bild in Zwischenablage bearbeiten
Name[es]=Editar imagen del portapapeles
Name[eu]=Arbeleko irudia editatu
Name[fi]=Muokkaa kuvaa leikepöydällä
Name[fr]=Éditer l'image dans le presse-papier
Name[hi]=क्लिपबोर्ड की इमेज को एडिट करें
Name[hr]=Uredi sliku u međuspremniku
Name[hu]=Kép szerkesztése a vágólapról
Name[id]=Sunting Gambar di papan klip
Name[it]=Modifica l'Immagine negli Appunti
Name[ja]=クリップボードの画像を編集
Name[ko]=클립 보드에서 이미지 편집
Name[nl]=Klembordafbeelding bewerken
Name[pl]=Edytuj obraz ze schowka
Name[pt_BR]=Editar imagem na área de transferência
Name[ru]=Редактировать изображение в буфере обмена
Name[sv]=Redigera bilden i urklipp
Name[tr]=Panodaki Resmi Düzenle
Name[zh_CN]=在剪贴板中编辑图像
Name[zh_TW]=在剪貼簿中編輯影像
Name=Edit Image in Clipboard
Exec=drawing --edit-clipboard

