[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/share/kali-themes/default-browser %u
Icon=webbrowser
StartupNotify=true
Terminal=false
Categories=Network;WebBrowser;
OnlyShowIn=KDE;
Name=Web Browser
Name[ar]=متصفّح وِب
Name[be]=Вэб-браўзер
Name[be@tarask]=Гартач сеціва
Name[bg]=  Уеб четец
Name[bn]=ওয়েব ব্রাউজার
Name[ca]=Navegador web
Name[cs]=Webový prohlížeč
Name[da]=Webbrowser
Name[de]=Internetnavigator
Name[el]=Περιηγητής διαδικτύου
Name[en_AU]=Web Browser
Name[en_CA]=Web Browser
Name[en_GB]=Web Browser
Name[es]=Navegador web
Name[et]=Veebisirvija
Name[eu]=Web nabigatzailea
Name[fi]=Verkkoselain
Name[fr]=Navigateur Web
Name[gl]=Navegador web
Name[he]=דפדפן רשת
Name[hr]=Web preglednik
Name[hu]=Webböngésző
Name[hy_AM]=Ցանցային զննարկիչ
Name[hye]=Ցանցային զննարկիչ
Name[id]=Peramban Web
Name[ie]=Navigator Web
Name[is]=Netvafri
Name[it]=Browser web
Name[ja]=ウェブブラウザー
Name[kk]=Веб браузері
Name[ko]=웹 브라우저
Name[lt]=Saityno naršyklė
Name[ms]=Pelayar Sesawang
Name[nb]=Nettleser
Name[nl]=Webbrowser
Name[nn]=Nettlesar
Name[oc]=Navigador Web
Name[pl]=Przeglądarka internetowa
Name[pt]=Navegador web
Name[pt_BR]=Navegador web
Name[ro]=Navigator
Name[ru]=Веб-браузер
Name[sk]=Internetový prehliadač
Name[sl]=Spletni brskalnik
Name[sq]=Shfletues
Name[sr]=Прегледник мреже
Name[sv]=Webbläsare
Name[th]=โปรแกรมท่องเว็บ
Name[tr]=İnternet Tarayıcısı
Name[ug]=توركۆرگۈ
Name[uk]=Переглядач Web
Name[zh_CN]=网络浏览器
Name[zh_HK]=瀏覽網頁
Name[zh_TW]=網路瀏覽器
Comment=Browse the web
Comment[ar]=تصفح الوِب
Comment[be]=Праглядзець у сеціве
Comment[be@tarask]=Праглядайце сеціва
Comment[bg]=Сърфиране в  мрежата
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[ca]=Navegueu pel web
Comment[cs]=Procházet web
Comment[da]=Gennemse webbet
Comment[de]=Das Internet durchsuchen
Comment[el]=Περιηγηθείτε στον ιστό
Comment[en_AU]=Browse the web
Comment[en_CA]=Browse the web
Comment[en_GB]=Browse the web
Comment[es]=Navegar por la red
Comment[et]=Sirvi veebi
Comment[eu]=Nabigatu web-a
Comment[fi]=Selaa verkkosivuja
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar pola web
Comment[he]=סייר ברשת
Comment[hr]=Pregledaj web
Comment[hu]=Webböngészés
Comment[hy_AM]=Որոնել ցանցում
Comment[hye]=Որոնել ցանցում
Comment[id]=Ramban web
Comment[ie]=Navigar li Web
Comment[is]=Flakka á vefnum
Comment[it]=Esplora la rete
Comment[ja]=ウェブを閲覧します
Comment[kk]=Интернетті шолу
Comment[ko]=웹 탐색
Comment[lt]=Naršyti internete
Comment[ms]=Layar sesawang
Comment[nb]=Surfe på nettet
Comment[nl]=Verken het web
Comment[nn]=Surf på nettet
Comment[oc]=Navigar sus internet
Comment[pl]=Przegląda zawartość sieci internetowej
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegar pela web
Comment[ro]=Navigați pe net
Comment[ru]=Смотреть в Интернете
Comment[sk]=Prehliadať internet
Comment[sl]=Brskaj po spletu
Comment[sq]=Shfletoni në Web
Comment[sr]=Прегледајте веб
Comment[sv]=Surfa på webben
Comment[th]=ท่องดูเว็บ
Comment[tr]=Web'de gezin
Comment[ug]=تور كۆرىدۇ
Comment[uk]=Мандруйте Інтернетом
Comment[zh_CN]=浏览网络
Comment[zh_HK]=瀏覽網頁
Comment[zh_TW]=瀏覽網路
