[Desktop Entry]
Name=Findigo
Type=Application
Categories=osint-phone-number;
Terminal=true
Icon=utilities-terminal
Exec=/usr/share/kali-menu/exec-in-shell "findigo -h"
Path=
StartupNotify=false
