[Desktop Entry]
Name=FoxtrotGPS
Name[bg]=FoxtrotGPS
Name[cs]=FoxtrotGPS
Name[de]=FoxtrotGPS
Name[es]=FoxtrotGPS
Name[fi]=FoxtrotGPS
Name[fr]=FoxtrotGPS
Name[hu]=FoxtrotGPS
Name[it]=FoxtrotGPS
Name[ja]=FoxtrotGPS
Name[nl]=FoxtrotGPS
Name[pl]=FoxtrotGPS
Name[pt_BR]=FoxtrotGPS
Name[sk]=FoxtrotGPS
Name[sr]=ФокстротГПС
GenericName=GPS and Map
GenericName[cs]=GPS a mapa
GenericName[de]=GPS und Karte
GenericName[es]=GPS y mapa
GenericName[fi]=GPS ja kartta
GenericName[fr]=GPS et carte
GenericName[hu]=GPS és térkép
GenericName[it]=GPS e Mappe
GenericName[ja]=GPS と地図
GenericName[nl]=GPS en Map
GenericName[pl]=GPS i Mapa
GenericName[pt_BR]=GPS e Mapa
GenericName[sr]=ГПС и мапа
Comment=Display map and GPS position
Comment[cs]=Zobraz mapu a GPS souřadnice
Comment[de]=Karte und GPS-Position anzeigen
Comment[es]=Mostrar mapa y posición GPS
Comment[fi]=Näytä kartta ja GPS-sijainti
Comment[fr]=Afficher la carte et la position GPS
Comment[hu]=Térkép és GPS pozíció megjelenítése
Comment[it]=Mostra la mappa e la posizione GPS
Comment[ja]=地図と GPS 位置情報を表示します
Comment[nl]=Een kaart en GPS-positie weergeven
Comment[pl]=Wyświetl mapę i pozycję GPS
Comment[pt_BR]=Mostra mapa e posição GPS
Comment[sr]=Прикажи мапу и ГПС положај
Keywords=OpenStreetMap;OSM;Track;Trip;map;location;
Keywords[cs]=OpenStreetMap;OSM;cesta;trasa;výlet;mapa;místo;
Keywords[de]=OpenStreetMap;OSM;Strecke;Ausflug;Karte;Ort;
Keywords[es]=OpenStreetMap;OSM;Camino;Viaje;mapa;ubicación;
Keywords[fi]=OpenStreetMap;OSM;reitti;matka;kartta;sijainti;
Keywords[fr]=OpenStreetMap;OSM;Parcours;Trajet;carte;Lieu;
Keywords[it]=OpenStreetMap;OSM;Traccia;Gita;mappa;posizione;
Keywords[nl]=OpenStreetMap;OSM;Track;Trip;kaart;locatie;
Keywords[pl]=OpenStreetMap;OSM;Ślad;Wycieczka;mapa;lokalizacja;
Keywords[sr]=OpenStreetMap;OSM;Путања;Пут;мапа;положај;
Version=1.0
Type=Application
Exec=foxtrotgps
Icon=foxtrotgps
Terminal=false
Categories=GTK;Utility;Geography;maps
StartupNotify=true
