[Desktop Entry]
Name[as]=অভিগম প্ৰমপ্ট
Name[be]=Запыт на доступ
Name[bg]=Съобщение при достъп
Name[bs]=Zatražiti pristup
Name[ca]=Petició d'accés
Name[ca@valencia]=Petició d'accés
Name[cs]=Dotaz na přístup
Name[da]=Adgangsprompt
Name[de]=Zugangsnachfrage
Name[el]=Τερματικό
Name[en_GB]=Access Prompt
Name[es]=Petición de acceso
Name[eu]=Sarbidetzaren gonbitea
Name[fa]=فرمان دسترسی
Name[fi]=Käyttökehote
Name[fr]=Invite d’accès
Name[fur]=Pronte l'acès
Name[gl]=Petición de acceso
Name[he]=אימות גישה
Name[hi]=कहने के लिए प्रेरित पहुँच
Name[hr]=Upit pristupa
Name[hu]=Hozzáféréskérés
Name[id]=Sapaan Akses
Name[it]=Prompt di accesso
Name[ja]=アクセスプロンプト
Name[kk]=Қатынау сұрауы
Name[ko]=프롬프트 접근
Name[lt]=Prieigos užklausimas
Name[lv]=Piekļuves uzvedne
Name[ms]=Bisikan Capaian
Name[nb]=Tilgangsdialog
Name[ne]=पहुँच प्रोम्प्ट
Name[nl]=Toegang verkrijgen
Name[oc]=Convit d'accès
Name[pa]=ਅਸੈਸ ਪਰਾਉਂਟ
Name[pl]=Zapytanie o hasło
Name[pt]=Pedido de acesso
Name[pt_BR]=Prompt de acesso
Name[ro]=Prompter de acces
Name[ru]=Получение доступа
Name[sk]=Výzva na prístup
Name[sl]=Vnos za dostop
Name[sr]=Упит приступа
Name[sr@latin]=Upit pristupa
Name[sv]=Åtkomstbegäran
Name[ta]=அணுகல் தூண்டல்
Name[th]=คำถามก่อนเข้าถึง
Name[tr]=Erişim Ekranı
Name[ug]=زىيارەت كۆرسەتمىسى
Name[uk]=Спроба доступитись
Name[vi]=Nhắc truy cập
Name[zh_CN]=访问提示
Name[zh_HK]=存取提示
Name[zh_TW]=存取提示
Name=Access Prompt
Comment[as]=পাছৱৰ্ডসমূহ আৰু অন্য গোপন তথ্যসমূহলে অভিগম আনলক কৰক
Comment[be]=Разблакіраванне доступу да пароляў і іншых сакрэтаў
Comment[bg]=Отключване на достъпа до паролите и други тайни
Comment[bs]=Otključaj pristup lozinkama i drugim tajnama
Comment[ca]=Desbloca l'accés a les contrasenyes i altres secrets
Comment[ca@valencia]=Desbloca l'accés a les contrasenyes i altres secrets
Comment[cs]=Odemknout přístup k heslům a dalším utajovaným informacím
Comment[da]=Lås op for adgang til adgangskoder og andre hemmeligheder
Comment[de]=Den Zugang zu Passwörtern und anderen Geheimnissen entsperren
Comment[el]=Ξεκλειδώστε την πρόσβαση σε κωδικούς πρόσβασης και άλλα μυστικά
Comment[en_GB]=Unlock access to passwords and other secrets
Comment[eo]=Malŝlosi aliron al pasvortoj kaj aliaj sekretoj
Comment[es]=Desbloquear el acceso a contraseñas y otros secretos
Comment[eu]=Desblokeatu sarbidea pasahitzetara eta bestelako sekretuetara
Comment[fa]=گشودن قفل دسترسی به گذرواژها و رازهای دیگر
Comment[fi]=Avaa lukitus salasanoihin ja muihin salaisuuksiin
Comment[fr]=Débloquer l’accès aux mots de passe et autres secrets
Comment[fur]=Sbloche l'acès aes password e altris segrets
Comment[gl]=Desbloquear o acceso a contrasinais e outros segredos
Comment[he]=שחרור הגישה לססמאות ולסודות אחרים
Comment[hi]=पासवर्ड और अन्य रहस्य के लिए पहुच अनलॉक करें
Comment[hr]=Otključaj pristup lozinkama i drugim tajnama
Comment[hu]=Jelszavak és más titkos információk elérésének feloldása
Comment[id]=Buka kunci akses ke sandi dan rahasia lain
Comment[it]=Sblocca l'accesso alle password e altri segreti
Comment[ja]=パスワードその他の秘密情報へのアクセスを解除
Comment[kk]=Парольдер және басқа құпияларға қатынаудың құлпын ашу
Comment[ko]=암호 및 기타 비밀 정보 접근에 대한 잠금을 풉니다
Comment[lt]=Atrakinti prieigą prie slaptažodžių ir kitų paslapčių
Comment[lv]=Atbloķēt pieeju pie parolēm un citiem noslēpumiem
Comment[ms]=Buka capaian ke kata laluan dan lain-lain rahsia
Comment[nb]=Lås opp tilgang til passord og andre hemmeligheter
Comment[ne]=पासवर्ड र अन्य गोप्य मा पहुँच अनलक गर्नुहोस्
Comment[nl]=Toegang tot wachtwoorden en andere geheimen ontgrendelen
Comment[oc]=Desblocar l'accès als senhals e autres secrets
Comment[pa]=ਪਾਸਵਰਡ ਅਤੇ ਹੋਰ ਭੇਦ ਖੋਲ੍ਹਣ ਲਈ ਅਣ-ਲਾਕ ਕਰੋ
Comment[pl]=Odblokowanie dostępu do haseł
Comment[pt]=Destrancar acesso às palavras-passe e a outros segredos
Comment[pt_BR]=Destrave acesso a senhas e outros segredos
Comment[ro]=Deblochează accesul la parole și alte secrete
Comment[ru]=Открыть доступ к паролям и другим секретам
Comment[sk]=Odomkne prístup k heslám a iným tajnostiam
Comment[sl]=Odklepanje dostopa do gesel in drugih skrivnih podatkov
Comment[sr]=Откључајте приступ лозинкама и другим тајнама
Comment[sr@latin]=Otključajte pristup lozinkama i drugim tajnama
Comment[sv]=Lås upp tillgång till lösenord och andra hemligheter
Comment[ta]=கடவுச்சொற்களுக்கும் மற்ற ரகசியங்களுக்கும் அணுகலை பூட்டு திற
Comment[th]=ปลดล็อคการเข้าถึงรหัสผ่านและรหัสลับอื่นๆ
Comment[tr]=Parolalar ve diğer gizli bilgiler için erişim kilidini aç
Comment[ug]=ئىم ۋە باشقا مەخپىيەتلىكلەرنى زىيارەت قىلىش ئۈچۈن قۇلۇپسىزلا
Comment[uk]=Заблокувати доступ до паролів й інших таємниць
Comment[vi]=Mở khóa để truy cập mật khẩu và các bí mật khác
Comment[zh_CN]=解锁密码和其他私密内容的访问权限
Comment[zh_HK]=解除對密碼和其他保密的存取鎖定
Comment[zh_TW]=解除對密碼和其他保密的存取鎖定
Comment=Unlock access to passwords and other secrets
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=security-medium
Exec=/usr/libexec/gcr-prompter
Terminal=false
Type=Application
NoDisplay=true
