[Desktop Entry]
Name[be]=Праглядзець файл
Name[bg]=Преглед на файл
Name[ca]=Visualitza fitxer
Name[ckb]=پەڕگە پیشانبدە
Name[cs]=Zobrazení souboru
Name[da]=Vis fil
Name[de]=Datei betrachten
Name[el]=Προβολή αρχείου
Name[en_GB]=View file
Name[eo]=Vidi dosieron
Name[es]=Ver archivo
Name[eu]=Ikusi fitxategia
Name[fa]=نمایش پرونده
Name[fi]=Näytä tiedosto
Name[fr]=Afficher le fichier
Name[fur]=Viôt file
Name[gl]=Ver ficheiro
Name[he]=להציג קובץ
Name[hr]=Prikaži datoteku
Name[hu]=Fájl megtekintése
Name[id]=Lihat berkas
Name[it]=Visualizza file
Name[ja]=ファイルを表示
Name[kk]=Файлды қарау
Name[ko]=파일 보기
Name[lt]=Rodyti failą
Name[lv]=Skatīt datni
Name[ms]=Lihat fail
Name[nb]=Vis fil
Name[ne]=फाइल दृश्य
Name[nl]=Bestand bekijken
Name[oc]=Veire lo fichièr
Name[pl]=Wyświetl plik
Name[pt]=Ver ficheiro
Name[pt_BR]=Visualize um arquivo
Name[ro]=Vizualizează fișierul
Name[ru]=Посмотреть файл
Name[sk]=Zobraziť súbor
Name[sl]=Pogled datoteke
Name[sr]=Погледај датотеку
Name[sv]=Visa fil
Name[tr]=Dosyayı görüntüle
Name[uk]=Переглянути файл
Name[zh_CN]=查看文件
Name[zh_TW]=檢視檔案
Name=View file
MimeType=application/pkcs12;application/pkcs12+pem;application/pkcs7-mime;application/pkcs7-mime+pem;application/pkcs8;application/pkcs8+pem;application/pkix-cert;application/pkix-cert+pem;application/pkix-crl;application/pkix-crl+pem;application/x-pem-file;application/x-pem-key;application/x-pkcs12;application/x-pkcs7-certificates;application/x-x509-ca-cert;application/x-x509-user-cert;application/pkcs10;application/pkcs10+pem;application/x-spkac;application/x-spkac+base64;
Exec=/usr/bin/gcr-viewer
Type=Application
Terminal=false
NoDisplay=true
