[Desktop Entry]
Name[ar]=موصّل صور الأقراص
Name[as]=ডিস্ক ছবি মাউন্টাৰ
Name[be]=Мантавальнік вобразаў дыскаў
Name[bg]=Монтиране на файлове с образи
Name[bn_IN]=ডিস্ক ইমেজ মাউন্টার
Name[bs]=Priključivač odraza diska
Name[ca]=Muntador d'imatges de disc
Name[ca@valencia]=Muntador d'imatges de disc
Name[cs]=Připojování obrazů disků
Name[da]=Diskenhedsmonteringsprogram
Name[de]=Einhängen von Laufwerksabbildern
Name[el]=Προσάρτηση εικόνας δίσκων
Name[en_GB]=Disk Image Mounter
Name[eo]=Diskokopia surmetilo
Name[es]=Montador de imágenes de discos
Name[et]=Kettatõmmise haakija
Name[eu]=Disko-irudien muntatzailea
Name[fa]=سوارگر تصویر دیسک
Name[fi]=Levykuvan liittäjä
Name[fr]=Monteur d’images disque
Name[fur]=Cjariadôr Imagjin Disc
Name[gd]=Munntaichear ìomhaighean diosga
Name[gl]=Montador de imaxes de disco
Name[gu]=ડિસ્ક ઇમેજ માઉન્ટર
Name[he]=מעגן דמויות כונן
Name[hi]=डिस्क छवि माउन्टर
Name[hr]=Montiratelj slike diska
Name[hu]=Lemezképcsatoló
Name[id]=Pengait Berkas Diska
Name[ie]=Montor de images de discos
Name[is]=Diskmyndatengir
Name[it]=Monta immagini disco
Name[ja]=ディスクイメージマウンター
Name[ka]=დისკის ასლის მიმმაგრებელი
Name[kk]=Диск бейнелерін тіркеуші
Name[km]=កម្មវិធី​ម៉ោន​រូបភាព​ថាស
Name[kn]=ಡಿಸ್ಕ್ ಚಿತ್ರಿಕೆಯನ್ನು ಏರಿಸುವ ಸಾಧನ
Name[ko]=디스크 이미지 마운트
Name[lt]=Disko atvaizdžio prijungėjas
Name[lv]=Disku attēlu montētājs
Name[mjw]=Disk Image Mounter
Name[ml]=ഡിസ്ക് ഇമേജ് മൌണ്ടര്‍
Name[mr]=डिस्क प्रतिमा माउंटकर्ता
Name[ms]=Pelekap Imej Cakera
Name[nb]=Montering av diskbilde
Name[nl]=Schijfkopiekoppelaar
Name[oc]=Montador d'imatges de disc
Name[or]=ଡିସ୍କ ପ୍ରତିଛବି ସ୍ଥାପକ
Name[pa]=ਡਿਸਕ ਈਮੇਜ਼ ਮਾਊਂਟਰ
Name[pl]=Montowanie obrazu dysku
Name[pt]=Montador de imagens de disco
Name[pt_BR]=Montador de imagem de disco
Name[ro]=Montator de imagini de disc
Name[ru]=Устройство монтирования образа диска
Name[sk]=Nástroj na pripojenie obrazu disku
Name[sl]=Priklopnik odtisov diskov
Name[sr]=Прикључивач одраза диска
Name[sr@latin]=Priključivač odraza diska
Name[sv]=Monterare för diskavbilder
Name[ta]=வட்டு பிம்ப ஏற்றி
Name[te]=డిస్కు ప్రతిరూపం మౌంట్‌చేయునది
Name[tg]=Васлгари тасвири диск
Name[th]=โปรแกรมเมานท์อิมเมจของดิสก์
Name[tr]=Disk Görüntüsü Bağlayıcı
Name[ug]=دىسكا تەسۋىرىنى ئېگەرلىگۈچ
Name[uk]=Монтування образів диска
Name[vi]=Trình gắn ảnh đĩa
Name[zh_CN]=磁盘映像挂载器
Name[zh_HK]=磁碟映像檔掛載器
Name[zh_TW]=磁碟映像檔掛載器
Name=Disk Image Mounter
Comment[ar]=أوصل صور الأقراص
Comment[as]=ডিস্ক ছবিসমূহ মাউন্ট কৰক
Comment[be]=Мантаванне вобразаў дыскаў
Comment[bg]=Монтиране на файлове с образи
Comment[bn_IN]=ডিস্ক ছবিগুলি মাউন্ট করুন
Comment[bs]=Prikačite odraze diska
Comment[ca]=Munteu imatges de disc
Comment[ca@valencia]=Munteu imatges de disc
Comment[cs]=Připojit obraz disku
Comment[da]=Montér diskaftryk
Comment[de]=Laufwerksabbilder einhängen
Comment[el]=Προσαρτήστε εικόνες δίσκων
Comment[en_GB]=Mount Disk Images
Comment[eo]=Surmeti diskokopiojn
Comment[es]=Montar imágenes de discos
Comment[et]=Kettatõmmise haakimine
Comment[eu]=Muntatu disko-irudia
Comment[fa]=سوار کردن تصاویر دیسک
Comment[fi]=Liitä levykuvia
Comment[fr]=Monter les images disque
Comment[fur]=Monte Imagjins Discs
Comment[gd]=Munntaich ìomhaighean diosga
Comment[gl]=Montar imaxes de disco
Comment[gu]=ડિસ્ક ઇમેજને માઉન્ટ કરો
Comment[he]=עיגון דמויות כונן
Comment[hi]=डिस्क छवियों को माउंट करें
Comment[hr]=Montiraj sliku diska
Comment[hu]=Lemezképek csatolása
Comment[id]=Kaitkan Citra Diska
Comment[ie]=Monter images de discos
Comment[is]=Tengja inn diskmyndir
Comment[it]=Monta immagini disco
Comment[ja]=ディスクイメージをマウントします
Comment[ka]=დისკის ასლების მიმაგრება
Comment[kk]=Диск бейнелерін тіркеу
Comment[km]=ម៉ោន​រូបភាព​ថាស
Comment[kn]=ಡಿಸ್ಕ್ ಚಿತ್ರಿಕೆಗಳನ್ನು ಏರಿಸು
Comment[ko]=디스크 이미지를 마운트합니다
Comment[lt]=Prijungti disko atvaizdį
Comment[lv]=Montē diska attēlus
Comment[ml]=ഡിസ്ക് ചിത്രങ്ങള്‍ മൌണ്ട് ചെയ്യുക
Comment[mr]=डिस्क प्रतिमा माउंट करा
Comment[ms]=Lekap Imej Cakera
Comment[nb]=Monter diskbilder
Comment[ne]=डिस्क छवि  माउन्ट गर्नुहोस्
Comment[nl]=Schijfkopie aankoppelen
Comment[oc]=Montar los imatges de disc
Comment[or]=ଡିସ୍କ ପ୍ରତିଛବିଗୁଡ଼ିକୁ ସ୍ଥାପନ କରନ୍ତୁ
Comment[pa]=ਡਿਸਕ ਈਮੇਜ਼ ਮਾਊਂਟ ਕਰੋ
Comment[pl]=Montowanie obrazów dysków
Comment[pt]=Montar imagens de disco
Comment[pt_BR]=Monte imagens de disco
Comment[ro]=Montează imaginile de disc
Comment[ru]=Монтирование образов дисков
Comment[sk]=Pripája obrazy diskov
Comment[sl]=Priklopi odtise diskov
Comment[sr]=Прикачите одразе диска
Comment[sr@latin]=Prikačite odraze diska
Comment[sv]=Montera diskavbilder
Comment[ta]=வட்டு பிம்பங்களை ஏற்று
Comment[te]=డిస్కు ప్రతిరూపాలను మౌంట్‌చేయి
Comment[tg]=Васл кардани тасвирҳои диск
Comment[th]=เมานท์อิมเมจของดิสก์
Comment[tr]=Disk Görüntülerini Bağla
Comment[ug]=دىسكا تەسۋىرلىرىنى ئېگەرلەش
Comment[uk]=Змонтувати образи диска
Comment[vi]=Ứng dụng để gắn ảnh đĩa
Comment[zh_CN]=挂载磁盘映像
Comment[zh_HK]=掛載磁碟映像檔
Comment[zh_TW]=掛載磁碟映像檔
Comment=Mount Disk Images
Exec=gnome-disk-image-mounter %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=drive-removable-media
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=false
Type=Application
NoDisplay=true
X-Purism-FormFactor=Workstation;Mobile;
