[Desktop Entry]
Name[ar]=كاتب صور الأقراص
Name[as]=ডিস্ক ছবি লেখক
Name[be]=Праграма для запісу вобразаў дыскаў
Name[bg]=Записване на файлове с образи
Name[bn_IN]=ডিস্ক ইমেজ রাইটার
Name[bs]=Pisač slike diska
Name[ca]=Escriptor d'imatges de disc
Name[ca@valencia]=Escriptor d'imatges de disc
Name[cs]=Zápis obrazu disku
Name[da]=Diskaftryksskriver
Name[de]=Schreiber von Laufwerksabbildern
Name[el]=Πρόγραμμα εγγραφής εικόνας δίσκου
Name[en_GB]=Disk Image Writer
Name[eo]=Diskokopia skribilo
Name[es]=Escritor de imágenes de disco
Name[eu]=Disko-irudien idazlea
Name[fa]=نویسندهٔ تصویر دیسک
Name[fi]=Levykuvan kirjoittaja
Name[fr]=Enregistreur d’images disque
Name[fur]=Scritôr Imagjin Disc
Name[gd]=Sgrìobhaiche ìomhaighean diosga
Name[gl]=Escritor de imaxes de disco
Name[gu]=ડિસ્ક ઇમેજ લેખક
Name[he]=יוצר דמות כונן
Name[hi]=डिस्क छवि लेखक
Name[hr]=Zapisivač slika diska
Name[hu]=Lemezképíró
Name[id]=Penulis Citra Diska
Name[ie]=Scritor de images de discos
Name[is]=Diskmyndaskrifari
Name[it]=Creazione immagini disco
Name[ja]=ディスクイメージライター
Name[ka]=დისკის ასლის ჩამწერი
Name[kk]=Диск бейнелерін жазушы
Name[km]=កម្មវិធី​សរសេរ​រូបភាព​ថាស
Name[kn]=ಡಿಸ್ಕ್ ಚಿತ್ರಿಕೆ ಬರೆಯುವವ
Name[ko]=디스크 이미지 쓰기
Name[lt]=Disko atvaizdžio rašytojas
Name[lv]=Disku attēlu rakstītājs
Name[mr]=डिस्क प्रतिमा राइटर
Name[ms]=Penulis Imej Cakera
Name[nb]=Skriving av diskbilde
Name[nl]=Schijfkopieschrijver
Name[oc]=Enregistrador d'imatges de disc
Name[or]=ଡିସ୍କ ପ୍ରତିଛବି ଲେଖକ
Name[pa]=ਡਿਸਕ ਈਮੇਜ਼ ਰਾਈਟਰ
Name[pl]=Zapisywanie obrazów dysków
Name[pt]=Gravador de imagens de disco
Name[pt_BR]=Gravador de imagem de disco
Name[ro]=Scriitor de imagini de disc
Name[ru]=Устройство записи образа диска
Name[sk]=Nástroj na zápis obrazu disku
Name[sl]=Zapisovalnik odtisov diskov
Name[sr]=Писач одраза диска
Name[sr@latin]=Pisač odraza diska
Name[sv]=Skrivare för diskavbilder
Name[ta]=வட்டு பிம்ப எழுதி
Name[te]=డిస్కు ఇమేజ్ వ్రైటర్
Name[tg]=Сабти тасвири диск
Name[th]=โปรแกรมเขียนอิมเมจของดิสก์
Name[tr]=Disk Görüntüsü Yazıcı
Name[uk]=Записувач образів диска
Name[vi]=Ghi ảnh đĩa
Name[zh_CN]=磁盘映像写入器
Name[zh_HK]=磁碟映像檔寫入器
Name[zh_TW]=磁碟映像檔寫入器
Name=Disk Image Writer
Comment[ar]=اكتب صور الأقراص على الأجهزة
Comment[as]=ডিস্ক ছবিক ডিভাইচলৈ লিখক
Comment[be]=Запіс вобразаў дыскаў на прыладу
Comment[bg]=Записване на файлове с образи върху устройства
Comment[bn_IN]=ডিস্ক ছবিগুলি ডিভাইসগুলিতে লিখুন
Comment[bs]=Piši slike diska na uređajima
Comment[ca]=Escriu imatges de disc a dispositius
Comment[ca@valencia]=Escriu imatges de disc a dispositius
Comment[cs]=Zapsat obraz disku do zařízení
Comment[da]=Skriv diskaftryk til enheder
Comment[de]=Laufwerksabbilder auf Geräte schreiben
Comment[el]=Γράψτε εικόνες δίσκων σε συσκευές
Comment[en_GB]=Write Disk Images to Devices
Comment[eo]=Skribi diskokopiojn al aparatoj
Comment[es]=Escribir imágenes de disco a dispositivos
Comment[eu]=Idatzi disko-irudia gailuetan
Comment[fa]=نوشتن تصویر دیسک روی افزاره‌ها
Comment[fi]=Kirjoita levykuvia laitteille
Comment[fr]=Enregistre les images disque sur les périphériques
Comment[fur]=Scrîf Imagjins Discs tai Dispositîfs
Comment[gd]=Sgrìobh ìomhaighean diosga gu uidheaman
Comment[gl]=Escribe imaxe de disco en dispositivos
Comment[gu]=ઉપકરણોમાં ડિસ્ક ઇમેજને લખો
Comment[he]=יוצר דמויות כונן להתקנים
Comment[hi]=युक्ति में डिस्क छवि लिखें
Comment[hr]=Zapiši sliku diska na uređaj
Comment[hu]=Lemezképek kiírása eszközökre
Comment[id]=Menulis Citra Diska ke Perangkat
Comment[is]=Skrifa diskmyndir á tæki
Comment[it]=Scrive immagine disco su dispositivi
Comment[ja]=ディスクイメージをデバイスに書き込みます
Comment[ka]=დისკის ასლის მოწყობილობაზე ჩაწერა
Comment[kk]=Диск бейнелерін құрылғыларға жазу
Comment[km]=សរសេរ​រូបភាព​ថាស​ទៅ​ឧបករណ៍
Comment[kn]=ಡಿಸ್ಕ್ ಚಿತ್ರಿಕೆಗಳನ್ನು ಸಾಧನಗಳಿಗೆ ಬರೆಯಿರಿ
Comment[ko]=디스크 이미지를 장치에 씁니다
Comment[lt]=Įrašyti diskų atvaizdžius į įrenginius
Comment[lv]=Raksta diska attēlu uz ierīcēm
Comment[mr]=साधनांवर डिस्क प्रतिमा लिहा
Comment[ms]=Tulis Imej Cakera ke dalam Peranti
Comment[nb]=Skriv diskbilder til enheter
Comment[nl]=Schijfkopieën naar apparaten schrijven
Comment[oc]=Enregistra los imatges disc suls periferics
Comment[or]=ଉପକରଣରେ ଡିସ୍କ ପ୍ରତିଛବିକୁ ଲେଖୁଅଛି
Comment[pa]=ਡਿਸਕ ਈਮੇਜ਼ ਡਿਵਾਈਸ ਉੱਤੇ ਲਿਖੋ
Comment[pl]=Zapisywanie obrazów dysków na urządzenia
Comment[pt]=Gravar imagens de disco em dispositivos
Comment[pt_BR]=Grave imagens de disco para dispositivos
Comment[ro]=Scrie imagini de disc pe dispozitive
Comment[ru]=Запись образов дисков на устройства
Comment[sk]=Zapisuje obrazy diskov na zariadenia
Comment[sl]=Zapisovanje odtisov diskov na napravo
Comment[sr]=Упишите одразе диска на уређаје
Comment[sr@latin]=Upišite odraze diska na uređaje
Comment[sv]=Skriv diskavbilder till enheter
Comment[ta]=வட்டு பிம்பத்தை சாதனங்களில் எழுது
Comment[te]=డిస్కు ఇమేజ్‌ను పరికరంకు వ్రాయి
Comment[tg]=Сабти тасвири диск ба дастгоҳ
Comment[th]=เขียนอิมเมจของดิสก์ลงในอุปกรณ์
Comment[tr]=Aygıtlara Disk Görüntüsü Yaz
Comment[uk]=Записати образи дисків на пристрій
Comment[vi]=Ghi ảnh đĩa lên thiết bị
Comment[zh_CN]=将磁盘映像写入到设备
Comment[zh_HK]=將磁碟映像檔寫入裝置
Comment[zh_TW]=將磁碟映像檔寫入裝置
Comment=Write Disk Images to Devices
Exec=gnome-disks --restore-disk-image %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=drive-removable-media
MimeType=application/x-cd-image;application/x-raw-disk-image;application/x-raw-disk-image-xz-compressed;
Terminal=false
StartupNotify=false
Type=Application
NoDisplay=true
X-Purism-FormFactor=Workstation;Mobile;
