[Desktop Entry]
Type=Application
Exec=kde-geo-uri-handler --coordinate-template "https://www.google.com/maps/@<LAT>,<LON>,<Z>" --query-template "https://www.google.com/maps/search/<Q>" --fallback "https://www.google.com/maps/" %u
Name=Google Maps
Name[ar]=خرائط غوغل
Name[ca]=Google Maps
Name[ca@valencia]=Google Maps
Name[cs]=Mapy Google
Name[de]=Google Maps
Name[en_GB]=Google Maps
Name[es]=Google Maps
Name[eu]=Google Maps
Name[fi]=Google Maps
Name[fr]=Google Maps
Name[gl]=Google Maps
Name[hi]=गूगल मैप्स
Name[it]=Mappe di Google
Name[ka]=Google Maps
Name[ko]=Google 지도
Name[nl]=Google Maps
Name[nn]=Google Maps
Name[pl]=Mapy Google
Name[pt]=Google Maps
Name[pt_BR]=Google Maps
Name[ro]=Hărți Google
Name[ru]=Карты Google
Name[sk]=Google Maps
Name[sl]=Google Maps
Name[sv]=Google kartor
Name[tr]=Google Haritalar
Name[uk]=Карти Google
Name[vi]=Google Bản đồ
Name[x-test]=xxGoogle Mapsxx
Name[zh_CN]=Google Maps
Icon=map-globe
MimeType=x-scheme-handler/geo;
Terminal=false
NoDisplay=true
