[Desktop Entry]
Version=1.1
Encoding=UTF-8
Name=Kali Forums
Comment=Get community support on forums
Icon=kali-forums
Type=Link
URL=https://forums.kali.org/
Categories=15-kali-offsec-links;
X-Kali-Package=kali-menu
