[Desktop Entry]
Icon=user-trash
Type=Application
Exec=kcmshell5 kcm_trash
NoDisplay=true

Name=Trash
Name[ar]=المهملات
Name[ast]=Papelera
Name[az]=Səbət
Name[be]=Сметніца
Name[be@latin]=Smietnica
Name[bg]=Кошче
Name[bn]=আবর্জনা
Name[bn_IN]=আবর্জনা
Name[bs]=Smeće
Name[ca]=Paperera
Name[ca@valencia]=Paperera
Name[cs]=Koš
Name[csb]=Kòsz
Name[cy]=Sbwriel
Name[da]=Papirkurv
Name[de]=Papierkorb
Name[el]=Κάδος απορριμάτων
Name[en_GB]=Wastebin
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügikast
Name[eu]=Zakarrontzia
Name[fa]=زباله
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[fy]=Jiskefet
Name[ga]=Bruscar
Name[gd]=An sgudal
Name[gl]=Lixo
Name[gu]=કચરાપેટી
Name[he]=אשפה
Name[hi]=कूड़ा
Name[hne]=घुरुवा
Name[hr]=Otpad
Name[hsb]=Papjernik
Name[hu]=Kuka
Name[ia]=Corbe
Name[id]=Tong Sampah
Name[ie]=Paper-corb
Name[is]=Rusl
Name[it]=Cestino
Name[ka]=ნაგავი
Name[kk]=Өшірілгендер
Name[km]=ធុង​សំរាម
Name[kn]=ಕಸಬುಟ್ಟಿ
Name[ko]=휴지통
Name[ku]=Çop
Name[lt]=Šiukšlinė
Name[lv]=Miskaste
Name[mai]=रद्दी
Name[mk]=Корпа
Name[ml]=ചവറ്റുകുട്ട
Name[mr]=कचरापेटी
Name[ms]=Sampah
Name[my]=အမှိုက်ပုံး
Name[nb]=Papirkurv
Name[nds]=Affalltünn
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[or]=ଆବର୍ଜନା ପାତ୍ର
Name[pa]=ਰੱਦੀ
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixeira
Name[ro]=Gunoi
Name[ru]=Корзина
Name[se]=Ruskalihtti
Name[si]=ඉවතලන බහලුම
Name[sk]=Kôš
Name[sl]=Smeti
Name[sr]=Смеће
Name[sr@ijekavian]=Смеће
Name[sr@ijekavianlatin]=Smeće
Name[sr@latin]=Smeće
Name[sv]=Papperskorg
Name[ta]=அகற்றிடம்
Name[tg]=Сабад
Name[th]=ถังขยะ
Name[tok]=ilo wile ala
Name[tr]=Çöp
Name[ug]=ئەخلەتخانا
Name[uk]=Смітник
Name[vi]=Thùng rác
Name[wa]=Batch
Name[x-test]=xxTrashxx
Name[zh_CN]=回收站
Name[zh_TW]=垃圾桶
