[Desktop Entry]
Name=LightDM GTK+ Greeter settings
Name[ar]=إعدادات ترحيب LightDM GTK+
Name[ca]=Ajusts de LightDM GTK+ Greeter
Name[cs]=Nastavení přihlašovací obrazovky
Name[da]=Indstillinger for LightDM GTK+ Greeter
Name[de]=LightDM-GTK+Anmeldebildschirm - Einstellungen
Name[el]=Ρυθμίσεις του GTK+ Greeter του LightDM
Name[es]=Configuración de la interfaz GTK+ de LightDM
Name[et]=LightDM GTK+ tervitussätted
Name[fi]=LightDM GTK+ -kirjautumisen asetukset
Name[fr]=LightDM GTK+ Paramètres d'Apparence
Name[ja]=LightDM GTK+ Greeter の設定
Name[kk]=LightDM GTK+ Greeter баптаулары
Name[lt]=LightDM GTK+ sveikintojo nustatymai
Name[nl]=Instellingen voor LightDM GTK+ aanmeldscherm
Name[pl]=Ustawienia LightDM GTK+ Greeter
Name[pt]=Configurações do saudador LightDM GTK+
Name[pt_BR]=Configurações do LightDM GTK+ Greeter
Name[ru]=Настройки LightDM GTK+ Greeter
Name[sr]=Поставке програма LightDM GTK+ Greeter
Name[sv]=LightDM GTK+ Greeter-inställningar
Name[zh_CN]=LightDM 桌面管理器（GTK+ 界面）设置
Comment=Configure LightDM GTK+ Greeter
Comment[ar]=ضبط ترحيب Lightdm GTK+
Comment[ca]=Configureu LightDM GTK+ Greeter
Comment[cs]=Nastavení LightDM GTK+ Greeter
Comment[da]=Konfigurer LightDM GTK+ Greeter
Comment[de]=LightDM-GTK+Anmeldebildschirm konfigurieren
Comment[el]=Ρυθμίστε τον GTK+ Greeter του LightDM
Comment[es]=Configura la pantalla de bienvenida LightDM GTK+
Comment[fi]=Mukauta LightDM GTK+ -kirjautumisen asetuksia
Comment[fr]=Configurer LightDM GTK+ Greeter
Comment[ja]=LightDM GTK+ Greeter の設定をします
Comment[kk]=LightDM GTK+ Greeter баптау
Comment[lt]=Konfigūruoti LightDM GTK+ sveikintoją
Comment[nl]=LightDM GTK+ aanmeldscherm instellen
Comment[pl]=Skonfiguruj LightDM GTK+ Greeter
Comment[pt]=Configurar o saudador LightDM GTK+
Comment[pt_BR]=Configure o LightDM GTK+ Greeter
Comment[ru]=Настройка LightDM GTK+ Greeter
Comment[sv]=Anpassa LightDM GTK+ Greeter
Comment[zh_CN]=配置 LightDM 桌面管理器（GTK+ 界面）
Categories=GNOME;GTK;Settings;System;Utility;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=Configuration;Utility;
Exec=lightdm-gtk-greeter-settings-pkexec
Icon=lightdm-gtk-greeter-settings
Terminal=false
Type=Application
X-XfcePluggable=true
