[Desktop Entry]
Type=Application
Exec=marble --geo-uri=%u
Icon=marble
Name=Marble
Name[ar]=ماربل
Name[bg]=Marble
Name[bs]=Marble
Name[ca]=Marble
Name[ca@valencia]=Marble
Name[cs]=Marble
Name[csb]=Marble
Name[da]=Marble
Name[de]=Marble
Name[el]=Marble
Name[en_GB]=Marble
Name[eo]=Marble
Name[es]=Marble
Name[et]=Marble
Name[eu]=Marble
Name[fi]=Marble
Name[fr]=Marble
Name[ga]=Marble
Name[gl]=Marble
Name[gu]=માર્બલ
Name[he]=Marble
Name[hi]=संगमरमर
Name[hne]=संगमरमर
Name[hr]=Marble
Name[hu]=Marble
Name[id]=Marble
Name[is]=Marble
Name[it]=Marble
Name[ja]=Marble
Name[ka]=Marble
Name[kk]=Marble
Name[km]=ថ្មម៉ាប
Name[ko]=Marble
Name[lt]=Marble
Name[lv]=Marble
Name[ml]=മാര്‍ബിള്‍
Name[mr]=मार्बल
Name[nb]=Marble
Name[nds]=Marble
Name[ne]=मार्बल
Name[nl]=Marble
Name[nn]=Marble
Name[pa]=ਮਾਰਬਲ
Name[pl]=Marble
Name[pt]=Marble
Name[pt_BR]=Marble
Name[ro]=Marble
Name[ru]=Marble
Name[sk]=Marble
Name[sl]=Marble
Name[sv]=Marble
Name[tr]=Marble
Name[ug]=Marble
Name[uk]=Marble
Name[x-test]=xxMarblexx
Name[zh_CN]=Marble 虚拟地球仪
Name[zh_TW]=地理_Marble
MimeType=x-scheme-handler/geo;
NoDisplay=true

