[Desktop Entry]
Name[am]=የ ሜት መደመሪያ 
Name[ar]=حاسبة متّة
Name[ast]=Calculadora MATE
Name[be]=Калькулятар MATE
Name[bg]=MATE Калкулатор
Name[ca]=Calculadora de MATE
Name[ca@valencia]=Calculadora del MATE
Name[cmn]=MATE 計算機
Name[cs]=MATE Kalkulačka
Name[da]=Mate-lommeregner
Name[de]=MATE-Taschenrechner
Name[el]=Αριθμομηχανή MATE
Name[en_AU]=MATE Calculator
Name[en_GB]=MATE Calculator
Name[eo]=MATE Kalkulilo
Name[es]=Calculadora de MATE
Name[et]=MATE kalkulaator
Name[eu]=MATE kalkulagailua
Name[fa]=ماشین حساب MATE
Name[fi]=MATE Laskin
Name[fr]=Calculatrice de MATE
Name[gl]=Calculadora MATE
Name[gu]=મેટ કૅલ્ક્યુલેટર
Name[he]=המחשבון של MATE
Name[hi]=माटे कैल्क्यलेटर
Name[hr]=MATE kalkulator
Name[hu]=MATE számológép
Name[hy]=MATE Հաշվիչ
Name[id]=MATE Calculator
Name[ie]=Calculator MATE
Name[it]=Calcolatrice di MATE
Name[ja]=MATE 電卓
Name[kk]=MATE калькуляторы
Name[km]=ម៉ាស៊ីនគិតលេខ MATE
Name[kn]=ಮೇಟ್ ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]=MATE 계산기 
Name[ku_IQ]=ژمێرەری MATE
Name[ky]=MATE калькулятору
Name[lt]=MATE skaičiuotuvas
Name[lv]=MATE Kalkulators
Name[mr]=मेट गणनयंत्र
Name[ms]=Kalkulator MATE
Name[nb]=MATE-kalkulator
Name[nl]=MATE Rekenmachine
Name[oc]=Calculadoira MATE
Name[pl]=Kalkulator MATE
Name[pt]=Calculadora MATE
Name[pt_BR]=Calculadora do MATE
Name[ro]=Calculator MATE
Name[ru]=Калькулятор MATE
Name[sk]=MATE kalkulačka
Name[sl]=Računalo MATE
Name[sq]=MATE Llogaritës
Name[sr]=Мејтов дигитрон
Name[sv]=MATE Kalkylatorn
Name[ta]=MATE கணிப்பான்
Name[th]=เครื่องคิดเลข MATE
Name[tr]=MATE Hesap Makinesi
Name[uk]=Рахівник MATE
Name[uz]=MATE Kalkulyator
Name[zh_CN]=MATE 计算器
Name[zh_HK]=MATE 計數機
Name[zh_TW]=MATE 計算機
Name=MATE Calculator
GenericName[af]=Sakrekenaar
GenericName[am]=መደመሪያ 
GenericName[ar]=الحاسِبة
GenericName[as]=গণক
GenericName[ast]=Calculadora
GenericName[az]=Hesaplayıcı
GenericName[be]=Калькулятар
GenericName[bg]=Калкулатор
GenericName[bn]=ক্যালকুলেটর
GenericName[bn_IN]=ক্যালকুলেটর
GenericName[bs]=Računalo
GenericName[ca]=Calculadora
GenericName[ca@valencia]=Calculadora
GenericName[cmn]=計算機
GenericName[cs]=Kalkulačka
GenericName[cy]=Cyfrifiannell
GenericName[da]=Lommeregner
GenericName[de]=Taschenrechner
GenericName[dz]=རྩིས་འཕྲུལ།
GenericName[el]=Αριθμομηχανή
GenericName[en_AU]=Calculator
GenericName[en_CA]=Calculator
GenericName[en_GB]=Calculator
GenericName[eo]=Kalkulilo
GenericName[es]=Calculadora
GenericName[es_AR]=Calculadora
GenericName[es_CL]=Calculadora
GenericName[et]=Kalkulaator
GenericName[eu]=Kalkulagailua
GenericName[fa]=ماشین‌حساب
GenericName[fi]=Laskin
GenericName[fr]=Calculatrice
GenericName[ga]=Áireamhán
GenericName[gl]=Calculadora
GenericName[gu]=કૅલ્ક્યુલેટર
GenericName[he]=מחשבון
GenericName[hi]=गणक
GenericName[hr]=Kalkulator
GenericName[hu]=Számológép
GenericName[hy]=Հաշվիչ
GenericName[id]=Kalkulator
GenericName[ie]=Calculator
GenericName[it]=Calcolatrice
GenericName[ja]=電卓
GenericName[ka]=კალკულატორი
GenericName[kk]=Калькулятор
GenericName[km]=ម៉ាស៊ីន​គិត​លេខ
GenericName[kn]=ಕ್ಯಾಲ್ಕುಲೇಟರ್
GenericName[ko]=계산기
GenericName[ku_IQ]=ژمێرەر
GenericName[ky]=Калькулятор
GenericName[lt]=Skaičiuotuvas
GenericName[lv]=Kalkulators
GenericName[mai]=कैलकुलेटर
GenericName[mg]=Milina mpikajy
GenericName[mk]=Калкулатор
GenericName[ml]=ഗണനി
GenericName[mn]=Тооны машин
GenericName[mr]=गणनयंत्र
GenericName[ms]=Kalkulator
GenericName[my]=ဂဏန်းတွက်စက်
GenericName[nb]=Kalkulator
GenericName[ne]=गणकयन्त्र
GenericName[nl]=Rekenmachine
GenericName[nn]=Kalkulator
GenericName[oc]=Calculadoira
GenericName[or]=କାଲକୁଲେଟର
GenericName[pa]=ਕੈਲਕੂਲੇਟਰ
GenericName[pl]=Kalkulator
GenericName[pt]=Calculadora
GenericName[pt_BR]=Calculadora
GenericName[ro]=Calculator
GenericName[ru]=Калькулятор
GenericName[si]=ගණකය
GenericName[sk]=Kalkulačka
GenericName[sl]=Računalo
GenericName[sq]=Makinë llogaritëse
GenericName[sr]=Дигитрон
GenericName[sr@latin]=Kalkulator
GenericName[sv]=Kalkylator
GenericName[ta]=கணிப்பான்
GenericName[te]=గణన పరికరం
GenericName[th]=เครื่องคิดเลข
GenericName[tk]=Çot
GenericName[tr]=Hesap Makinesi
GenericName[ug]=ھېسابلىغۇچ
GenericName[uk]=Рахівник
GenericName[uz]=Kalkulyator
GenericName[vi]=Bàn tính
GenericName[xh]=Ikhaltyuleyitha
GenericName[zh_CN]=计算器
GenericName[zh_HK]=計數機
GenericName[zh_TW]=計算機
GenericName=Calculator
Comment[af]=Voer rekenkundige, wetenskaplike of finansiële berekeninge uit
Comment[ar]=أجرِ حساباتك الرّياضية و العلمية و الاقتصادية
Comment[as]=গণিতিক, বিজ্ঞানভিত্তিক অথবা আৰ্থিক গণনাসমূহ কৰক
Comment[ast]=Fai cálculos aritméticos, científicos o financieros
Comment[be]=Арыфметычныя, навуковыя і фінансавыя разлікі
Comment[bg]=Извършване на аритметични, научни или финансови изчисления
Comment[bn]=গাণিতিক, বৈজ্ঞানিক অথবা অর্থনৈতিক গণনা সম্পাদন করা হবে
Comment[bn_IN]=গণিত, বৈজ্ঞানিক অথবা অর্থনৈতিক প্রণালী করুন
Comment[ca]=Realitzeu càlculs aritmètics, científics o financers
Comment[ca@valencia]=Realitza càlculs aritmètics, científics o financers
Comment[cmn]=進列數字、科學或金融的計算
Comment[cs]=Provádí aritmetické, vědecké i finanční výpočty
Comment[da]=Udfør aritmetiske, videnskabelige eller finansielle udregninger
Comment[de]=Arithmetische, wissenschaftliche und finanztechnische Berechnungen durchführen
Comment[dz]=མཚན་རིགས་ དངུལ་འབྲེལ་ ཡང་ན་ ཨང་རྩིས་ཀྱི་ རྩིས་ལས་ཀྱི་ ལས་འགན་བསྒྲུབ་ 
Comment[el]=Εκτελεί αριθμητικούς, επιστημονικούς ή εμπορικούς υπολογισμούς
Comment[en_AU]=Perform arithmetic, scientific or financial calculations
Comment[en_CA]=Perform arithmetic, scientific or financial calculations
Comment[en_GB]=Perform arithmetic, scientific or financial calculations
Comment[eo]=Fari aritmetikajn, sciencajn aŭ financajn kalkulojn
Comment[es]=Realice cálculos aritméticos, científicos o financieros
Comment[et]=Aritmeetilised, teaduslikud ja finantsarvutused
Comment[eu]=Egin kalkulu aritmetikoak, zientifikoak edo finantzarioak
Comment[fa]=انجام محاسبات ریاضی، علمی و مالی
Comment[fi]=Suorita aritmeettisia, tieteellisiä tai talouslaskutoimituksia
Comment[fr]=Effectue des calculs arithmétiques, scientifiques ou financiers
Comment[gl]=Faga cálculos aritméticos, científicos ou financeiros
Comment[gu]=ગાણિતીક, વૈજ્ઞાનિક અથવા આર્થિક ગણતરીઓ કરો
Comment[he]=ביצוע חישובים פשוטים, מדעיים וכלכליים.
Comment[hi]=अंकगणित, वैज्ञानिक, या वित्तीय गणना करें
Comment[hu]=Aritmetikai, tudományos vagy pénzügyi számítások végrehajtása
Comment[hy]=Կատարել թվաբանական, գիտական կամ ֆինանսական հաշվարկներ
Comment[id]=Lakukan perhitungan aritmetik, ilmiah, atau finansial
Comment[ie]=Far aritmetic, scientific o financial calculationes
Comment[it]=Esegue calcoli aritmetici, scientifici o finanziari
Comment[ja]=算術/科学/財務の計算を行います
Comment[kk]=Қарапайым, ғылыми не қаржылық есептеулерді жүргізу.
Comment[km]=អនុវត្ត​ការ​គណនា​គណិតវិទ្យា វិទ្យាសាស្ត្រ ឬ​ហិរញ្ញវត្ថុ
Comment[kn]=ಗಣಿತ, ವೈಜ್ಞಾನಿಕ ಅಥವಾ ಹಣಕಾಸಿನ ಲೆಕ್ಕಚಾರಗಳನ್ನು ಮಾಡಿ
Comment[ko]=일반 연산, 과학, 재무용 계산을 합니다
Comment[lt]=Atlikti aritmetinius, mokslinius ar finansinius skaičiavimus
Comment[lv]=Veikt aritmētiskus, zinātniskus vai finansiālus aprēķinus
Comment[mk]=Извршете аритметички, научни или финансиски пресметки
Comment[ml]=അരിതമെറ്റിക്, ശാസ്ത്രീയം അല്ലെങ്കില്‍ ധനകാര്യ സംബന്ധമായ കണക്കുകൂട്ടലുകള്‍ നടത്തുക
Comment[mr]=अंकगणित, शास्त्रीय किंवा वित्तीय गणना चालवून पहा
Comment[ms]=Lakukan pengiraan aritmetik, saintifik atau kewangan
Comment[nb]=Utfør aritmetiske, vitenskapelige eller finansielle utregninger
Comment[ne]=अंकगणितीय, वैज्ञानिक वा आर्थिक गणनाहरू कार्यसम्पादन गर्नुहोस्
Comment[nl]=Rekenkundige, wetenschappelijke of financiële berekeningen uitvoeren
Comment[nn]=Utfør aritmetiske, vitskaplege eller finansielle utregningar
Comment[oc]=Realizar de calculs aritmetics, scientifics o financièrs
Comment[or]=ଗାଣିତିକ,ବୈଜ୍ଞାନିକ କିମ୍ବା ଆର୍ଥିକ ହିସାବ କରନ୍ତୁ
Comment[pa]=ਗਣਿਤ, ਵਿਗਿਆਨਕ ਜਾਂ ਵਿੱਤੀ ਗਣਨਾ ਕਰੋ
Comment[pl]=Wykonanie obliczeń arytmetycznych, naukowych lub finansowych
Comment[pt]=Realize cálculos aritméticos, científicos ou financeiros
Comment[pt_BR]=Efetue cálculos aritméticos, científicos ou financeiros
Comment[ro]=Efectuează calcule aritmetice, științifice și financiare
Comment[ru]=Вычисления: арифметические, научные и финансовые
Comment[sk]=Vykonávanie aritmetických, vedeckých alebo finančných výpočtov
Comment[sl]=Izvajanje aritmetičnih, znanstvenih ali finančnih izračunov
Comment[sq]=Kryen llogari aritmetikore, shkencore ose financiare
Comment[sr]=Извршавајте аритметичке, научне или финансијске прорачуне
Comment[sr@latin]=Izvršite aritmetičke, naučne ili finansijske proračune
Comment[sv]=Utför aritmetiska, vetenskapliga eller finansiella beräkningar
Comment[ta]=கணித, அறிவியல் அல்லது பொருளாதார கணக்குகளை செய்கிறது.
Comment[te]=బీజీయ, శాస్త్రీయ లేదా ఆర్ధిక గణనలను ప్రదర్శించు
Comment[th]=คำนวณเลขคณิต ฟังก์ชันวิทยาศาสตร์ หรือการเงิน
Comment[tr]=Aritmetik, bilimsel ve finansal hesaplamalar gerçekleştirir
Comment[ug]=ئارىفمېتىكىلىق، ئىلمىي ياكى ئىقتىسادىي ھېساباتلارنى ئېلىپ بېرىش پروگراممىسى
Comment[uk]=Виконання арифметичних, наукових, чи фінансових розрахунків
Comment[uz]=Arifmetik, ilmiy yoki moliyaviy hisoblashlarni bajaring
Comment[vi]=Chạy phép tính kiểu số học, khoa học hay tài chính
Comment[zh_CN]=执行算术、科学或财务计算
Comment[zh_HK]=進行數字、科學或金融的計算
Comment[zh_TW]=進行數字、科學或金融的計算
Comment=Perform arithmetic, scientific or financial calculations
Exec=mate-calc
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=accessories-calculator
Terminal=false
Type=Application
StartupNotify=true
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=calculadora;MATE;científica;aritmètica;financera;càlculs;operacions;matemàtica;
Keywords[cs]=kalkulačka;kalkulátor;MATE;vědecké;aritmetické;finanční;výpočty;kalkulace;
Keywords[da]=calculator;MATE;scientific;arithmetic;financial;calculations;lommregner;videnskabelig;aritmetik;financiel;beregninger;
Keywords[es]=calculadora;MATE;científica;aritmética;financiera;operaciones
Keywords[fr]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[gl]=calculadora;MATE;científica;aritmética;financiera;cálculos;
Keywords[he]=מחשבון;MATE;מדעי;חשבון;פיננסי;כלכלי;אריתמטיקה;חישובים;
Keywords[id]=kalkulator;MATE;ilmiah;aritmatika;keuangan;finansial;perhitungan;kalkulasi;
Keywords[it]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[ja]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords[ko]=calculator;MATE;scientific;arithmetic;financial;calculations;계산기;과학적;산술;금융;계산;
Keywords[lt]=skaičiuotuvas;skaiciuotuvas;skaiciuoklis;skaičiuoklis;MATE;mokslinis;aritmetinis;aritmetika;finansinis;skaičiavimai;skaiciavimai;
Keywords[ms]=kalkulator;MATE;saintifik;aritmatik;kewangan;pengiraan;
Keywords[nb]=kalkulator;MATE;vitenskapelig;aritmetisk;økonomisk;beregninger;
Keywords[nl]=calculator;MATE;wetenschappelijk;rekenmachine;financieel;berekeningen;
Keywords[oc]=calculator;MATE;scientific;arithmetic;financial;calculations;calculadoira;mat;
Keywords[pl]=kalkulator;MATE;naukowy;arytmetyka;finansowy;obliczenia;
Keywords[pt]=calculadora;MATE;cientifica;aritmética;financeira;cálculos;
Keywords[pt_BR]=calculadora;MATE;científica;aritmética;financeira;cálculos;
Keywords[ru]=калькулятор;MATE;научный;арифметика;финансовый;вычисления;
Keywords[sr]=дигитрон;Мејт;научни;аритметички;финансијски;прорачуни;
Keywords[uk]=рахівник;MATE;наукові;арифметичні;фінансові;розрахунки;
Keywords[zh_CN]=计算器;MATE;科学;算术;财务;计算;
Keywords[zh_TW]=calculator;MATE;scientific;arithmetic;financial;calculations;
Keywords=calculator;MATE;scientific;arithmetic;financial;calculations;
Categories=GTK;Utility;Calculator;
X-MATE-DocPath=mate-calc/mate-calc.xml
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-calc
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-OtherBinaries=mate-calculator
