[Desktop Entry]
Version=1.1
Type=Application
Name=Menu Editor
Name[ar]=محرر القائمة
Name[ca]=Editor del menú
Name[cs]=Editor nabídky
Name[da]=Menuredigering
Name[de]=Menübearbeitung
Name[el]=Επεξεργαστής Μενού
Name[en_AU]=Menu Editor
Name[en_GB]=Menu Editor
Name[es]=Editor del menú
Name[eu]=Menu-editorea
Name[fi]=Valikkomuokkain
Name[fr]=Éditeur de menus
Name[fy]=Menu bewurkje
Name[gl]=Editor de menús
Name[he]=עורך תפריט
Name[hr]=Uređivač izbornika
Name[is]=Valmyndaritill
Name[it]=Editor del Menu
Name[ja]=メニューエディター
Name[kk]=Мәзір түзеткіші
Name[ko]=메뉴 편집기
Name[lt]=Meniu redaktorius
Name[ms]=Penyunting Menu
Name[ms@Arab]=ڤڽونتيڠ مينو
Name[nb]=Menyredigering
Name[nl]=Menu bewerken
Name[pl]=Edytor menu
Name[pt]=Editor de menu
Name[pt_BR]=Editor de Menus
Name[pt_PT]=Editor de Menus
Name[ru]=Редактор меню
Name[si]=මෙනු සංස්කාරකය
Name[sk]=Editor ponuky
Name[sl]=Urejevalnik menijev
Name[sr]=Уређивач изборника
Name[sv]=Menyredigerare
Name[tr]=Menü Düzenleyici
Name[uk]=Редактор меню
Name[zh_CN]=菜单编辑器
Name[zh_TW]=選單編輯器
Comment=Add or remove applications from the menu
Comment[ar]=إضافة أو إزالة التطبيقات من القائمة
Comment[ca]=Afegiu o suprimiu aplicacions del menú
Comment[cs]=Přidat nebo odebrat programy z nabídky
Comment[da]=Tilføj eller fjern programmer fra menuen
Comment[de]=Anwendungen aus bzw. zu diesem Menü hinzufügen oder entfernen
Comment[el]=Προσθήκη ή αφαίρεση εφαρμογών από το μενού
Comment[en_GB]=Add or remove applications from the menu
Comment[es]=Añadir o eliminar aplicaciones del menú
Comment[eu]=Gehitu edo kendu menuko aplikazioak
Comment[fi]=Lisää tai poista sovelluksia valikosta
Comment[fr]=Ajouter ou retirer des applications du menu
Comment[gl]=Engadir ou retirar aplicativos do menú
Comment[he]=הוסף או הסר יישומים מתוך התפריט
Comment[hr]=Dodaj ili ukloni program iz izbornika
Comment[is]=Bættu við eða fjarlægðu forrit úr valmyndinni
Comment[it]=Aggiungi e rimuovi applicazioni dal menù
Comment[ja]=メニューにあるアプリケーションの追加と削除
Comment[kk]=Мәзірге қолданбаларды қосу немесе өшіру
Comment[lt]=Pridėkite ar šalinkite meniu programas
Comment[ms]=Tambah atau buang aplikasi dari menu
Comment[ms@Arab]=تمبه اتاو بواڠ اڤليکاسي دري مينو
Comment[nb]=Legg til eller fjern programmer fra menyen
Comment[nl]=Voeg toepassingen toe aan of verwijder toepassingen uit het menu
Comment[pl]=Dodaje i usuwa programy z menu
Comment[pt]=Adicionar ou remover aplicações ao menu
Comment[pt_BR]=Adicione ou remove programas do menu
Comment[pt_PT]=Adicionar ou remover aplicações do menu
Comment[ru]=Добавление и удаление пунктов меню
Comment[sk]=Pridáva alebo odstraňuje aplikácie z ponuky
Comment[sl]=Dodajte ali odstranite program iz menija
Comment[sr]=Додаје или уклања програме у изборнику
Comment[sv]=Lägg till eller ta bort program från menyn
Comment[tr]=Menüye uygulamalar ekleyin veya silin
Comment[uk]=Додавання або вилучення програм з меню
Comment[zh_CN]=从菜单中添加或移除应用程序
Comment[zh_TW]=在選單加入或移除應用程式
Icon=menulibre
OnlyShowIn=Budgie;Cinnamon;GNOME;KDE;LXDE;LXQt;MATE;Pantheon;Unity;XFCE;
Exec=/usr/bin/menulibre
Categories=GNOME;GTK;Settings;DesktopSettings;Utility;
Keywords=Configuration;Menu;User;
StartupNotify=true
Terminal=false
X-Ubuntu-Gettext-Domain=menulibre
