[Desktop Entry]
Name=Onboard Settings
Name[ar]=إعدادات لوحة مفاتيح الشاشة
Name[ast]=Axustes d'Onboard
Name[be]=Наладкі Onboard
Name[bg]=Настройки на Onboard
Name[bn]=অনবোর্ড সেটিং
Name[bs]=Postavke Onboarda
Name[ca]=Paràmetres de l'Onboard
Name[ca@valencia]=Paràmetres de l'Onboard
Name[cs]=Nastavení Onboardu
Name[da]=Indstillinger for Onboard
Name[de]=Onboard-Einstellungen
Name[el]=Ρυθμίσεις Onboard
Name[en_AU]=Onboard Settings
Name[en_GB]=Onboard Settings
Name[eo]=Agordoj de Onboard
Name[es]=Configuración de Onboard
Name[eu]=Onboard ezarpenak
Name[fi]=Onboardin asetukset
Name[fr]=Paramètres d'Onboard
Name[fr_CA]=Paramètres de Onboard
Name[gd]=Roghainnean Onboard
Name[gl]=Configuración de Onboard
Name[he]=הגדרות Onboard
Name[hr]=Postavke zaslonske tipkovnice
Name[hu]=Onboard beállítások
Name[ia]=Configurationes de Onboard
Name[id]=Pengaturan Onboard
Name[it]=Impostazioni di Onboard
Name[ja]=Onboardの設定
Name[km]=ការ​កំណត់ Onboard
Name[ko]=온보드 설정
Name[lt]=Onboard nustatymai
Name[lv]=Onboard iestatījumi
Name[mr]=ऑनबोर्ड सेटिंग
Name[ms]=Tetapan Onboard
Name[nb]=Onboard-innstillinger
Name[nl]=Onboard-instellingen
Name[oc]=Paramètres d'Onboard
Name[pl]=Preferencje Onboard
Name[pt]=Definições Onboard
Name[pt_BR]=Configurações do Onboard
Name[ro]=Configurări Onboard
Name[ru]=Настройки Onboard
Name[sk]=Nastavenia Klávesnice na obrazovke
Name[sl]=Nastavitve Onboard
Name[sq]=Parametrat Onboard
Name[sr]=Поставке Онбоарда
Name[sv]=Onboard-inställningar
Name[tg]=Танзимоти Onboard
Name[tr]=Ekran Klavyesi Ayarları
Name[ug]=Onboard تەڭشىكى
Name[uk]=Налаштування Onboard
Name[zh_CN]=Onboard 设置
Name[zh_HK]=Onboard 設定
Name[zh_TW]=Onboard 設定
GenericName=Onboard onscreen keyboard settings
GenericName[ar]=إعدادات لوحة مفاتيح الشاشة
GenericName[ast]=Configuración del tecláu en pantalla d'Onboard
GenericName[be]=Наладкі экраннай клавіятуры Onboard
GenericName[bg]=Настройки на екранната клавиатура Onboard
GenericName[bn]=Onboard পর্দার কীবোর্ডের সেটিং
GenericName[bs]=Postavke Onboarda tastature na ekranu
GenericName[ca]=Paràmetres del teclat a la pantalla Onboard
GenericName[ca@valencia]=Paràmetres del teclat a la pantalla Onboard
GenericName[cs]=Nastavení Onboard klávesnice na obrazovce
GenericName[da]=Indstillinger for skærmtastaturet Onboard
GenericName[de]=Onboard-Bildschirmtastatureinstellungen
GenericName[el]=Ρυθμίσεις πληκτρολογίου οθόνης Onboard
GenericName[en_AU]=Onboard onscreen keyboard settings
GenericName[en_GB]=Onboard onscreen keyboard settings
GenericName[eo]=Agordoj por surekrana klavaro Onboard
GenericName[es]=Configuración del teclado en pantalla Onboard
GenericName[eu]=Onboard pantailako teklatuaren ezarpenak
GenericName[fi]=Onboard-virtuaalinäppäimistön asetukset
GenericName[fr]=Paramètres du clavier virtuel Onboard
GenericName[fr_CA]=Paramètres du clavier à l'écran Onboard
GenericName[gd]=Roghainnean a' mheur-chlàir Onboard air sgrìn
GenericName[gl]=Configuración do teclado na pantalla de Onboard
GenericName[hr]=Postavke zaslonske tipkovnice
GenericName[hu]=Onboard képernyő-billentyűzet beállításai
GenericName[ia]=Configurationes del claviero sur le schermo de Onboard
GenericName[id]=Pengaturan papan ketik onscreen Onboard
GenericName[it]=Impostazioni della tastiera a schermo Onboard
GenericName[ja]=Onboardオンスクリーンキーボード設定
GenericName[km]=ការកំណត់​ក្ដារ​ចុច​លើ​អេក្រង់ Onboard
GenericName[ko]=온보드 화면 키보드 설정
GenericName[lt]=Onboard ekraninės klaviatūros nustatymai
GenericName[lv]=Onboard ekrāna tastatūras iestatījumi
GenericName[mr]=ऑनबोर्ड ऑनस्क्रीन कळफलक सेटिंग
GenericName[ms]=Tetapan papan kekunci atas skrin Onboard
GenericName[nb]=Onboard skjermtastatur-innstillinger
GenericName[nl]=Instellingen voor Onboard schermtoetsenbord
GenericName[oc]=Paramètres del clavièr d'ecran Onboard
GenericName[pl]=Preferencje klawiatury ekranowej Onboard
GenericName[pt]=Onboard definições para o teclado no ecrã
GenericName[pt_BR]=Configurações do teclado de tela Onboard
GenericName[ro]=Configurări pentru tastatura virtuală Onboard
GenericName[ru]=Настройки экранной клавиатуры Onboard
GenericName[sk]=Nastavenia programu Klávesnica na obrazovke
GenericName[sl]=Nastavitve zaslonske tipkovnice Onboard
GenericName[sq]=Parametrat e tastierës në ekran onboard
GenericName[sr]=Поставке Онбоарда тастатуре на екрану
GenericName[sv]=Inställningar för skärmtangentbordet Onboard
GenericName[tg]=Танзимоти клавиатураи экрании Onboard
GenericName[tr]=Onboard ekran klavyesi ayarları
GenericName[ug]=Onboard ئېكران ھەرپتاختىسى تەڭشىكى
GenericName[uk]=Налаштування екранної клавіатури Onboard
GenericName[zh_CN]=Onboard 屏幕键盘设置
GenericName[zh_HK]=Onboard 螢幕鍵盤設定
GenericName[zh_TW]=Onboard 螢幕鍵盤設定
Comment=Change Onboard settings
Comment[ar]=غيّر إعدادات لوحة مفاتيح الشاشة
Comment[ast]=Camudar configuración d'Onboard
Comment[be]=Змяніць наладкі Onboard
Comment[bg]=Промяна на настройките на Onboard
Comment[bn]=অনবোর্ড সেটিং পরিবর্তন করুন
Comment[bs]=Promenite postavke Onboarda
Comment[ca]=Canvia els paràmetres de l'Onboard
Comment[ca@valencia]=Canvia els paràmetres de l'Onboard
Comment[cs]=Změnit nastavení Onboardu
Comment[da]=Ændr indstillinger i Onboard
Comment[de]=Onboard-Einstellungen ändern
Comment[el]=Αλλαγή των ρυθμίσεων του Onboard
Comment[en_AU]=Change Onboard settings
Comment[en_GB]=Change Onboard settings
Comment[eo]=Ŝanĝi agordojn de Onboard
Comment[es]=Cambiar configuración de Onboard
Comment[eu]=Aldatu Onboard-en ezarpenak
Comment[fi]=Muuta Onboardin asetuksia
Comment[fr]=Modifier les paramètres d'Onboard
Comment[fr_CA]=Changer les paramètres d'Onboard
Comment[gd]=Atharraich roghainnean Onboard
Comment[gl]=Cambiar a configuración de Onboard
Comment[he]=שינוי הגדרות Onboard
Comment[hr]=Promijeni postavke zaslonske tipkovnice
Comment[hu]=Onboard beállításainak módosítása
Comment[ia]=Cambiar le configurationes de Onboard
Comment[id]=Ganti pengaturan Onboard
Comment[it]=Modifica le impostazioni di Onboard
Comment[ja]=Onboardの設定を変更
Comment[km]=ប្ដូរ​ការ​កំណត់ Onboard
Comment[ko]=온보드 설정 바꾸기
Comment[lt]=Keisti Onboard nustatymus
Comment[lv]=Mainīt Onboard iestatījumus
Comment[mr]=OnBoard सेटिंग्ज बदला
Comment[ms]=Ubah tetapan Onboard
Comment[nb]=Endre Onboard-innstillinger
Comment[nl]=Onboard-instellingen wijzigen
Comment[oc]=Cambiatz los paramètres d'Onboard
Comment[pl]=Konfiguruje preferencje klawiatury ekranowej onBoard
Comment[pt]=Alterar as definições do Onboard
Comment[pt_BR]=Alterar configurações do Onboard
Comment[ro]=Modifică configurările Onboard
Comment[ru]=Изменить настройки Onboard
Comment[sk]=Mení nastavenia Klávesnice na obrazovke
Comment[sl]=Spremeni nastavitve Onboard
Comment[sq]=Ndrysho Parametrat Onboard
Comment[sr]=Промените поставке Онбоарда
Comment[sv]=Ändra inställningar för Onboard
Comment[tg]=Тағйир додани танзимоти Onboard
Comment[tr]=Ekran Klavyesi ayarlarını değiştir
Comment[ug]=Onboard تەڭشىكىنى ئۆزگەرتىش
Comment[uk]=Змінити налаштування Onboard
Comment[zh_CN]=更改 Onboard 设置
Comment[zh_HK]=變更 Onboard 設定
Comment[zh_TW]=變更 Onboard 設定
Exec=onboard-settings
Terminal=false
Type=Application
Categories=Settings;Accessibility;
Keywords=onscreen;keyboard;accessibility;utility;settings;configuration;
Icon=onboard
X-Ubuntu-Gettext-Domain=onboard
