[Desktop Entry]
Type=Application
Exec=kde-geo-uri-handler --coordinate-template "https://www.openstreetmap.org/#map=<Z>/<LAT>/<LON>" --query-template "https://www.openstreetmap.org/search?query=<Q>" --fallback "https://www.openstreetmap.org" %u
Name=OpenStreetMap
Name[ar]=خريطة الشّوارع المفتوحة
Name[ca]=OpenStreetMap
Name[ca@valencia]=OpenStreetMap
Name[cs]=OpenStreetMap
Name[de]=OpenStreetMap
Name[en_GB]=OpenStreetMap
Name[es]=OpenStreetMap
Name[eu]=OpenStreetMap
Name[fi]=OpenStreetMap
Name[fr]=OpenStreetMap
Name[gl]=OpenStreetMap
Name[hi]=ओपनस्ट्रीटमैप
Name[it]=OpenStreetMap
Name[ka]=OpenStreetMap
Name[ko]=OpenStreetMap
Name[nl]=OpenStreetMap
Name[nn]=OpenStreetMap
Name[pl]=OpenStreetMap
Name[pt]=OpenStreetMap
Name[pt_BR]=OpenStreetMap
Name[ro]=OpenStreetMap
Name[ru]=OpenStreetMap
Name[sk]=OpenStreetMap
Name[sl]=OpenStreetMap
Name[sv]=OpenStreetMap
Name[tr]=OpenStreetMap
Name[uk]=OpenStreetMap
Name[vi]=OpenStreetMap
Name[x-test]=xxOpenStreetMapxx
Name[zh_CN]=OpenStreetMap
Icon=map-globe
MimeType=x-scheme-handler/geo;
Terminal=false
NoDisplay=true
