# SPDX-FileCopyrightText: None
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Type=Application
Exec=kwalletd5
Name=KDE Wallet Service
Name[ar]=خدمة حافظة كِيدِي
Name[az]=KDE Cüzdanı Xidməti
Name[bg]=Услуга Портфейл на KDE 
Name[ca]=Servei de carteres de KDE
Name[ca@valencia]=Servei de carteres de KDE
Name[cs]=Služba úschovny KDE
Name[de]=KDE-Dienst für Passwortspeicher
Name[el]=Υπηρεσία πορτοφολιού του KDE
Name[en_GB]=KDE Wallet Service
Name[eo]=KDE Servilo de portilo
Name[es]=Servicio de carteras de KDE
Name[eu]=KDEren zorro-zerbitzua
Name[fi]=KDE:n lompakkopalvelin
Name[fr]=Serveur de portefeuilles de KDE
Name[gl]=Servizo de carteiras de KDE
Name[hu]=KDE jelszókezelő szolgáltatás
Name[ia]=Servicio de Portafolio de KDE
Name[is]=KDE-veskisþjónusta
Name[it]=Servizio portafogli di KDE
Name[ka]=KDE საფულის სერვისი
Name[ko]=KDE 지갑 서비스
Name[lt]=KDE slaptažodinės tarnyba
Name[nl]=KDE Portefeuilleservice
Name[nn]=KDE Lommebok-teneste
Name[pl]=Usługa Portfela KDE
Name[pt]=Serviço da Carteira do KDE
Name[pt_BR]=Serviço de carteiras do KDE
Name[ro]=Serviciul de portofel KDE
Name[ru]=Служба бумажника KDE
Name[sk]=Služba KDE Wallet
Name[sl]=Storitev KDE listnice
Name[sv]=KDE:s plånbokstjänst
Name[tr]=KDE Cüzdan Hizmeti
Name[uk]=Служба торбинок KDE
Name[vi]=Dịch vụ Ví KDE
Name[x-test]=xxKDE Wallet Servicexx
Name[zh_CN]=KDE 密码库服务
NoDisplay=true
Icon=kwalletmanager
