[Desktop Entry]
Name=GtkHash
GenericName[ar]=حاسبة التَثَبتُ من رقم التحقق
GenericName[bn]=চেকসাম ক্যালকুলেটর
GenericName[bn_BD]=চেকসাম ক্যালকুলেটর
GenericName[ca]=Calculadora de la suma de verificació
GenericName[cs]=Kalkulátor kontrolního součtu
GenericName[da]=Tjeksum-udregner
GenericName[de]=Prüfsummenrechner
GenericName[el]=Υπολογιστής αθροίσματος ελέγχου
GenericName[en_GB]=Checksum Calculator
GenericName[en_US]=Checksum Calculator
GenericName[eo]=Kontrolsumo-Kalkulilo
GenericName[es]=Calculadora de la suma de comprobación
GenericName[fa]=محاسبه گر جمع کنترلی
GenericName[fi]=Tarkistussummalaskin
GenericName[fr]=Calculateur de sommes de contrôle
GenericName[he]=מחשבון סיכום ביקורת
GenericName[hr]=Kalkulator kontrolne sume
GenericName[hu]=Ellenőrzőösszeg számoló
GenericName[id]=Kalkulator Ceksum
GenericName[ie]=Calculator de summa de control
GenericName[it]=Calcolatore Checksum
GenericName[ja]=チェックサム計算機
GenericName[lt]=Kontrolinės sumos skaičiuotuvas
GenericName[nb_NO]=Sjekksum-kalkulator
GenericName[nl]=Controlesomberekening
GenericName[nl_BE]=Controlesomberekening
GenericName[pl]=Kalkulator sum kontrolnych
GenericName[pt]=Calculadora de soma de verificação
GenericName[pt_BR]=Calculadora Checksum
GenericName[ru]=Калькулятор контрольных сумм
GenericName[sr]=Израчунавач суме провере
GenericName[sv]=Kontrollsummeberäknare
GenericName[tr]=Sağlama Hesaplayıcı
GenericName[vi]=Công cụ Kiểm tra tổng
GenericName[zh_CN]=校验和计算器
GenericName[zh_TW]=資料校驗值計算器
GenericName=Checksum Calculator
Comment[ar]=احسب جُملة ورقم التحقق
Comment[bn]=ডাইজেস্ট বা চেকসাম বার্তা গণনা করুন
Comment[bn_BD]=ডাইজেস্ট বা চেকসাম বার্তা গণনা করুন
Comment[ca]=Calcula resums de missatges o sumes de verificació
Comment[cs]=Vypočítává digest zpráv nebo kontrolní součty
Comment[da]=Udregn fingeraftryk eller tjeksumme
Comment[de]=Berechnet Message Digest oder Prüfsummen
Comment[el]=Υπολογίστε συνόψεις μηνυμάτων ή αθροίσματα ελέγχου
Comment[en_GB]=Calculate message digests or checksums
Comment[en_US]=Calculate message digests or checksums
Comment[eo]=Kalkuli haketaĵojn aŭ kontrolsumojn
Comment[es]=Calcular resúmenes de mensajes o sumas de comprobación
Comment[fi]=Laske viestien hajautukset tai tarkistussummat
Comment[fr]=Calcule des condensats ou des sommes de contrôle
Comment[he]=חישוב קוד גיבוב או סיכום ביקורת
Comment[hr]=Izračunaj sažetke poruka ili kontrolne sume
Comment[id]=Menghitung pesan inti atau ceksum
Comment[ie]=Calcular digestes o summas de control de missages
Comment[it]=Un'utility GTK+ per calcolare i digest (impronte) di messaggi o checksum
Comment[ja]=メッセージダイジェストやチェックサムの計算
Comment[lt]=Apskaičiuoti žinučių maišos reikšmes ar kontrolines sumas
Comment[nb_NO]=Kalkuler meldingsføljetonger eller sjekksummer
Comment[nl]=Berichtdigests of controlesommen berekenen
Comment[nl_BE]=Berichtdigests of controlesommen berekenen
Comment[pl]=Obliczanie skrótów wiadomości i sum kontrolnych
Comment[pt]=Calcula resumos de mensagens e somas de verificação (checksums)
Comment[pt_BR]=Calcular resumos de mensagens ou somas de verificação (checksums)
Comment[ru]=Вычисление дайджестов или контрольных сумм
Comment[sr]=Израчунајте сажетке порука или суме провере
Comment[sv]=Beräkna meddelandesammandrag eller kontrollsummor
Comment[tr]=Mesaj özetlerini veya sağlama toplamlarını hesapla
Comment[vi]=Tính toán thông báo các chữ số hoặc kiểm tra tổng
Comment[zh_CN]=计算信息摘要或校验和
Comment[zh_TW]=計算訊息摘要或資料校驗值
Comment=Calculate message digests or checksums
Keywords=hash;checksum;digest;md5;sha1;sha256;crc32;
TryExec=gtkhash
Exec=gtkhash %U
Icon=org.gtkhash.gtkhash
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Security;GTK;
