[Desktop Entry]
Name=Catfish File Search
Name[ar]=Catfish ملف البحث
Name[be]=Пошукавец файлаў Catfish
Name[bg]=Търсене на файлове Catfish
Name[ca]=Cerca de fitxers Catfish
Name[cs]=Vyhledávač souborů Catfish
Name[da]=Catfish Filsøgning
Name[de]=Catfish-Dateisuche
Name[el]=Αναζήτηση αρχείων Catfish
Name[en_AU]=Catfish File Search
Name[eo]=Dosierserĉilo Catfish
Name[es]=Búsqueda de archivos Catfish
Name[et]=Failiotsing Catfish
Name[eu]=Catfish fitxategi bilatzailea
Name[fi]=Catfish-tiedostohaku
Name[fr]=Recherche de fichiers Catfish
Name[gl]=Busca de ficheiros Catfish
Name[he]=חיפוש קבצים שפמנון
Name[hr]=Catfish pretraživanje datoteka
Name[hu]=Catfish fájlkereső
Name[hy_AM]=Catfish նիշերի որոնում
Name[hye]=Catfish նիշերի որոնում
Name[id]=Catfish Pencari Berkas
Name[ie]=Sercha de files Catfish
Name[is]=Catfish skráaleit
Name[it]=Catfish ricerca di file
Name[ja]=Catfish ファイル検索
Name[ko]=메기 파일 검색기
Name[ku]=Catfish Pela bigere
Name[lt]=Catfish failų paieška
Name[lv]=Catfish datņu meklēšana
Name[ms]=Gelintat Fail Catfish
Name[nb]=Catfish Filsøk
Name[nl]=Catfish bestandenzoeker
Name[nn]=Catfish filsøk
Name[pl]=Wyszukiwarka plików Catfish
Name[pt]=Pesquisador de ficheiros Catfish
Name[pt_BR]=Pesquisador de arquivos Catfish
Name[ru]=Поиск файлов Catfish
Name[si]=කැට් ෆිෂ් ලිපි ගොනු සෙවීම
Name[sk]=Vyhľadávač súborov Catfish
Name[sl]=Catfish iskanje datotek
Name[sq]=Kërkim Kartelash Catfish
Name[sr]=Претрага датотека Сом
Name[sv]=Catfish filsökning
Name[th]=เครื่องมือค้นหาแฟ้ม Catfish
Name[tr]=Catfish Dosya Arayıcı
Name[uk]=Пошук файлів за допомогою Catfish
Name[zh_CN]=Catfish 文件搜索
Name[zh_TW]=Catfish 檔案搜尋
GenericName=File search
GenericName[ar]=ملف البحث
GenericName[be]=Пошук файлаў
GenericName[bg]=Търсене на файлове
GenericName[ca]=Cerca de fitxers
GenericName[cs]=Vyhledávání souborů
GenericName[da]=Filsøgning
GenericName[de]=Dateisuche
GenericName[el]=Αναζήτηση αρχείου
GenericName[en_AU]=File search
GenericName[eo]=Dosierserĉilo
GenericName[es]=Búsqueda de archivos
GenericName[et]=Failiotsing
GenericName[eu]=Fitxategi bilaketa
GenericName[fi]=Tiedostojen haku
GenericName[fr]=Recherche de fichiers
GenericName[gl]=Busca de ficheiros
GenericName[he]=חיפוש קבצים
GenericName[hr]=Pretraga datoteka
GenericName[hu]=Fájlkeresés
GenericName[hy_AM]=Նիշերի որոնում
GenericName[hye]=Նիշերի որոնում
GenericName[id]=Pencari berkas
GenericName[ie]=Serchar por files
GenericName[is]=Skráaleit
GenericName[it]=Ricerca file
GenericName[ja]=ファイル検索
GenericName[kab]=Anadi n ufaylu
GenericName[ko]=파일 검색
GenericName[ku]=Pela bigere
GenericName[lt]=Failų paieška
GenericName[ms]=Gelintar fail
GenericName[nb]=Filsøk
GenericName[nl]=Bestanden zoeken
GenericName[nn]=Filsøk
GenericName[pl]=Wyszukiwanie plików
GenericName[pt]=Pesquisa de ficheiros
GenericName[pt_BR]=Pesquisar arquivo
GenericName[ru]=Поиск файлов
GenericName[sk]=Vyhľadávač súborov
GenericName[sl]=Iskanje datotek
GenericName[sq]=Kërkim kartele
GenericName[sr]=Претрага датотека
GenericName[sv]=Filsökning
GenericName[th]=ค้นหาแฟ้ม
GenericName[tr]=Dosya ara
GenericName[uk]=Пошук файлів
GenericName[zh_CN]=文件搜索
GenericName[zh_TW]=檔案搜尋
Comment=Search the file system
Comment[ar]=البحث في ملفات النظام
Comment[be]=Пошук у файлавай сістэме
Comment[bg]=Търсене във файловата система
Comment[ca]=Cerqueu al sistema de fitxers
Comment[cs]=Hledat v systému souborů
Comment[da]=Søg i filsystemet
Comment[de]=Dateisystem durchsuchen
Comment[el]=Αναζήτηση στο σύστημα αρχείων
Comment[en_AU]=Search the file system
Comment[eo]=Serĉi la dosiersistemon
Comment[es]=Buscar en el sistema de archivos
Comment[et]=Otsi failisüsteemist
Comment[eu]=Fitxategien sisteman bilatu
Comment[fi]=Hae tiedostojärjestelmästä
Comment[fr]=Rechercher dans le système de fichiers
Comment[gl]=Buscar en todo o sistema
Comment[he]=חפש במערכת הקבצים
Comment[hr]=Pretraži datotečni sustav
Comment[hu]=Keresés a fájlrendszerben
Comment[hy_AM]=Որոնել նիշային համակարգում
Comment[hye]=Որոնել նիշային համակարգում
Comment[id]=Cari dalam sistem berkas
Comment[ie]=Serchar li fil-sistema
Comment[is]=Leita í skráakerfi
Comment[it]=Cerca nel file system
Comment[ja]=ファイルシステムを検索
Comment[ko]=파일 시스템 검색
Comment[ku]=bigere li dosiya sîstem
Comment[lt]=Atlikti paiešką failų sistemoje
Comment[lv]=Meklēt datņu sistēmā
Comment[ml]=ഫയല്‍ സിസ്റ്റത്തില്‍ തിരയുക
Comment[ms]=Gelintar sistem fail
Comment[nb]=Søk i filsystemet
Comment[nl]=Doorzoek het bestandssysteem
Comment[nn]=Søk filsystemet
Comment[pl]=Przeszukuje zawartość systemu plików
Comment[pt]=Pesquisar o sistema de ficheiros
Comment[pt_BR]=Pesquisar no sistema de arquivos
Comment[ru]=Поиск по файловой системе
Comment[si]=ලිපි ගොනු පද්ධතිය සෙවීම
Comment[sk]=Vyhľadáva v súborovom systéme
Comment[sl]=Iskanje v datotečnem sistemu
Comment[sq]=Kërko në sistem kartelash
Comment[sr]=Претрага склопа датотека
Comment[sv]=Sök i filsystemet
Comment[th]=ค้นระบบแฟ้ม
Comment[tr]=Dosya sisteminde ara
Comment[uk]=Пошук у файловій системі
Comment[zh_CN]=搜索文件系统
Comment[zh_TW]=搜尋檔案系統
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=files;find;locate;lookup;search;
Keywords[ar]=ملفات;إيجاد;موضع;مشاهدة;بحث;
Keywords[be]=files;find;locate;lookup;search;
Keywords[bg]=файлове;намиране;локализиране;издирване;търсене;
Keywords[ca]=fitxers;cercar;buscar;recerca;
Keywords[cs]=soubory;najít;nalézt;vyhledat;hledat;prohledat;hledání;vyhledávání;prohledávání;
Keywords[da]=filer;find;opslå;søg;
Keywords[de]=dateien;finden;auffinden;nachschlagen;suchen;
Keywords[el]=αρχεία;εύρεση;τοποθέτηση;lookup;αναζήτηση;
Keywords[en_AU]=files;find;locate;lookup;search;
Keywords[es]=archivos;encontrar;localizar;buscar;búsqueda;
Keywords[et]=files;find;locate;lookup;search;failid;leia;otsi;päring;
Keywords[eu]=fitxategiak;bilatu;aurkitu;bilaketa;araketa;
Keywords[fr]=fichiers;trouver;localiser;rechercher;chercher;
Keywords[gl]=ficheiros;atopar;localizar;consultar;buscar;
Keywords[he]=קבצים;מצא;אתר;חפש;חפש;
Keywords[hr]=datoteke;nađi;traži;potraži;lociraj;
Keywords[hu]=fájlok;keresés;
Keywords[hy_AM]=նիշք;գտնել;բացայայտել;զննել;որոնել;
Keywords[hye]=նիշք;գտնել;բացայայտել;զննել;որոնել;
Keywords[id]=berkas;deteksi;temu;pindai;cari;
Keywords[ie]=files;serchar;trovar;sercha;
Keywords[is]=skrár;finna;staðsetja;fletta upp;leita;
Keywords[it]=file;trova;individua;ricerca;cerca;
Keywords[ja]=files;find;locate;lookup;search;
Keywords[ko]=files;파일;find;찾기;locate;위치;지정;lookup;search;검색;
Keywords[lt]=failai;rasti;ieškoti;paieška;
Keywords[ms]=fail;cari;kenalpasti;carian;gelintar;
Keywords[nb]=filer;finn;lokaliser;slå;opp;søk;
Keywords[nl]=bestanden;zoeken;vinden;opzoeken;doorzoeken;
Keywords[nn]=filer;finn;lokaliser;slå opp;søk;leit;spor opp;
Keywords[pl]=pliki;znajdź;wyszukaj;zlokalizuj;szukaj;
Keywords[pt]=ficheiros;encontrar;localizar;procurar;pesquisar;
Keywords[pt_BR]=arquivos;buscar;localizar;encontrar;pesquisar
Keywords[ru]=files;find;locate;lookup;search;файлы;найти;расположение;искать;поиск;
Keywords[sk]=súbory;nájsť;nájdenie;vyhľadanie;vyhľadať;
Keywords[sl]=datoteke;najdi;lociraj;poišči;isšči;iskanje;
Keywords[sq]=kartela;gjej;lokalizo;kërkim;kërko;
Keywords[sr]=датотека;нађи;тражи;претрага;податак;
Keywords[sv]=files;find;locate;lookup;search;
Keywords[th]=แฟ้ม;ค้น;หา;ค้นหา;
Keywords[tr]=dosyalar;bul;konum;arama;ara;göz atma;gözatma;bakma;
Keywords[uk]=файли;пошук;розташування;знаходження;шукати;
Keywords[zh_CN]=文件;搜寻;定位;查找;搜索;
Keywords[zh_TW]=檔案;尋找;定位;查詢;搜尋;
Categories=GNOME;GTK;Utility;
Exec=/usr/bin/catfish %f
Icon=org.xfce.catfish
Terminal=false
Type=Application
MimeType=inode/directory;
StartupWMClass=catfish
