[Desktop Entry]
Version=1.0
Name[ar]=ماوس باد
Name[ast]=Mousepad
Name[be]=Mousepad
Name[bg]=Mousepad
Name[ca]=Mousepad
Name[cs]=Mousepad
Name[da]=Mousepad
Name[de]=Mousepad
Name[el]=Mousepad
Name[en_AU]=Mousepad
Name[en_GB]=Mousepad
Name[es]=Mousepad
Name[et]=Mousepad
Name[eu]=Mousepad
Name[fi]=Mousepad
Name[fr]=Mousepad
Name[gl]=Mousepad
Name[he]=Mousepad
Name[hr]=Mousepad
Name[hu]=Mousepad
Name[hy_AM]=Mousepad
Name[hye]=Mousepad
Name[id]=Mousepad
Name[ie]=Mousepad
Name[is]=Mousepad
Name[it]=Mousepad
Name[ja]=Mousepad
Name[kk]=Mousepad
Name[ko]=마우스패드
Name[lt]=Mousepad
Name[ms]=Mousepad
Name[nb]=Mousepad
Name[nl]=Mousepad
Name[nn]=Mousepad
Name[oc]=Mousepad
Name[pl]=Mousepad
Name[pt_BR]=Mousepad
Name[pt]=Mousepad
Name[ro]=Mousepad
Name[ru]=Mousepad
Name[sk]=Mousepad
Name[sl]=Mousepad
Name[sq]=Mousepad
Name[sr]=Мишоловка
Name[sv]=Mousepad
Name[te]=మౌస్‌ప్యాడ్
Name[th]=Mousepad
Name[tr]=Mousepad
Name[ug]=Mousepad
Name[uk]=Mousepad
Name[zh_CN]=Mousepad
Name[zh_TW]=Mousepad
Name=Mousepad
Comment[ar]=محرر نصوص بسيط
Comment[ast]=Editor de testu simple
Comment[be]=Просты тэкставы рэдактар
Comment[bg]=Опростен текстов редактор
Comment[ca]=Editor de text senzill
Comment[cs]=Jednoduchý textový editor
Comment[da]=Simpel tekstredigering
Comment[de]=Einfache Textbearbeitung
Comment[el]=Απλός επεξεργαστής κειμένου
Comment[en_AU]=Simple Text Editor
Comment[en_GB]=Simple Text Editor
Comment[es]=Editor de texto simple
Comment[et]=Lihtne tekstiredaktor
Comment[eu]=Testu editore sinplea
Comment[fa_IR]=ویرایشگر متن ساده
Comment[fi]=Yksinkertainen tekstimuokkain
Comment[fr]=Éditeur de texte simple
Comment[gl]=Editor de texto sinxelo
Comment[he]=עורך תמלילים פשוט
Comment[hr]=Jednostavni uređivač teksta
Comment[hu]=Egyszerű szövegszerkesztő
Comment[hy_AM]=Պարզ գրոյթային խմբագրիչ
Comment[hye]=Պարզ գրոյթային խմբագրիչ
Comment[id]=Penyunting Teks Sederhana
Comment[ie]=Un simplic redactor de textus
Comment[is]=Einfaldur textaritill
Comment[it]=Semplice editor di testo
Comment[ja]=シンプルなテキストエディターです
Comment[kk]=Қарапайым мәтін түзетушісі
Comment[ko]=간단한 문서 편집기
Comment[lt]=Paprastas teksto redaktorius
Comment[ms]=Penyunting Teks Ringkas
Comment[nb]=Enkel tekstbehandler
Comment[nl]=Eenvoudige tekstbewerker
Comment[nn]=Enkelt teksthandsamingsprogram
Comment[oc]=Editor de tèxte simple
Comment[pl]=Zwykły edytor tekstu
Comment[pt_BR]=Editor de Texto Simples
Comment[pt]=Editor de texto simples
Comment[ro]=Un editor simplu de text
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sl]=Preprost urejevalnik besedila
Comment[sq]=Përpunues Tekstesh i Thjeshtë
Comment[sr]=Једноставан уређивач писања
Comment[sv]=Enkel textredigerare
Comment[th]=เครื่องมือแก้ไขข้อความอย่างง่าย
Comment[tr]=Basit Metin Düzenleyici
Comment[ug]=ئاددىي تېكىست تەھرىرلىگۈ
Comment[uk]=Простий текстовий редактор
Comment[zh_CN]=简易文本编辑器
Comment[zh_TW]=簡易文字編輯器
Comment=Simple Text Editor
GenericName[ar]=محرر نصوص
GenericName[ast]=Editor de testu
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текстов редактор
GenericName[ca]=Editor de text
GenericName[cs]=Textový editor
GenericName[da]=Tekstredigering
GenericName[de]=Textbearbeitung
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_AU]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[es]=Editor de texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu Editatzailea
GenericName[fa_IR]=ویرایشگر متن
GenericName[fi]=Tekstimuokkain
GenericName[fr]=Éditeur de texte
GenericName[gl]=Editor de texto
GenericName[he]=עורך תמלילים
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[hy_AM]=Գրոյթային խմբագրիչ
GenericName[hye]=Գրոյթային խմբագրիչ
GenericName[id]=Penyunting Teks
GenericName[ie]=Redactor de textus
GenericName[is]=Textaritill
GenericName[it]=Editor di Testo
GenericName[ja]=テキストエディター
GenericName[kk]=Мәтін түзетушісі
GenericName[ko]=문서 편집기
GenericName[lt]=Teksto redaktorius
GenericName[ms]=Penyunting Teks
GenericName[nb]=Tekstbehandler
GenericName[nl]=Tekstbewerker
GenericName[nn]=Teksthandsamingsprogram
GenericName[oc]=Editor de tèxte
GenericName[pl]=Edytor tekstu
GenericName[pt_BR]=Editor de Texto
GenericName[pt]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedila
GenericName[sq]=Përpunues Tekstesh
GenericName[sr]=Уређивач писања
GenericName[sv]=Textredigerare
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈ
GenericName[uk]=Текстовий редактор
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
GenericName=Text Editor
Exec=mousepad %U
Icon=org.xfce.mousepad
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;application/x-zerosize;
Actions=preferences;

[Desktop Action preferences]
Name[be]=Налады Mousepad
Name[bg]=Настройки на Mousepad
Name[cs]=Předvolby aplikace Mousepad
Name[da]=Præferencer for Mousepad
Name[de]=Mousepad-Einstellungen
Name[el]=Προτιμήσεις Mousepad
Name[es]=Preferencias de Mousepad
Name[et]=Mousepad'i eelistused
Name[eu]=Mousepad hobespenak
Name[fi]=Mousepadin asetukset
Name[fr]=Préférences de Mousepad
Name[gl]=Preferencias do Mousepad
Name[he]=הגדרות Mousepad
Name[hr]=Mousepad osobitosti
Name[id]=Preferensi Mousepad
Name[it]=Preferenze di Mousepad
Name[ja]=Mousepad 設定
Name[kk]=Mousepad баптаулары
Name[ko]=마우스패드 기본 설정
Name[lt]=Mousepad nuostatos
Name[nb]=Mousepad-innstillinger
Name[nl]=Voorkeuren van Mousepad
Name[pl]=Preferencje Mousepad
Name[pt_BR]=Preferências do Mousepad
Name[pt]=Preferências do Mousepad
Name[ro]=Preferințe Mousepad
Name[ru]=Параметры Mousepad
Name[sk]=Nastavenia Mousepadu
Name[sl]=Nastavitve za Mousepad
Name[sq]=Parapëlqime për Mousepad
Name[sr]=Поставке Мишоливке
Name[sv]=Mousepad-inställningar
Name[th]=ปรับแต่ง Mousepad
Name[tr]=Mousepad Tercihleri
Name[uk]=Властивості Mousepad
Name[zh_CN]=Mousepad 首选项
Name[zh_TW]=Mousepad 偏好設定
Name=Mousepad Preferences
Exec=mousepad --preferences
