[Desktop Entry]
Version=1.0
Name[be]=Налады рэдактара тэксту
Name[bg]=Настройки на текстовия редактор
Name[cs]=Nastavení textového editoru
Name[da]=Indstillinger for tekstredigering
Name[de]=Textbearbeitungs-Einstellungen
Name[el]=Προτιμήσεις του επεξεργαστή κειμένου
Name[es]=Configuración del editor de texto
Name[et]=Tekstiredaktori seadistused
Name[eu]=Testu editorearen ezarpenak
Name[fi]=Tekstieditorin asetukset
Name[fr]=Paramètres de l’éditeur de texte
Name[gl]=Configuración do editor de texto
Name[he]=הגדרות עורך טקסט
Name[hu]=Szövegszerkesztő beállítások
Name[id]=Pengaturan Penyunting Teks
Name[it]=Impostazioni dell'editor di testo
Name[ja]=テキストエディター設定
Name[kk]=Мәтіндік түзеткіш баптаулары
Name[ko]=텍스트 편집기 설정
Name[lt]=Tekstų redaktoriaus nustatymai
Name[nb]=Oppsett av tekstprogram
Name[nl]=Instellingen voor tekstbewerker
Name[pl]=Ustawienia edytora tekstu
Name[pt_BR]=Configurações do Editor de Texto
Name[pt]=Definições do Editor de texto
Name[ru]=Параметры текстового редактора
Name[sk]=Nastavenia textového editora
Name[sl]=Nastavitve urejevalnika besedil
Name[sq]=Rregullime Përpunuesi Tekstesh
Name[sr]=Поставке уредника писања
Name[sv]=Textredigerarinställningar
Name[th]=ตั้งค่าเครื่องมือแก้ไขข้อความ
Name[tr]=Metin Düzenleyici Ayarları
Name[uk]=Налаштування текстового редактора
Name[zh_CN]=文本编辑器设置
Name[zh_TW]=文字編輯器設定
Name=Text Editor Settings
Comment[be]=Налады тэкставага рэдактара Mousepad
Comment[bg]=Конфигуриране на текстовият редактор Mousepad
Comment[cs]=Konfigurovat textový editor Mousepad
Comment[da]=Konfigurer tekstredigeringsprogrammet Mousepad
Comment[de]=Konfiguration der Mousepad-Textbearbeitung
Comment[el]=Ρυθμίσεις επεξεργαστή κειμένου Mousepad
Comment[es]=Configure el editor de texto Mousepad
Comment[et]=Seadista tekstiredaktorit Mousepad
Comment[eu]=Mousepad testu editorea konfiguratu
Comment[fr]=Configurer l’éditeur de texte Mousepad
Comment[gl]=Configurar o editor de texto Mousepad
Comment[he]=הגדר את עורך הטקסט Mousepad
Comment[hu]=A Mousepad szövegszerkesztő beállítása
Comment[id]=Konfigurasikan penyunting teks Mousepad
Comment[it]=Configura l'editor di testo Mousepad
Comment[ja]=Mousepad テキストエディターを設定します
Comment[kk]=Mousepad мәзір түзеткішін баптау
Comment[ko]=마우스패드 텍스트 편집기를 설정합니다
Comment[lt]=Konfigūruoti Mousepad tekstų redaktorių
Comment[nb]=Sett opp tekstprogrammet Mousepad
Comment[nl]=Stel de tekstbewerker Mousepad in
Comment[pl]=Konfiguruje edytor tekstu Mousepad
Comment[pt_BR]=Configurar o editor de texto Mousepad
Comment[pt]=Configurar o editor de texto Mousepad
Comment[ru]=Настройка текстового редактора Mousepad
Comment[sl]=Nastavitve urejevalnika besedil Mousepad
Comment[sq]=Formësoni përpunuesin e teksteve Mousepad
Comment[sr]=Подесите уредника писања Мишоловку
Comment[sv]=Ställ in Mousepad textredigerare 
Comment[th]=ตั้งค่าเครื่องมือแก้ไขข้อความ Mousepad
Comment[tr]=Mousepad metin düzenleyiciyi yapılandır
Comment[uk]=Конфігурація текстового редактора Mousepad
Comment[zh_CN]=配置 Mousepad  文本编辑器
Comment[zh_TW]=設定 Mousepad 文字編輯器
Comment=Configure the Mousepad text editor
Exec=mousepad --preferences
Icon=org.xfce.mousepad
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
