[Desktop Entry]
#This .desktop file is never shown in a menu, hence no Exec
#it's here mostly so wayland can get an icon on popups
Name=KDED
Name[ar]=العمومية
Name[az]=KDED
Name[be]=KDED
Name[bg]=KDED
Name[ca]=KDED
Name[ca@valencia]=KDED
Name[cs]=KDED
Name[da]=KDED
Name[de]=KDED
Name[el]=KDED
Name[en_GB]=KDED
Name[eo]=KDED
Name[es]=KDED
Name[et]=KDED
Name[eu]=KDED
Name[fi]=KDED
Name[fr]=KDED
Name[gl]=KDED
Name[hi]=केडीईडी
Name[hu]=KDED
Name[ia]=KDED
Name[is]=KDED
Name[it]=KDED
Name[ka]=KDED
Name[ko]=KDED
Name[lt]=KDED
Name[nl]=KDED
Name[nn]=KDED
Name[pl]=KDED
Name[pt]=KDED
Name[pt_BR]=KDED
Name[ro]=KDED
Name[ru]=KDED
Name[sk]=KDED
Name[sl]=KDED
Name[sq]=KDED
Name[sv]=KDED
Name[ta]=KDED
Name[tr]=KDED
Name[uk]=KDED
Name[vi]=KDED
Name[x-test]=xxKDEDxx
Name[zh_CN]=KDED
Name[zh_TW]=KDED
Type=Service
Icon=kde-frameworks
NoDisplay=true
