[Desktop Entry]
Name=Panel Profiles
Name[be]=Профілі панэлі
Name[bg]=Профили на панела
Name[ca]=Perfils de taulers
Name[cs]=Profily panelu
Name[da]=Panelprofiler
Name[de]=Leistenprofile
Name[el]=Προφίλ Ταμπλό
Name[en_AU]=Panel Profiles
Name[en_GB]=Panel Profiles
Name[es]=Perfiles de paneles
Name[et]=Paneeliprofiilid
Name[eu]=Panel profilak
Name[fa_IR]=پروفایل‌های پنل
Name[fi]=Paneeliprofiilit
Name[fr]=Profils du tableau de bord
Name[gl]=Perfís de panel
Name[he]=פרופילי לוח
Name[hi]=पैनल प्रोफाइल
Name[hr]=Profili ploče
Name[hu]=Panelprofilok
Name[hy_AM]=Ընտրացանկի հաշիւ
Name[hye]=Ընտրացանկի հաշիւ
Name[id]=Profil Panel
Name[ie]=Profiles de panel
Name[is]=Skjástikusnið
Name[it]=Profili del pannello
Name[ja]=パネルプロファイル
Name[kk]=Панель профильдері
Name[ko]=패널 속성
Name[lt]=Skydelio profiliai
Name[ms]=Profil Panel
Name[nb]=Panelprofiler
Name[nl]=Werkbalkprofielen
Name[pl]=Profile paneli
Name[pt]=Perfis de Painel
Name[pt_BR]=Perfis do Painel
Name[ro]=Profiluri Panou
Name[ru]=Профили панели
Name[sk]=Profily panelov
Name[sl]=Profili panojev
Name[sq]=Profile Paneli
Name[sr]=Обрасци полице
Name[sv]=Panelprofiler
Name[th]=โพรไฟล์ของพาเนล
Name[tr]=Panel Profilleri
Name[uk]=Профілі панелі
Name[zh_CN]=面板配置文件
Name[zh_HK]=面板配置文件
Name[zh_TW]=面板設定檔
Comment=Backup and restore your panel configuration
Comment[be]=Стварэнне і аднаўленне рэзервовай копіі канфігурацыі панэлі
Comment[bg]=Съхраняване и възстановяване на вашите настройки на панела
Comment[ca]=Feu una còpia de seguretat i restaureu la configuració del tauler
Comment[cs]=Záloha a obnova nastavení panelu
Comment[da]=Sikkerhedskopiér og gendan din panelkonfiguration
Comment[de]=Ihre Leistenkonfiguration sichern und wiederherstellen
Comment[el]=Δημιουργία αντιγράφων και επαναφορά ρυθμίσεων των ταμπλό
Comment[en_AU]=Backup and restore your panel configuration
Comment[en_GB]=Backup and restore your panel configuration
Comment[es]=Respalde y restaure la configuración de los paneles
Comment[et]=Varunda ja taasta oma paneeli seadistused
Comment[eu]=Zure panelen konfigurazioaren babeskopiak egin eta berrezarri
Comment[fi]=Varmuuskopioi ja palauta paneeliasetuksesi
Comment[fr]=Sauvegarde et restaure votre configuration du tableau de bord
Comment[gl]=Copia de seguranza e restaurado da configuración do panel
Comment[he]=בצע גיבוי ושיחזור של תצורת הלוח שלך
Comment[hi]=पैनल विन्यास को बैकअप व पुनः स्थापित करें
Comment[hr]=Napravite sigurnosnu kopiju i obnovite konfiguraciju ploče
Comment[hu]=Panelbeállítások mentése és visszaállítása
Comment[hy_AM]=Պահել եւ վերականգնել Ձեր ընտրացանկի կազմաձեւումը
Comment[hye]=Պահել եւ վերականգնել Ձեր ընտրացանկի կազմաձեւումը
Comment[id]=Cadangkan dan pulihkan konfigurasi panel Anda
Comment[ie]=Archivar e restituer vor configuration de panel(es)
Comment[is]=Öryggisafritaðu og endurheimtu uppsetningu á skjástikum
Comment[it]=Backup e ripristino della configurazione del pannello
Comment[ja]=パネル設定のバックアップと復元をする
Comment[kk]=Панель баптауларын қорға көшіру және қалпына келтіру
Comment[ko]=사용자의 패널 설정을 백업하고 복구
Comment[lt]=Daryti ir atkurti skydelio konfigūracijos atsarginę kopiją
Comment[ms]=Sandar dan pulihkan konfigurasi panel anda
Comment[nb]=Reservekopier og gjenopprett paneloppsettet ditt
Comment[nl]=Maak een reservekopie van uw werkbalkinstellingen en herstel ze
Comment[pl]=Tworzy i przywraca kopie zapasowe konfiguracji paneli
Comment[pt]=Guardar e restaurar a configuração do painel
Comment[pt_BR]=Salve e restaure a configuração do seu painel
Comment[ro]=Restaurați și creați copii de siguranță ale configurației de panou
Comment[ru]=Сохранение и восстановление настроек панели
Comment[sk]=Zálohuje a obnovuje konfiguráciu vášho panela
Comment[sl]=Shranite in obnovite vaše nastavitve panojev
Comment[sq]=Kopjeruajeni dhe riktheni formësimin e panelit tuaj
Comment[sr]=Прави умножак поставки полице за чување и враћа га
Comment[sv]=Spara och återställ din panelinställning
Comment[th]=สำรองและกู้คืนค่าตั้งพาเนลของคุณ
Comment[tr]=Panel yapılandırmalarını yedekle ve geri yükle
Comment[uk]=Створення запасної копії і відновлення конфігурації Вашої панелі
Comment[zh_CN]=备份并还原您的面板配置文件
Comment[zh_HK]=備份和還原面板配置
Comment[zh_TW]=備份並還原您的面板設定
Keywords=panel;taskbar;layout;switch;apply;restore;save;backup;remove;import;export;
Keywords[bg]=панел;лента на задачи;подредба;прилагане;възстановяване;запазване;резервно копие;премахване;внасяне;изнасяне;
Keywords[de]=Panel;Taskleiste;Layout;Schalter;Anwenden;Wiederherstellen;Speichern;Backup;Entfernen;Importieren;Exportieren;
Keywords[en_GB]=panel;taskbar;layout;switch;apply;restore;save;backup;remove;import;export;
Keywords[fr]=tableau de bord;barre des tâches;disposition;commutateur;appliquer;restaurer;enregistrer;sauvegarder;supprimer;importer;exporter;
Keywords[it]=panel;taskbar;layout;switch;apply;restore;save;backup;remove;import;export;
Keywords[ja]=パネル;タスクバー;レイアウト;切替;適用;復元;保存;バックアップ;削除;インポート;エキスポート;
Keywords[lt]=skydelis;užduočių juosta;uzduociu juosta;išdėstymas;isdestymas;perjungti;taikyti;atkurti;atstatyti;įrašyti;irasyti;išsaugoti;issaugoti;atsarginė kopija;atsargine kopija;daryti atsarginę kopiją;daryti atsargine kopija;šalinti;salinti;ištrinti;istrinti;imporuoti;importas;importavimas;eksportuoti;eksportas;eksportavimas;
Keywords[nb]=panel;oppgavelinje;utforming;layout;bytte;bytt;ta;i;bruk;gjenopprett;lagre;reservekopi;fjern;import;eksport;importer;eksporter;
Keywords[nl]=werkbalk;taakbalk;vormgeving;wisselen;toepassen;terugzetten;opslaan;reservekopie;verwijderen;importeren;exporteren;
Keywords[pl]=panel;pasek zadań;układ;przełączanie;stosowanie;przywracanie;zapisywanie;kopia zapasowa;usuwanie;import;eksport;
Keywords[pt]=painel;barra de tarefas;layout;interruptor;aplicar;restaurar;guardar;backup;cópia de segurança;remover;importar;exportar;
Keywords[ru]=panel;taskbar;layout;switch;apply;restore;save;backup;remove;import;export;
Keywords[sq]=panel;skemë;ndërrim;aplikoje;riktheje;ruaje;kopjeruajtje;hiqe;importim;eksportim;
Keywords[sr]=полица;распоред;прекидач;примени;поврати;сачувај;резерва;уклони;увези;извези;панел;трака;
Keywords[zh_CN]=panel;taskbar;layout;switch;apply;restore;save;backup;remove;import;export;面板;任务栏;布局;切换;应用;恢复;保存;备份;移除;导入;导出;
Keywords[zh_TW]=panel;taskbar;layout;switch;apply;restore;save;backup;remove;import;export;
Exec=xfce4-panel-profiles
Terminal=false
Type=Application
StartupNotify=true
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
Keywords=Configuration;User;
Icon=org.xfce.PanelProfiles
