[Desktop Entry]
Name[af]=Drukvoorskou
Name[an]=Anvista previa d'a impresión
Name[ar]=معاينة الطباعة
Name[as]=প্ৰিন্ট পূৰ্বদৰ্শন
Name[be]=Папярэдні прагляд друку
Name[bg]=Мостра на печата
Name[bn_IN]=প্রিন্টের পূর্বরূপ
Name[bs]=Pregled prije štampe
Name[ca]=Previsualitza la impressió
Name[ca@valencia]=Previsualitza la impressió
Name[cs]=Náhled tisku
Name[da]=Forhåndsvisning af udskrift
Name[de]=Druckvorschau
Name[el]=Προεπισκόπηση εκτύπωσης
Name[en_GB]=Print Preview
Name[eo]=Aspekto de la presotaĵo
Name[es]=Vista previa de impresión
Name[et]=Printimise eelvaade
Name[eu]=Inprimatzeko aurrebista
Name[fa]=پیش‌نمایش چاپ
Name[fi]=Tulostuksen esikatselu
Name[fr]=Aperçu avant impression
Name[fur]=Anteprime di Stampe
Name[gd]=Ro-shealladh clò-bhualaidh
Name[gl]=Vista previa da impresión
Name[gu]=છાપવાનું પૂર્વદર્શન
Name[he]=תצוגה מקדימה
Name[hi]=छपाई पूर्वावलोकन
Name[hr]=Pregled ispisa
Name[hu]=Nyomtatási kép
Name[id]=Pratinjau Cetak
Name[ie]=Previder
Name[is]=Forskoðun prentunar
Name[it]=Anteprima di stampa
Name[ja]=印刷プレビューアー
Name[ka]=დასაბეჭდის გადახედვა
Name[kk]=Баспа алдында қарау
Name[kn]=ಮುದ್ರಣ ಮುನ್ನೋಟ
Name[ko]=인쇄 미리 보기
Name[lt]=Spausdinio peržiūra
Name[lv]=Drukas priekšskatījums
Name[ml]=അച്ചടി തിരനോട്ടം
Name[mr]=छपाई पूर्वावलोकन
Name[ms]=Pratonton Cetak
Name[nb]=Forhåndsvisning av utskrift
Name[ne]=मुद्रण पूर्वावलोकन
Name[nl]=Afdrukvoorbeeld
Name[oc]=Apercebut abans impression
Name[or]=ମୁଦ୍ରଣ ପୂର୍ବଦୃଶ୍ଯ
Name[pa]=ਪਰਿੰਟ ਝਲਕ
Name[pl]=Podgląd wydruku
Name[pt]=Antevisão de impressão
Name[pt_BR]=Visualizar impressão
Name[ro]=Previzualizează tipărire
Name[ru]=Предварительный просмотр печати
Name[sk]=Náhľad pred tlačou
Name[sl]=Predogled tiskanja
Name[sr]=Претпреглед штампе
Name[sr@latin]=Pretpregled štampe
Name[sv]=Förhandsvy av utskrift
Name[ta]=அச்சு முன்னோட்டம்
Name[te]=ముద్రణ ముందస్తు దర్శనం
Name[tg]=Пешнамоиши чоп
Name[th]=แสดงตัวอย่างก่อนพิมพ์
Name[tr]=Baskı Ön İzleme
Name[ug]=بېسىشنى ئالدىن كۆر
Name[uk]=Попередній перегляд
Name[vi]=Xem thử bản in
Name[zh_CN]=打印预览
Name[zh_HK]=預覽打印
Name[zh_TW]=預覽列印
Name=Print Preview
Comment[af]=Voorskou voor dit gedruk word
Comment[an]=Anvista previa antis de imprentar
Comment[ar]=عايِن قبل الطباعة
Comment[as]=প্ৰিন্ট কৰাৰ আগত পূৰ্বদৰ্শন কৰক
Comment[be]=Папярэдні прагляд перад друкам
Comment[bg]=Преглед преди отпечатване
Comment[bn_IN]=প্রিন্ট করার অাগে দেখে নিন
Comment[bs]=Pregled prije štampe
Comment[ca]=Previsualitza abans d'imprimir
Comment[ca@valencia]=Previsualitza abans d'imprimir
Comment[cs]=Náhled před vytištěním
Comment[da]=Forhåndsvisning før udskrift
Comment[de]=Vorschau auf das Dokument vor dem Druck
Comment[el]=Προεπισκόπηση πριν την εκτύπωση
Comment[en_GB]=Preview before printing
Comment[eo]=Aspekti antaŭ presi
Comment[es]=Previsualizar antes de imprimir
Comment[et]=Eelvaatlus enne printimist
Comment[eu]=Aurreikusi inprimatu aurretik
Comment[fa]=پیش‌نمایش قبل از چاپ
Comment[fi]=Esikatsele ennen tulostamista
Comment[fr]=Aperçu avant impression
Comment[fur]=Mostre in anteprime il document di stampâ
Comment[gd]=Ro-sheall ron chlò-bhualadh
Comment[gl]=Vista previa antes de imprimir
Comment[gu]=છાપતા પહેલાં પૂર્વદર્શન
Comment[he]=תצוגה מקדימה להדפסה
Comment[hi]=छपाई के पहले पूर्वावलोकन
Comment[hr]=Pregled prije ispisa
Comment[hu]=Előnézet nyomtatás előtt
Comment[id]=Pratinjau sebelum mencetak
Comment[ie]=Previder ante que printar
Comment[is]=Forskoða fyrir prentun
Comment[it]=Visualizza in anteprima il documento da stampare
Comment[ja]=印刷前にプレビューします
Comment[ka]=დაბეჭდვამდე გადახედვა
Comment[kk]=Баспаға шығару алдында қарау
Comment[kn]=ಮುದ್ರಿಸುವ ಮೊದಲು ಅವಲೋಕಿಸಿ
Comment[ko]=인쇄 전에 미리 보기
Comment[lt]=Peržiūra prieš spausdinimą
Comment[lv]=Priekšskatīt pirms drukāt
Comment[ml]=അച്ചടിക്കുന്നതിനു മുൻപ് കണ്ടുനോക്കാം
Comment[mr]=छपाईपूर्वी अवलोकन
Comment[ms]=Pratonton sebelum mencetak
Comment[nb]=Forhåndsvis før utskrift
Comment[ne]=मुद्रण अघि पुर्वालोकन हुँदैछ
Comment[nl]=Afdrukvoorbeeld
Comment[oc]=Apercebut abans impression
Comment[or]=ମୁଦ୍ରଣକରିବା ପୂର୍ବରୁ ଦେଖନ୍ତୁ
Comment[pa]=ਪਰਿੰਟ ਕਰਨ ਤੋਂ ਪਹਿਲਾਂ ਝਲਕ
Comment[pl]=Podgląd przed drukowaniem
Comment[pt]=Antever antes de imprimir
Comment[pt_BR]=Visualize antes de imprimir
Comment[ro]=Previzualizează înainte de tipărirea
Comment[ru]=Предварительный просмотр перед печатью
Comment[sk]=Zobrazuje náhľad pred vytlačením dokumentu
Comment[sl]=Predogled vsebine pred tiskanjem
Comment[sr]=Преглед пре штампања
Comment[sr@latin]=Pregled pre štampanja
Comment[sv]=Förhandsvy innan utskrivning
Comment[ta]=அச்சிடும் முன் முன் பார்வையிடு
Comment[te]=ముద్రణకు ముందుగా దర్శనం
Comment[tg]=Пешнамоиши пеш аз чоп
Comment[th]=แสดงตัวอย่างก่อนพิมพ์
Comment[tr]=Yazdırmadan önce ön izle
Comment[ug]=بېسىپ چىقىرىشتىن بۇرۇن كۆرۈپ باقىدۇ
Comment[uk]=Перегляд перед друкуванням
Comment[vi]=Xem thử trước khi in
Comment[zh_CN]=打印前预览
Comment[zh_HK]=列印前先預覽
Comment[zh_TW]=列印前先預覽
Comment=Preview before printing
TryExec=evince-previewer
Exec=evince-previewer %U
StartupNotify=true
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=document-print-preview
NoDisplay=true
Categories=GNOME;GTK;Office;Viewer;Graphics;2DGraphics;VectorGraphics;
