[Desktop Entry]
Version=1.0
Name[af]=Padkaart
Name[an]=Mapas
Name[ar]=الخرائط
Name[as]=মানচিত্ৰ
Name[be]=Карты
Name[bg]=Карти
Name[bs]=Karte
Name[ca]=Mapes
Name[ca@valencia]=Mapes
Name[cs]=Mapy
Name[da]=Kort
Name[de]=Karten
Name[el]=Χάρτες
Name[en_GB]=Maps
Name[eo]=Mapoj
Name[es]=Mapas
Name[et]=Kaardid
Name[eu]=Mapak
Name[fa]=نقشه‌ها
Name[fi]=Kartat
Name[fr]=Cartes
Name[fur]=Mapis
Name[ga]=Léarscáileanna
Name[gd]=Mapaichean
Name[gl]=Mapas
Name[he]=מפות
Name[hi]=नक्शे
Name[hr]=Karte
Name[hu]=Térképek
Name[id]=Peta
Name[is]=Landakort
Name[it]=Mappe
Name[ja]=地図
Name[ka]=რუკები
Name[kk]=Карталар
Name[kn]=ಮ್ಯಾಪ್ಸ್
Name[ko]=지도
Name[lt]=Žemėlapiai
Name[lv]=Kartes
Name[mjw]=Maps
Name[ml]=ഭൂപടങ്ങള്‍
Name[ms]=Peta
Name[nb]=Kart
Name[ne]=मानचित्र
Name[nl]=Kaarten
Name[oc]=Mapas
Name[pa]=ਨਕਸ਼ਾ
Name[pl]=Mapy
Name[pt]=Mapas
Name[pt_BR]=Mapas
Name[ru]=Карты
Name[ro]=Hărți
Name[sk]=Mapy
Name[sl]=Zemljevidi
Name[sr]=Карте
Name[sr@latin]=Karte
Name[sv]=Kartor
Name[ta]=வரைபடங்கள்
Name[te]=పటాలు
Name[tg]=Харитаҳо
Name[tr]=Haritalar
Name[uk]=Карти
Name[vi]=Bản đồ
Name[zh_CN]=地图
Name[zh_HK]=地圖
Name[zh_TW]=地圖
Name=Maps
Comment[af]='n Eenvoudige padkaart-toepassing
Comment[an]=Una aplicación simpla de mapas
Comment[ar]=تطبيق خرائط بسيط
Comment[as]=এটা সাধাৰণ মানচিত্ৰ এপ্লিকেচন
Comment[be]=Простая праграма для працы з картамі
Comment[bg]=Програма за преглед на карти
Comment[bs]=Jednostavan program karti
Comment[ca]=Una aplicació senzilla de mapes
Comment[ca@valencia]=Una aplicació senzilla de mapes
Comment[cs]=Jednoduchá mapová aplikace
Comment[da]=Et simpelt kortprogram
Comment[de]=Eine einfache Karten-Anwendung
Comment[el]=Μια απλή εφαρμογή χαρτών
Comment[en_GB]=A simple maps application
Comment[eo]=Simpla mapa aplikaĵo
Comment[es]=Una sencilla aplicación de mapas
Comment[et]=Lihtne kaardirakendus
Comment[eu]=Mapen aplikazio xume bat
Comment[fa]=یک برنامهٔ ساده نقشه
Comment[fi]=Yksinkertainen karttasovellus
Comment[fr]=Une application cartographique simple
Comment[fur]=Une semplice aplicazion pes mapis
Comment[ga]=Feidhmchlár simplí léarscáileanna
Comment[gd]=Aplacaid mhapaichean shimplidh
Comment[gl]=Unha aplicación sinxela de mapas
Comment[he]=יישום מפות פשוט
Comment[hi]=एक साधारण नक्शा अनुप्रयोग
Comment[hr]=Jednostava aplikacija za karte
Comment[hu]=Egyszerű térképalkalmazás
Comment[id]=Aplikasi peta sederhana
Comment[is]=Einfalt landakortaforrit
Comment[it]=Una semplice applicazione per le mappe
Comment[ja]=シンプルな地図アプリケーション
Comment[ka]=რუკების მარტივი აპლიკაცია
Comment[kk]=Қарапайым карталар қолданбасы
Comment[kn]=ಒಂದು ಸರಳ ನಕ್ಷೆಗಳ ಅನ್ವಯ
Comment[ko]=간단한 지도 프로그램
Comment[lt]=Paprasta žemėlapių programa
Comment[lv]=Vienkārša karšu lietotnes
Comment[ml]=ലളിതമായ ഒരു ഭൂപട പ്രയോഗം
Comment[ms]=Sebuah aplikasi peta yang ringkas
Comment[nb]=Et enkelt kartprogram
Comment[ne]=सहज मानचित्र अनुप्रयोग
Comment[nl]=Een eenvoudige kaartentoepassing
Comment[oc]=Una aplicacion cartografica simpla
Comment[pa]=ਸੌਖੀ ਨਕਸ਼ਾ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Prosty program do wyświetlania map
Comment[pt]=Uma aplicação simples para visualização de mapas
Comment[pt_BR]=Um simples aplicativo de mapas
Comment[ru]=Простое картографическое приложение
Comment[ro]=O aplicație simplă cu hărți
Comment[sk]=Jednoduchá aplikácia na prezeranie máp
Comment[sl]=Enostaven program za pregled zemljevidov
Comment[sr]=Једноставан програм за карте
Comment[sr@latin]=Jednostavan program za karte
Comment[sv]=Ett enkelt kartprogram
Comment[ta]=ஓர் எளிய வரைபட பயன்பாடு
Comment[te]=ఒక సరళ పటముల అనువర్తనం
Comment[tg]=Барномаи оддии харитаҳо
Comment[tr]=Basit harita uygulaması
Comment[uk]=Проста програма для роботи з картами
Comment[vi]=Ứng dụng bản đồ đơn giản
Comment[zh_CN]=一款简单的地图应用程序
Comment[zh_HK]=簡單的地圖應用程式
Comment[zh_TW]=簡單的地圖應用程式
Comment=A simple maps application
Exec=gapplication launch org.gnome.Maps %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Maps
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;maps;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=Maps;Padkaart;Kaart;Ligging;
Keywords[an]=Mapas;
Keywords[ar]=خرائط;
Keywords[as]=মানচিত্ৰ;
Keywords[be]=Maps;Карты;Мапы;
Keywords[bg]=maps;карти;глобус;атлас;
Keywords[bs]=Karte;
Keywords[ca]=Mapes;
Keywords[ca@valencia]=mapes;
Keywords[cs]=mapa;mapy;
Keywords[da]=Kort;
Keywords[de]=Maps;Karten;
Keywords[el]=Χάρτες;Maps;
Keywords[en_GB]=Maps;
Keywords[eo]=Mapoj;
Keywords[es]=Mapas;
Keywords[et]=Kaardid;Kaart;
Keywords[eu]=Mapak;
Keywords[fa]=نقشه;Maps;
Keywords[fi]=Maps;Kartta;Kartat;Reitit;Reitti;
Keywords[fr]=Cartes;
Keywords[fur]=Mapis;
Keywords[ga]=Léarscáileanna;
Keywords[gd]=Maps;mapaichean;
Keywords[gl]=Mapas;
Keywords[he]=מפות;מפה;maps;Maps;
Keywords[hi]=नक्शे;
Keywords[hr]=Karte;
Keywords[hu]=Térképek;
Keywords[id]=Peta;
Keywords[is]=Landakort;
Keywords[it]=Mappe;
Keywords[ja]=Maps;地図;マップ;
Keywords[ka]=რუკები;
Keywords[kk]=Maps;Карталар;
Keywords[kn]=ನಕ್ಷೆಗಳು;
Keywords[ko]=Maps;지도;맵;
Keywords[lt]=Žemėlapiai;
Keywords[lv]=Kartes;
Keywords[mjw]=Maps;
Keywords[ml]=Maps;
Keywords[ms]=Peta;
Keywords[nb]=Kart;
Keywords[ne]=मानचित्र;
Keywords[nl]=Maps;Kaart;Kaarten;
Keywords[oc]=Mapas;
Keywords[pa]=ਨਕਸ਼ਾ;
Keywords[pl]=Mapy;Mapa;Satelita;Satelitarna;Położenie;Lokalizacja;Współrzędne;Geografia;Geograficzne;GPS;Ulica;Miasto;Województwo;Kraj;Państwo;Dojazd;Gdzie jestem;Jak dojechać;Jak dojadę;Trasa;Trasy;Wycieczka;Wycieczki;Planowanie;Autobusy;Tramwaje;Pociągi;Metro;Promy;OpenStreetMap;OpenTripPlanner;Foursquare;Meldowanie;Zamelduj się;
Keywords[pt]=Mapas;Rotas;
Keywords[pt_BR]=Mapas;
Keywords[ru]=Карты;
Keywords[ro]=Maps;Hărți;
Keywords[sk]=Mapy;
Keywords[sl]=Zemljevidi;karta;karte;maps;
Keywords[sr]=Maps;карте;мапе;карта;мапа;karte;mape;karta;mapa;
Keywords[sr@latin]=Maps;karte;mape;karta;mapa;karte;mape;karta;mapa;
Keywords[sv]=Kartor;
Keywords[ta]=வரைபடங்கள்;
Keywords[te]=పటాలు;
Keywords[tg]=Харитаҳо;
Keywords[tr]=Haritalar;Maps;
Keywords[uk]=Карти;
Keywords[vi]=Maps;Bản đồ;Ban do;
Keywords[zh_CN]=Maps;地图;
Keywords[zh_HK]=Maps;地圖;
Keywords[zh_TW]=Maps;地圖;
Keywords=Maps;
DBusActivatable=true
MimeType=application/vnd.geo+json;x-scheme-handler/geo;x-scheme-handler/maps;application/vnd.google-earth.kml+xml;application/gpx+xml;application/fits;
X-Geoclue-Reason[ar]=يسمح بإظهار مكانك على الخريطة.
X-Geoclue-Reason[be]=Дазваляе паказаць ваша месцазнаходжанне на карце.
X-Geoclue-Reason[bg]=Местоположението ви да се показва на картата.
X-Geoclue-Reason[ca]=Permet mostrar la vostra ubicació al mapa.
X-Geoclue-Reason[ca@valencia]=Permet mostrar la vostra ubicació al mapa.
X-Geoclue-Reason[cs]=Umožňuje vám zobrazit si na mapě své místo.
X-Geoclue-Reason[da]=Tillader at din placering vises på kortet.
X-Geoclue-Reason[de]=Ermöglicht die Anzeige Ihres Ortes in der Karte.
X-Geoclue-Reason[el]=Επιτρέπει την τοποθεσία σας να εμφανιστεί στον χάρτη.
X-Geoclue-Reason[en_GB]=Allows your location to be shown on the map.
X-Geoclue-Reason[eo]=Ebligas montri vian pozicion sur la mapo.
X-Geoclue-Reason[es]=Permite mostrar su ubicación en el mapa.
X-Geoclue-Reason[eu]=Zure kokalekua maparen gainean erakustea baimentzen du.
X-Geoclue-Reason[fa]=اجازهٔ نمایش موقعیتتان روی نقشه.
X-Geoclue-Reason[fi]=Sallii sijaintisi näytettävän kartalla.
X-Geoclue-Reason[fr]=Permet d’afficher votre emplacement sur la carte.
X-Geoclue-Reason[fur]=Permet ae tô posizion di jessi mostrade te mape.
X-Geoclue-Reason[gd]=Faodaidh far a bheil thu a nochdadh air a’ mhapa le seo.
X-Geoclue-Reason[gl]=Permitir que se mostre a súa localización no mapa.
X-Geoclue-Reason[he]=מאפשר למיקום שלך להיראות על המפה.
X-Geoclue-Reason[hr]=Omogućuje vašoj lokaciji da bude prikazana na mapi.
X-Geoclue-Reason[hu]=Lehetővé teszi a földrajzi helyének megjelenítését a térképen.
X-Geoclue-Reason[id]=Memungkinkan ditunjukkannya lokasi Anda pada peta.
X-Geoclue-Reason[is]=Leyfir að staðsetning þín sé birt á kortinu.
X-Geoclue-Reason[it]=Consente alla vostra posizione di essere mostrata sulla mappa.
X-Geoclue-Reason[ka]=შესაძლებელს ხდის თქვენი მდებარეობის რუკაზე ჩვენებას.
X-Geoclue-Reason[kk]=Картада сіздің орналасуыңызды көрсете алады.
X-Geoclue-Reason[ko]=사용자 위치를 지도에 표시합니다.
X-Geoclue-Reason[lt]=Leidžia parodyti žemėlapyje jūsų vietą.
X-Geoclue-Reason[lv]=Ļauj uz kartes parādīt jūsu atrašanās vietu.
X-Geoclue-Reason[ml]=നിങ്ങളുടെ ലൊക്കേഷനെ മാപ്പിൽ കാണിക്കുന്നതിന് അനുവദിക്കുന്നു
X-Geoclue-Reason[ms]=Membolehkan lokasi anda ditunjukkan di dalam peta.
X-Geoclue-Reason[nb]=Lar lokasjonen din vises på kartet.
X-Geoclue-Reason[ne]=तपाईँको स्थान मानचित्रमा देखाउन अनुमति दिन्छ ।
X-Geoclue-Reason[nl]=Geeft uw locatie weer op de kaart.
X-Geoclue-Reason[oc]=Permet d'afichar vòstre emplaçament sus la mapa.
X-Geoclue-Reason[pa]=ਤੁਹਾਡੇ ਟਿਕਾਣੇ ਨੂੰ ਨਕਸ਼ੇ ਉੱਤੇ ਦਿਖਾਉਣ ਲਈ ਇਜਾਜ਼ਤ ਦਿੰਦਾ ਹੈ।
X-Geoclue-Reason[pl]=Umożliwia wyświetlenie położenia użytkownika na mapie.
X-Geoclue-Reason[pt]=Permite que a sua localização seja colocada no mapa.
X-Geoclue-Reason[pt_BR]=Permite que sua localização seja mostrada no mapa.
X-Geoclue-Reason[ru]=Позволяет показывать на карте ваше местоположение.
X-Geoclue-Reason[ro]=Permite ca locația curentă să fie arătată pe hartă.
X-Geoclue-Reason[sk]=Umožní zobrazenie vášho umiestnenia na mape.
X-Geoclue-Reason[sl]=Dovoli prikazovanje trenutnega mesta na zemljevidu.
X-Geoclue-Reason[sr]=Дозвољава да се ваша локација приказује на карти.
X-Geoclue-Reason[sr@latin]=Dozvoljava da se vaša lokacija prikazuje na karti.
X-Geoclue-Reason[sv]=Tillåter att din plats visas på kartan.
X-Geoclue-Reason[tr]=Konumunuzun haritada gösterilmesini sağlar.
X-Geoclue-Reason[uk]=Дозволити вашому перебуванню показуватись на карті.
X-Geoclue-Reason[vi]=Cho phép vị trí của bạn được hiển thị trên bản đồ.
X-Geoclue-Reason[zh_CN]=允许你的位置显示在地图上。
X-Geoclue-Reason[zh_TW]=允許您的位置顯示在地圖上。
X-Geoclue-Reason=Allows your location to be shown on the map.
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
