[Desktop Entry]
Version=1.0
Exec=xfce4-panel --preferences
Icon=org.xfce.panel
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=panels;settings;preferences;taskbar;autohide;application menu;start;buttons;launcher;notification area;status;icons;plugins;
Keywords[ar]=اللوحات;الإعدادات;التفضيلات;شريط المهام;الإخفاء التلقائي;قائمة التطبيقات;البدء;الأزرار;المشغل;منطقة الإشعارات;الحالة;الأيقونات;الإضافات;
Keywords[be]=панэлі;налады;панэль задач;аўтахаванне; меню праграм;запуск;кнопкі;запускальнік;прастора апавяшчэнняў;статус;значкі;убудовы;
Keywords[bg]=панели;настройки;предпочитания;лента на задачите;автоматично скриване;меню на програмите;бутони;стартер;зона за уведомяване;състояние;икони;добавки;
Keywords[ca]=taulers;ajusts;preferències;barra de tasques;ocultació;menú d'aplicacions;inici;botons;llançador;àrea de notificacions;estat;icones;connectors;
Keywords[cs]=panely;nastavení;předvolby;panel úloh;automatické skrytí;nabídka aplikace;spustit;tlačítka;spouštěč;oznamovací oblast;stav;ikony;zásuvné moduly;
Keywords[da]=paneler;indstillinger;præferencer;opgavelinje;skjul automatisk;programmenu;start;knapper;starter;underretningsområde;status;ikoner;plugins;
Keywords[de]=Leiste;Einstellungen;Voreinstellungen;Taskleiste;automatisch ausblenden;Anwendungsmenü;Start;Knöpfe;Startprogramm;Benachrichtigungsbereich;Status;Symbole;Plugins;
Keywords[el]=ταμπλό;ρυθμίσεις;προτιμήσεις;γραμμή εργασιών;αυτόματη απόκρυψη;μενού εφαρμογής;έναρξη;κουμπιά;εκκινητής;περιοχή ειδοποιήσεων;εμφάνιση;εικονίδια;πρόσθετα;
Keywords[en_GB]=panels;settings;preferences;taskbar;autohide;application menu;start;buttons;launcher;notification area;status;icons;plugins;
Keywords[es]=paneles;configuración;preferencias;barra de tareas;ocultación automática;menú de aplicación;inicio;botones;lanzador;área de notificación;estado;iconos;complementos;
Keywords[et]=panels;settings;preferences;taskbar;autohide;application menu;start;buttons;launcher;notification area;status;icons;plugins;riba;ribad;paneel;paneelid;eelistused;seaded;seadistused;tegumiriba;teated;käivitaja;
Keywords[eu]=panelak;ezarpenak;hobespenak;tresnabarra;automatikoki ezkutatu;aplikazio menua;hasi;botoiak;abiarazlea;berri-emate area;egoera;ikonoak;pluginak;
Keywords[fr]=tableaux de bord;paramètres;préférences;barre des tâches;masquage automatique;menu des applications;démarrer;boutons;lanceur;zone de notifications;état;icônes;greffons;
Keywords[gl]=paneis;configuracións;preferencias;barra de tarefas;autoagochar;menú de aplicación;inicio;botóns;iniciador;zona de notificación;estado;iconas;engadidos;
Keywords[he]=panels;settings;preferences;taskbar;autohide;application menu;start;buttons;launcher;notification area;status;icons;plugins;
Keywords[hy_AM]=վահանակ,կարգաւորումներ;առաջադրանքների տող;ինքնապահում;ծրագրերի ընտրացանկ;մեկնարկ․կոճակներ;գործարկիչ;ծանուցումների տարածք;կարգավիճակ;պատկերակներ;ներդրօն;
Keywords[id]=panel;pengaturan;preferensi;bilah alat;sembunyi otomatis;menu aplikasi;mulai;tombol;peluncur;area notifikasi;status;ikon;plugin;
Keywords[ie]=paneles;parametres;preferenties;taskbar;barra;autocelar;menú de applicationes;start;inicie;butones;lansator;area de notificationes;statu;icones;plugins;
Keywords[it]=pannelli;impostazioni;preferenze;barra dei processi;nascondi automaticamente;menu applicazione;avvia;pulsanti;avvia;area di notifica;stato;icone;componenti aggiuntivi;
Keywords[ja]=パネル;設定;環境設定;タスクバー;自動非表示;アプリケーションメニュー;スタート;ボタン;ランチャー;通知領域;ステータス;アイコン;プラグイン;
Keywords[ka]=panels;settings;preferences;taskbar;autohide;application menu;start;buttons;launcher;notification area;status;icons;plugins;
Keywords[kk]=панельдер;баптаулар;қалаулар;тапсырмалар панелі;автожасыру;қолданбалар мәзірі;бастау;батырмалар;жөнелткіш;хабарлау аймағы;қалып-күй;таңбашалар;плагиндер;
Keywords[ko]=panels;패널;창;settings;설정;preferences;기본설정;기본 설정;taskbar;작업표시줄;작업 표시줄;autohide;자동숨김;자동 숨김;application menu;프로그램메뉴;프로그램 메뉴;어플리케이션 메뉴;어플리케이션메뉴start;시작;buttons;버튼;보턴;단추;launcher;실행아이콘;실행 아이콘;notification area;알림영역;알림 영역;status;상태;icons;아이콘;plugins;플러그인;
Keywords[lt]=skydeliai;nustatymai;nuostatos;užduočių juosta;uzduociu juosta;automatinis slėpimas;automatinis slepimas;automatiškai slėpti;automatiskai slepti;programų meniu;programu meniu;pradžia;pradzia;mygtukai;leistukas;paleidyklė;paleidykle;pranešimų sritis;pranesimu sritis;būsena;busena;piktogramos;įskiepiai;iskiepiai;
Keywords[ms]=panel;tetapan;keutamaan;palang tugas;auto-sembunyi;menu aplikasi;mula;butang;pelancar;kawasan pemberitahuan;status;ikon;pemalam;
Keywords[nb]=panel;innstillinger;oppsett;oppgavelinje;skjul;programmeny;start;knapper;programstarter;varslingsområde;status;ikoner;programtillegg;
Keywords[nl]=werkbalken;panelen;werkbalk;paneel;instellingen;voorkeuren;taakbalk;menu;start;knoppen;starter;meldvak;status;invoegsels;pictogrammen;
Keywords[oc]=panèls;paramètres;configuracion;reglatges;preferéncias;barra;amagar;rescondre;aplicacions;menú;menut;menu;aviar;aviar;boton;aviador;aviaire;notificacions;estatus;icònas;extensions;
Keywords[pl]=panele;ustawienia;preferencje;pasek zadań;automatyczne ukrywanie;menu aplikacji;start;przyciski;aktywator;obszar powiadomień;stan;ikony;wtyczki;
Keywords[pt]=painéis;definições;preferências;barra de tarefas;ocultar automático;menu; aplicação;iniciar;botões;lançador;área de notificação;estado;ícones;plugins;
Keywords[pt_BR]=painéis;configurações;preferências;barra de tarefas,ocultar automaticamente;menu de aplicativos;botões;lançador;área de notificação;status;ícones;plugins;
Keywords[ru]=панели;настройки;панель задач;автоскрытие;меню приложений;пуск;кнопки;запуск;область уведомлений;статус;значки;модули;
Keywords[sk]=panely;nastavenia;predvoľby;panel úloh;automatické;skrytie;skrývanie;ponuka;aplikácií;štart;spúšťacie;tlačidlá;spúšťač;oblasť;oznámení;upozornení;stav;ikony;zásuvné;moduly;
Keywords[sl]=pulti;panoji;nastavitve;lastnosti;taskbar;samodejno skrij;programski meni;start;gumbi;zaganjalnik;obvestilnik;status;ikone;vtičniki;
Keywords[sq]=panele;rregullime;parapëlqime;shtyllë punësh;vetëfshihu;aplikacion menu;nisje;butona;nisës;zonë njoftimesh;gjendje;ikona;shtojca;
Keywords[sr]=полице;поставка;подешавања;својства;трака;самоскривај;изборник датотека;дугмад;покретач;обавештајна област;стање;сличице;прикључци;
Keywords[sv]=paneler;inställningar;inställningar;programfält;autodölj;programmeny;start;knappar;startare;aviseringsområde;status;ikoner;insticksprogram;
Keywords[th]=พาเนล;ตั้งค่า;ปรับแต่ง;แถบงาน;ซ่อนอัตโนมัติ;เมนูแอปพลิเคชัน;เริ่ม;ปุ่ม;ปุ่มเรียก;พื้นที่แจ้งเหตุ;สถานะ;ไอคอน;ปลั๊กอิน;
Keywords[tr]=paneller;ayarlar;tercihler;yeğler;görev çubuğu;otomatik gizle;kendiliğinden gizle;uygulama menüsü;başlat;düğmeler;başlatıcı;bildirim alanı;durum;simgeler;eklentiler;uzantılar;
Keywords[uk]=панелі;налаштування;властивості;панель завдань;самоховання;меню програм;початок;кнопки;запускач;область сповіщень;стан;значки;втулки;
Keywords[zh_CN]=panels;settings;preferences;taskbar;autohide;application menu;start;buttons;launcher;notification area;status;icons;plugins;面板;设置;首选项;任务栏;自动隐藏;应用程序菜单;开始;按钮;启动器;通知区域;状态;图标;插件; 
Keywords[zh_HK]=面板;設置;首選項;任務欄;自動隱藏;應用程序菜單;開始;按鈕;啟動器;通知區域;狀態;圖標;插件;
Keywords[zh_TW]=panels;settings;preferences;taskbar;autohide;application menu;start;buttons;launcher;notification area;status;icons;plugins;
OnlyShowIn=XFCE;
Terminal=false
StartupNotify=true
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-panel
X-XfceHelpPage=preferences
Name=Panel
Name[am]=ክፍል
Name[ar]=لوحة
Name[ast]=Panel
Name[be]=Панэль
Name[bg]=Панел
Name[ca]=Tauler
Name[cs]=Panel
Name[da]=Panel
Name[de]=Leiste
Name[el]=Ταμπλό
Name[en_AU]=Panel
Name[en_GB]=Panel
Name[eo]=Panelo
Name[es]=Panel
Name[et]=Riba
Name[eu]=Panela
Name[fi]=Paneeli
Name[fr]=Tableau de bord
Name[gl]=Panel
Name[he]=לוח
Name[hr]=Ploča
Name[hu]=Panel
Name[hy_AM]=Ընտրացանկ
Name[hye]=Ընտրացանկ
Name[id]=Panel
Name[ie]=Panel
Name[is]=Skjástika
Name[it]=Pannello
Name[ja]=パネル
Name[ka]=პანელი
Name[kk]=Панель
Name[ko]=패널
Name[lt]=Skydelis
Name[ms]=Panel
Name[nb]=Panel
Name[nl]=Werkbalk
Name[nn]=Panel
Name[oc]=Tablèu de bòrd
Name[pl]=Panel
Name[pt]=Painel
Name[pt_BR]=Painel
Name[ro]=Panouri
Name[ru]=Панель
Name[sk]=Panel
Name[sl]=Pano
Name[sq]=Panel
Name[sr]=Полица
Name[sv]=Panel
Name[te]=ప్యానల్
Name[th]=พาเนล
Name[tr]=Panel
Name[ug]=كۆزنەك
Name[uk]=Панель
Name[vi]=Bảng
Name[zh_CN]=面板
Name[zh_HK]=面板
Name[zh_TW]=面板
Comment=Customize the panel
Comment[am]=ክፍል ማስተካከያ
Comment[ar]=خصص اللوحة
Comment[ast]=Personaliza'l panel
Comment[be]=Наладка панэлі
Comment[bg]=Персонализация на панела
Comment[ca]=Personalitzeu el tauler
Comment[cs]=Přizpůsobit panel
Comment[da]=Tilpas panelet
Comment[de]=Leiste einrichten
Comment[el]=Προσαρμογή του ταμπλό
Comment[en_AU]=Customise the panel
Comment[en_GB]=Customise the panel
Comment[es]=Personalice el panel
Comment[et]=Kohanda riba
Comment[eu]=Pertsonalizatu panela
Comment[fi]=Muokkaa paneelia
Comment[fr]=Personnaliser le tableau de bord
Comment[gl]=Personalizar o panel
Comment[he]=התאם אישית את הלוח
Comment[hr]=Prilagodi ploču
Comment[hu]=A panel személyre szabása
Comment[hy_AM]=Ընտրացանկի կարգաւորումներ
Comment[hye]=Ընտրացանկի կարգաւորումներ
Comment[id]=Sesuaikan panel
Comment[ie]=Adjustar li panel
Comment[is]=Sérsníða skjástiku
Comment[it]=Personalizzare il pannello
Comment[ja]=パネルをカスタマイズする
Comment[ka]=პანელის გასწორება
Comment[kk]=Панельді баптау
Comment[ko]=패널 개별 설정
Comment[lt]=Tinkinti skydelį
Comment[ms]=Ubahsuai panel
Comment[nb]=Tilpass panelet
Comment[nl]=Pas de werkbalk aan
Comment[nn]=Set opp panelet
Comment[oc]=Personalizar lo tablèu de bòrd
Comment[pl]=Konfiguruje wygląd, zachowanie i zawartość paneli
Comment[pt]=Personalizar painel
Comment[pt_BR]=Personalizar o painel
Comment[ro]=Personalizați panourile
Comment[ru]=Настройка панели
Comment[sk]=Prispôsobenie panela
Comment[sl]=Prilagodi pano
Comment[sq]=Përshtateni panelin
Comment[sr]=Прилагоди полицу
Comment[sv]=Anpassa panelen
Comment[te]=ప్యానల్‌ను అనురూపించు
Comment[th]=ปรับแต่งพาเนล
Comment[tr]=Paneli özelleştir
Comment[ug]=كۆزنەكنى ئۆزلەشتۈرۈش
Comment[uk]=Упорядкувати панель
Comment[vi]=Tùy chỉnh bảng điều khiển
Comment[zh_CN]=自定义面板
Comment[zh_HK]=自訂面板
Comment[zh_TW]=自訂面板
