[Desktop Entry]
Type=Application
Name=Create Launcher on the panel
Name[am]=በ ክፍል ላይ ማስጀመሪያ መፍጠሪያ
Name[ar]=أنشئ مُطْلِق في اللوحة
Name[ast]=Crear un llanzador nel panel
Name[be]=Стварыць запускальнік на панэлі
Name[bg]=Създаване на стартер в панела
Name[bn]=প্যানেলে Launcher যোগ করা হবে
Name[ca]=Crea un llançador al tauler
Name[cs]=Vytvořit spouštěč na panelu
Name[da]=Opret starter på panelet
Name[de]=Starter zur Leiste hinzufügen
Name[el]=Δημιουργία εκκινητή στο ταμπλό
Name[en_AU]=Create Launcher on the panel
Name[en_GB]=Create Launcher on the panel
Name[es]=Crear un lanzador en el panel
Name[et]=Loo ribale käivitaja
Name[eu]=Sortu abiarazle bat panelean
Name[fi]=Luo käynnistin paneeliin
Name[fr]=Créer un lanceur sur le tableau de bord
Name[gl]=Crear un iniciador no panel
Name[he]=צור מפעיל על הלוח
Name[hr]=Napravi pokretač na ploči
Name[hu]=Parancsikon létrehozása a panelen
Name[hy_AM]=Ստեղծել գործարկիչ ընտրացանկի վրայ
Name[hye]=Ստեղծել գործարկիչ ընտրացանկի վրայ
Name[id]=Buat Peluncur di panel
Name[ie]=Crear un lansator sur li panel
Name[is]=Búa til ræsi á skjástiku
Name[it]=Crea un avviatore sul pannello
Name[ja]=Xfce パネルにランチャーを作成
Name[ka]=პანელზე გამშვების შექმნა
Name[kk]=Панельде жөнелткішті жасау
Name[ko]=패널에 실행 아이콘 만들기
Name[lt]=Sukurti leistuką ant skydelio
Name[ms]=Cipta Pelancar pada panel
Name[nb]=Lag snarvei på panelet
Name[nl]=Maak starter op de werkbalk
Name[nn]=Lag ein startar på panelet
Name[oc]=Crear un aviador sul tablèu de bòrd
Name[pl]=Dodaje do panelu aplet aktywatora
Name[pt]=Criar lançador no painel
Name[pt_BR]=Criar lançador no painel
Name[ro]=Creați un lansator în panou
Name[ru]=Создать значок запуска на панели
Name[sk]=Vytvoriť spúšťač na paneli
Name[sl]=Ustvari zaganjalnik na panoju
Name[sq]=Krijoni Nisës te paneli
Name[sr]=Направи покретач на полици
Name[sv]=Skapa programstartare på panelen
Name[te]=ప్యానల్ పై ప్రారంభకాన్ని సృష్టించు
Name[th]=สร้างปุ่มเรียกบนพาเนล
Name[tr]=Panelde Başlatıcı oluştur
Name[ug]=كۆزنەك ئۈستىگە ئىجراچى ياساش
Name[uk]=Створити запускач на панелі
Name[vi]=Tạo launcher trên thanh panel
Name[zh_CN]=在面板上创建启动器
Name[zh_HK]=於面板上建立啟動列
Name[zh_TW]=於面板上建立啟動器
Comment=Add a new launcher to the panel based on the information of this desktop file
Comment[ar]=أضف مُطْلِق جديد إلى اللوحة استناد لمعلومات لملف سطح المكتب هذا
Comment[ast]=Amestar un llanzador nuevu al panel basáu na información d'esti ficheru d'escritoriu
Comment[be]=Дадаць новы запускальнік
Comment[bg]=Добавяне на нов стартер в панела, използващ данните от този файл за работния плот
Comment[ca]=Afegeix un nou llançador al tauler a partir de la informació d'aquest fitxer d'escriptori
Comment[cs]=Přidat nový spouštěč na panel na základě informací z tohoto souboru plochy
Comment[da]=Tilføj en ny starter til panelet baseret på informationen fra denne skrivebordsfil
Comment[de]=Einen neuen Starter zur Leiste hinzufügen, basierend auf den Informationen in dieser Schreibtischdatei
Comment[el]=Προσθήκη νέου εκκινητή στο ταμπλό από αυτό το αρχείο .desktop
Comment[en_AU]=Add a new launcher to the panel based on the information of this desktop file
Comment[en_GB]=Add a new launcher to the panel based on the information of this desktop file
Comment[es]=Añadir un lanzador nuevo al panel con la información de este archivo de escritorio
Comment[et]=Lisa ribale uus käivitaja selle töölaua faili teabe põhjal
Comment[eu]=Gehitu abiarazle berri bat panelera mahaigain fitxategi honen argibideetan oinarriturik
Comment[fi]=Lisää uusi käynnistin paneeliin perustuen tämän työpöytätiedoston tietoihin
Comment[fr]=Ajouter un nouveau lanceur dans le tableau de bord avec les informations de ce fichier desktop
Comment[gl]=Engadir un novo iniciador ao panel baseándose na información deste ficheiro desktop
Comment[he]=הוסף מפעיל ללוח על בסיס המידע של קובץ שולחן עבודה זה
Comment[hr]=Dodaj novi pokretač na ploču baziran na informaciji ovoge datoteke radne površine
Comment[hu]=Új parancsikon panelhez adása ezen asztali fájl információi alapján
Comment[hy_AM]=Յաւելել նոր գործարկիչ վահանակում՝ հիմնուած աշխատասեղանի նիշի տեղեկոյթի վրայ։
Comment[hye]=Յաւելել նոր գործարկիչ վահանակում՝ հիմնուած աշխատասեղանի նիշի տեղեկոյթի վրայ։
Comment[id]=Tambah sebuah peluncur ke panel berdasarkan informasi dari berkas desktop ini
Comment[ie]=Adjunter un nov lansator secun li information in ti-ci file desktop
Comment[is]=Bæta við nýjum ræsi á þessa skjástiku, byggt á upplýsingum frá þessari skjáborðsskrá
Comment[it]=Aggiunge un nuovo avviatore sul pannello sulla base delle informazioni contenute in questo file desktop
Comment[ja]=このデスクトップファイルの情報を基にパネルに新しいランチャーを追加します。
Comment[ka]=სამუშაო მაგიდის ამ ფაილის ინფორმაციაზე დაყრდნობით, პანელზე ახალი გამშვების დამატება
Comment[kk]=Бұл desktop файлының ақпараты негізінде панельге жаңа жөнелткішті қосу
Comment[ko]=이 데스크톱 파일의 정보에 기반하여 새 실행 아이콘을 패널에 등록합니다
Comment[lt]=Pridėti naują leistuką į skydelį, remiantis šio darbalaukio failo informacija
Comment[ms]=Tambah pelancar baru kepada panel berdasarkan maklumat fail desktop ini
Comment[nb]=Legg til ny programstarter til panelet basert på informasjonen i denne skrivebordsfilen
Comment[nl]=Voeg een nieuwe starter toe aan de werkbalk, gebaseerd op de informatie van dit bureaubladbestand
Comment[nn]=Legg til ein ny startar på panelet ut frå opplysningane i denne skrivebordsfila
Comment[oc]=Apondre un aviador novèl dins lo tablèu de bòrd amb las informacions d'aqueste fichièr del burèu
Comment[pl]=Dodaje do panelu aplet aktywatora wykorzystując do tego wskazany plik .desktop
Comment[pt]=Adicionar um novo lançador ao painel com base nas informações deste ficheiro desktop
Comment[pt_BR]=Adicionar um novo lançador ao painel baseado na informação deste arquivo de área de trabalho
Comment[ro]=Adăugați un nou lansator în panou utilizând informațiile din acest fișier desktop
Comment[ru]=Создать значок запуска для приложения, описываемого этим desktop-файлом
Comment[sk]=Pridať na panel nový spúšťač založený na informáciách zo súboru plochy
Comment[sl]=Doda zaganjalnik na pano na osnovi podatkov v tej namizni datoteki
Comment[sq]=Shtoni te paneli një nisës të ri, bazuar në të dhëna të kësaj kartele desktopi
Comment[sr]=Додај нови покретач на полицу на основу података о овој датотеци радне површи
Comment[sv]=Lägg till en ny programstartare till panelen baserat på informationen i denna skrivbordsfil
Comment[th]=เพิ่มปุ่มเรียกปุ่มใหม่ลงในพาเนลโดยใช้ข้อมูลจากแฟ้มเดสก์ท็อปนี้
Comment[tr]=Bu masaüstü dosyasının bilgisine dayanarak panele yeni başlatıcı ekle
Comment[ug]=مەزكۇر ئۈستەلئۈستى ھۆججىتىدىكى ئۇچۇرلارغا ئاساسەن يېڭىدىن ئىجراچىنى كۆزنەككە(panel) قوشىدۇ
Comment[uk]=Додати новий запускач до панелі на основі його інформації з файлу desktop
Comment[vi]=Thêm một launcher mới trên thanh panel dựa vào thông tin của tệp tin desktop
Comment[zh_CN]=基于此桌面文件的信息在面板上添加一个新的启动器
Comment[zh_HK]=加入新的啟動列 (以此桌面檔資訊為基礎) 至面板
Comment[zh_TW]=新增啟動器 (以此桌面檔資訊為基礎) 至面板
Exec=xfce4-panel --add=launcher %u
Icon=application-x-executable
OnlyShowIn=XFCE;
Terminal=false
NoDisplay=true
StartupNotify=false
MimeType=application/x-desktop;
