[Desktop Entry]
Version=1.0
Name=PulseAudio Volume Control
Name[as]=PulseAudio শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
Name[be]=Рэгулятар гучнасці PulseAudio
Name[bn_IN]=PulseAudio শব্দের মাত্রা নিয়ন্ত্রণ ব্যবস্থা
Name[ca]=Control del volum del PulseAudio
Name[ca@valencia]=Control del volum del PulseAudio
Name[cs]=Ovládání hlasitosti PulseAudio
Name[da]=PulseAudio-lydstyrkeregulering
Name[de]=PulseAudio-Lautstärkeregler
Name[el]=Έλεγχος έντασης ήχου PulseAudio
Name[es]=Control de volumen de PulseAudio
Name[eu]=PulseAudio Bolumen Kontrola
Name[fi]=PulseAudion äänenvoimakkuuden hallinta
Name[fr]=Contrôle du volume PulseAudio
Name[gl]=Control de volume do PulseAudio
Name[gu]=PulseAudio વોલ્યુમ નિયંત્રણ
Name[he]=בקרת השמע של PulseAudio
Name[hi]=पल्सऑडियो ध्वनि नियंत्रण
Name[hr]=PulseAudio upravitelj glasnoće zvuka
Name[hu]=PulseAudio hangerőszabályzó
Name[it]=Regolazione del volume PulseAudio
Name[ja]=PulseAudio 音量調節
Name[kk]=PulseAudio дыбыс деңгейін басқару
Name[kn]=PulseAudio ಧ್ವನಿ ಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Name[ko]=PulseAudio 크기 조절
Name[lt]=PulseAudio garsio reguliavimas
Name[ml]=പള്‍സ്ഓഡിയോ ശബ്ദ നിയന്ത്രണം
Name[mr]=PulseAudio आवाज नियंत्रण
Name[nb_NO]=PulseAudio-lydstyrkekontroll
Name[nl]=PulseAudio-volumeregeling
Name[nn]=Lydstyrkekontroll for PulseAudio
Name[or]=PulseAudio ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
Name[pa]=ਪਲੱਸਆਡੀਓ ਵਾਲੀਅਮ ਕੰਟਰੋਲ
Name[pl]=Sterowanie głośnością PulseAudio
Name[pt]=Controlo de Volume PulseAudio
Name[pt_BR]=Controle de volume do PulseAudio
Name[ru]=Регулятор громкости PulseAudio
Name[sk]=Ovládanie hlasitosti PulseAudio
Name[sl]=Nastavitev glasnost PulseAudio
Name[sr]=PulseAudio контрола јачине звука
Name[sr@latin]=PulseAudio kontrola jačine zvuka
Name[sv]=Volymkontroll för PulseAudio
Name[ta]=PulseAudio ஒலியளவு கட்டுப்பாடு
Name[te]=PulseAudio ధ్వని నియంత్రణ
Name[th]=ตัวควบคุมเสียง PulseAudio
Name[tr]=PulseAudio Ses Denetimi
Name[uk]=Керування гучністю PulseAudio
Name[zh_CN]=PulseAudio 音量控制
Name[zh_TW]=PulseAudio 音量控制
GenericName=Volume Control
GenericName[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
GenericName[be]=Гучнасць
GenericName[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণ
GenericName[ca]=Control del volum
GenericName[ca@valencia]=Control del volum
GenericName[cs]=Ovládání hlasitosti
GenericName[da]=Lydstyrkeregulering
GenericName[de]=Lautstärkeregler
GenericName[el]=Έλεγχος έντασης ήχου
GenericName[es]=Control de volumen
GenericName[eu]=Bolumen kontrola
GenericName[fi]=Äänenvoimakkuus
GenericName[fr]=Contrôle du volume
GenericName[gl]=Control do volume
GenericName[gu]=વોલ્યમ નિયંત્રણ
GenericName[he]=בקרת שמע
GenericName[hi]=आवाज निर्धारक
GenericName[hr]=Upravitelj glasnoće zvuka
GenericName[hu]=Hangerőszabályzó
GenericName[it]=Regolazione del volume
GenericName[ja]=音量調節
GenericName[kk]=Дыбыс деңгейі
GenericName[kn]=ಧ್ವನಿಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
GenericName[ko]=볼륨 조절
GenericName[lt]=Garsio reguliavimas
GenericName[ml]=ശബ്ദ നിയന്ത്രണം
GenericName[mr]=आवाज नियंत्रण
GenericName[nb_NO]=Lydstyrkekontroll
GenericName[nl]=Volumeregeling
GenericName[nn]=Lydstyrkekontroll
GenericName[or]=ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
GenericName[pa]=ਵਾਲੀਅਮ ਕੰਟਰੋਲ
GenericName[pl]=Sterowanie głośnością
GenericName[pt]=Controlo de Volume
GenericName[pt_BR]=Controle de volume
GenericName[ru]=Громкость
GenericName[sk]=Ovládanie hlasitosti
GenericName[sl]=Nastavitev glasnosti
GenericName[sr]=Контрола јачине звука
GenericName[sr@latin]=Kontrola jačine zvuka
GenericName[sv]=Volymkontroll
GenericName[ta]=ஒலியளவு கட்டுப்பாடு
GenericName[te]=ధ్వని నియంత్రణ
GenericName[th]=ตัวควบคุมเสียง
GenericName[tr]=Ses Denetimi
GenericName[uk]=Керування гучністю
GenericName[zh_CN]=音量控制
GenericName[zh_TW]=音量控制
Comment=Adjust the volume level
Comment[as]=শব্দৰ মাত্ৰা ঠিক কৰক
Comment[be]=Наладка ўзроўню гучнасці
Comment[bn_IN]=শব্দের মাত্রা পরিবর্তন করুন
Comment[ca]=Ajusta el nivell del volum
Comment[ca@valencia]=Ajusta el volum
Comment[cs]=Upravit úroveň hlasitosti
Comment[da]=Justér lydstyrkeniveauet
Comment[de]=Lautstärke anpassen
Comment[el]=Ρύθμιση επιπέδου έντασης
Comment[es]=Ajustar el nivel de volumen
Comment[eu]=Doitu bolumen-maila
Comment[fi]=Säädä äänenvoimakkuutta
Comment[fr]=Régler le niveau du volume
Comment[gl]=Axustar o nivel de volume
Comment[gu]=વોલ્યુમ સ્તરને વ્યવસ્થિત કરો
Comment[he]=התאמת עצמת השמע
Comment[hi]=आवाज़ स्तर निर्धारित करें
Comment[hr]=Prilagodite razinu glasnoće zvuka
Comment[hu]=Hangerő beállítása
Comment[it]=Regola il livello del volume
Comment[ja]=音量レベルの調整
Comment[kk]=Дыбыс деңгейін келтіру
Comment[kn]=ಧ್ವನಿ ಪ್ರಮಾಣದ ಮಟ್ಟವನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=볼륨 레벨 조절
Comment[lt]=Reguliuoti garsio lygį
Comment[ml]=ശബ്ദ ലവല്‍ ഉ‍ചിതമാക്കുക
Comment[mr]=ध्वनिमान स्तर सुस्थित करा
Comment[nb_NO]=Juster lydstyrken
Comment[nl]=Geluidsniveau aanpassen
Comment[nn]=Juster lydstyrke
Comment[or]=ଭଲ୍ୟୁମ ସ୍ତରକୁ ସଜାଡ଼ନ୍ତୁ
Comment[pa]=ਵਾਲੀਅਮ ਲੈਵਲ ਅਡਜੱਸਟ ਕਰੋ
Comment[pl]=Dostosowanie poziomu głośności
Comment[pt]=Ajustar o nível do volume
Comment[pt_BR]=Ajuste o nível do volume
Comment[ru]=Настройка уровня громкости
Comment[sk]=Upraviť úroveň hlasitosti
Comment[sl]=Nastavi glasnost
Comment[sr]=Подесите ниво јачине звука
Comment[sr@latin]=Podesite nivo jačine zvuka
Comment[sv]=Justera volymnivån
Comment[ta]=ஒலியளவு நிலையை சரிப்படுத்து
Comment[te]=ధ్వని స్థాయిను సర్దుము
Comment[th]=ปรับระดับเสียง
Comment[tr]=Ses seviyesini ayarla
Comment[uk]=Скоригуйте рівень гучності
Comment[zh_CN]=调节音量水平
Comment[zh_TW]=調整音量等級
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Keywords=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[be]=pavucontrol;Мікрафон;Гучнасць;Прыглушэнне;Баланс;Гарнітура;Дынамікі;Навушнікі;Аўдыё;Мткшар;Вывад;Увод;Прылады;Прайграванне;Запіс;Сістэмныя гукі;Гукавая карта;Налады;
Keywords[ca]=pavucontrol;micròfon;volum;fosa;balanç;auriculars;altaveus;cascs;àudio; mesclador;sortida;entrada;dispositius;reproducció;gravació;sons de sistema;tarja de so;configuració;preferències;
Keywords[da]=pavucontrol;Mikrofon;Lydstyrke;Fade;Balance;Headset;Højttalere;Hovedtelefoner;Lyd;Mixer;Mikser;Output;Input;Enheder;Afspilning;Optagelse;Systemlyde;Lydkort;Indstillinger;Præferencer;
Keywords[es]=pavucontrol;micrófono;volumen;fundido;balance;auriculares;altavoces;cascos;audio;mezclador;salida;entrada;dispositivos;reproducción;grabación;sonidos del sistema;tarjeta de sonido;configuración;preferencias;
Keywords[eu]=pavucontrol;Microphone;Mikrofonoa;Volume;Bolumena;Fade;Balance;Headset;Speakers;Bozgorailuak;Headphones;Aurikularrak;Audioa;Mixer;Nahasgailua;Output;Irteera;Input;Sarrera;Devices;Gailuak;Playback;Erreprodukzioa;Recording;Grabazioa;System Sounds;Sistemaren soinuak;Sound Card;Soinu txartelak;Settings;Ezarpenak;Preferences;Hobespenak;
Keywords[fr]=pavucontrol;Microphone;Volume;Fondu;Balance;Casque;Haut-parleurs;Audio;Mixeur;Sortie;Entrée;Appareils;Lecture;Enregistrement;Sons systèmes;Carte son;Paramètres;Préférences;
Keywords[he]=pavucontrol;מיקרופון;עצמת שמע;ווליום;עמעום;פייד;איזון;בלנס;בלאנס;אוזניות;רמקולים;צלילים;קולות;מערבל;מיקסר;פלט;קלט;התקנים;מכשירים;נגינה;פלייבק;הקלטה;צלילי מערכת;כרטיס קול;הגדרות;העדפות;
Keywords[ja]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[ko]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Keywords[nl]=pavucontrol;Microfoon;Volume;Vervagen;Balans;Hoofdset;Luidsprekers;Koptelefoon;Audio;Mixer;Mengpaneel;Uitvoer;Invoer;Apparaten;Afspelen;Opnemen;Systeemgeluiden;Geluidskaart;Instellingen;Voorkeuren;
Keywords[nn]=pavucontrol;mikrofon;volum;lydstyrke;uttoning;inntoning;balanse;headset;hovudsett;høgtalarar;hovudtelefonar;lyd;audio;miksar;utlyd;innlyd;einingar;avspeling;opptak;systemlydar;lydkort;innstillingar;oppsett;
Keywords[pl]=pavucontrol;Mikrofon;Głośność;Oddalenie;Balans;Zestaw słuchawkowy;Headset;Głośniki;Słuchawki;Dźwięk;Audio;Mikser;Mixer;Wyjście;Wejście;Urządzenia;wyjściowe;wejściowe;Odtwarzanie;Nagrywanie;Dźwięki systemowe;Karta;dźwiękowa;Ustawienia;Preferencje;Mono;Stereo;Surround;Przestrzenny;Dookolny;PCM;S/PDIF;HDMI;DTS;Dolby;Digital;
Keywords[pt_BR]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;microfone;equilíbrio;áudio;saída;entrada;dispositivos;reprodução;gravação;sistemas de som;placa de som;configurações;preferências;
Keywords[sk]=pavucontrol;Mikrofón;Hlasitosť;Slabnutie;Vyváženie;Náhlavná súprava;Reproduktory;Zvuk;Zmiešavač;Výstup;Vstup; Zariadenia;Prehrávanie;Nahrávanie;Systémové zvuky;Zvuková karta;Nastavenia;Predvoľby;
Keywords[sv]=pavucontrol;Mikrofon;Volym;Uttoning;Balans;Headset;Högtalare;Hörlurar;Audio;Mixer;Utmatning;Inmatning;Enheter;Uppspelning;Inspelning;Systemljud;Ljudkort;Inställningar;
Keywords[uk]=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;павуконтроль;мікрофон;гучність;приглушення;баланс;гарнітура;гучномовці;колонки;навушники;звук;мікшер;аудіо;виведення;введення;пристрої;відтворення;запис;звуки;звук;система;
