[Desktop Entry]
Type=Application
Icon=utilities-terminal
Exec=qterminal
Terminal=false
Categories=Qt;System;TerminalEmulator;
Actions=Dropdown;

Name=QTerminal
GenericName=Terminal emulator
Comment=Terminal emulator
Name[ar]=طرفية Qt
GenericName[ar]=محاكي طرفية
Comment[ar]=محاكي طرفية
Name[bg]=QTerminal
GenericName[bg]=Терминал
Comment[bg]=QTerminal
Name[ca]=QTerminal
GenericName[ca]=Emulador de terminal
Comment[ca]=Emulador de terminal
Name[ca@valencia]=QTerminal
Name[cs]=QTerminal
GenericName[cs]=Emulátor terminálu
Comment[cs]=Emulátor terminálu
Name[da]=QTerminal
GenericName[da]=Terminalemulator
Comment[da]=Terminalemulator
Name[de]=QTerminal
Comment[de]=Befehlszeile verwenden
GenericName[de]=Terminalemulator
Name[el]=QTerminal
GenericName[el]=Προσομοιωτής τερματικού
Comment[el]=Προσομοιωτής τερματικού
Name[en_GB]=QTerminal
GenericName[en_GB]=Terminal emulator
Comment[en_GB]=Terminal emulator
Name[eo]=QTerminal
Comment[eo]=Fina emulilo
GenericName[eo]=Fina emulilo
Name[es]=QTerminal
GenericName[es]=Emulador de terminal
Comment[es]=Emulador de terminal
Name[et]=QTerminal
GenericName[et]=Terminaliemulaator
Comment[et]=Terminaliemulaator
Name[fa]=کیو ترمینال
GenericName[fa]=شبیه ساز ترمینال
Comment[fa]=شبیه ساز ترمینال
Name[fr]=QTerminal
GenericName[fr]=Émulateur de terminal
Comment[fr]=Terminal
Name[he]=QTerminal
GenericName[he]=מדמה מסוף
Comment[he]=מדמה מסוף
GenericName[hi]=टर्मिनल एमुलेटर
Comment[hi]=टर्मिनल एमुलेटर
Name[hr]=QTerminal
GenericName[hr]=Emulator terminala
Comment[hr]=Emulator terminala
Name[hu]=QTerminal
GenericName[hu]=Terminál emulátor
Comment[hu]=Terminál emulátor
Name[id]=QTerminal
GenericName[id]=Emulator terminal
Comment[id]=Emulator terminal
Name[it]=QTerminal
GenericName[it]=Emulatore di terminale
Comment[it]=Emulatore di terminale
Name[ja]=QTerminal
GenericName[ja]=端末エミュレーター
Comment[ja]=端末エミュレーターです
Name[km]=QTerminal
GenericName[km]=ស្ថានីយសិប្បនិម្មិត
Comment[km]=ស្ថានីយសិប្បនិម្មិត
Name[ko]=QTerminal
GenericName[ko]=터미널 에뮬레이터
Comment[ko]=터미널 에뮬레이터
Comment[lt]=Terminalo emuliatorius
GenericName[lt]=Terminalo emuliatorius
Name[lt]=QTerminal
Name[nb]=QTerminal
GenericName[nb]=Terminalemulator
Comment[nb]=Terminalemulator
Name[nds]=QTerminal
Name[nl]=QTerminal
GenericName[nl]=Terminalemulator
Comment[nl]=Terminalemulator
Name[oc]=QTerminal
GenericName[oc]=Emulator de terminal
Comment[oc]=Emulator de terminal
Name[pl]=QTerminal
GenericName[pl]=Emulator terminala
Comment[pl]=Emulator terminala
Name[pt]=QTerminal
GenericName[pt]=Emulador de terminal
Comment[pt]=Emulador de terminal
Name[pt_BR]=QTerminal
GenericName[pt_BR]=Emulador de terminal
Comment[pt_BR]=Emulador de terminal
Name[ro]=QTerminal
Name[ru]=QTerminal
GenericName[ru]=Эмулятор терминала
Comment[ru]=Эмулятор терминала
Name[sk]=QTerminal
GenericName[sk]=Emulátor terminálu
Comment[sk]=Emulátor terminálu
Name[sl]=QTerminal
GenericName[sl]=Terminalski emulator
Comment[sl]=Terminalski emulator
Name[sv]=QTerminal
GenericName[sv]=Terminalemulator
Comment[sv]=Terminalemulator
Name[tr]=QTerminal
GenericName[tr]=Uçbirim öykünücüsü
Comment[tr]=Uçbirim öykünücüsü
Name[uk]=QTerminal
GenericName[uk]=Емулятор термінала
Comment[uk]=Емулятор термінала
Name[uz]=QTerminal
GenericName[uz]=Terminal emulyatori
Comment[uz]=Terminal emulyatori
Name[zh_CN]=QTerminal
GenericName[zh_CN]=终端模拟器
Comment[zh_CN]=终端模拟器
Name[zh_TW]=QTerminal
GenericName[zh_TW]=終端機模擬器
Comment[zh_TW]=終端機模擬器
[Desktop Action Dropdown]
Exec=qterminal --drop
Icon=utilities-terminal

Name=Drop-down terminal
Name[ar]=طرفية منسدلة
Name[bg]=Падащ терминал
Name[ca]=Terminal desplegable
Name[ca@valencia]=Terminal desplegable
Name[cs]=Vysouvací terminál
Name[da]=Terminal der ruller ned
Name[de]=Aufklapp-Terminal
Name[el]=Αναπτυσσόμενο τερματικό
Name[en_GB]=Drop-down Terminal
Name[es]=Terminal desplegable
Name[et]=Lahtikeriv terminal
Name[fa]=ترمینال کشویی
Name[fr]=Terminal déroulant
Name[he]=מסוף צץ
Name[hi]=ड्रॉप-डाउन टर्मिनल
Name[hr]=Padajući terminal
Name[hu]=Legördülő terminál
Name[id]=Terminal drop-down
Name[it]=Terminale a discesa
Name[ja]=ドロップダウン式の端末
Name[km]=ស្ថានីយ​ទម្លាក់​ចុះ
Name[ko]=위에서 내려오는 터미널
Name[lt]=Išskleidžiamasis terminalas
Name[nb]=Nedtrekksterminal
Name[nds]=Utklapp-Konsool
Name[nl]=Uitvouwbare terminalemulator
Name[oc]=Terminal desplegable
Name[pa]=ਲਟਕਦਾ ਟਰਮੀਨਲ
Name[pl]=Rozwijany emulator terminala
Name[pt]=Terminal suspenso
Name[pt_BR]=Terminal suspenso
Name[ro]=Terminal derulant
Name[ru]=Выпадающий терминал
Name[sk]=Rozbaľovací terminál
Name[sl]=Spustni terminal
Name[sv]=Rullgardinsterminal
Name[th]=เทอร์มินัลแบบหย่อนลง
Name[tr]=Yukarıdan Açılan Uçbirim
Name[uk]=Спадний термінал
Name[uz]=Bossa-ochiladigan terminal
Name[zh_CN]=下拉式终端
Name[zh_TW]=下拉式終端機
