[Desktop Entry]
Encoding=UTF-8
Name=Root Terminal Emulator
Name[qcv]=Terminal de root
Name[ar]=طرفيّة الجذر
Name[ca]=Terminal root
Name[cs]=Terminál uživatele root
Name[da]=Root-terminal
Name[es]=Terminal de «Root»
Name[fr]=Terminal administrateur
Name[hu]=Rendszergazda terminál
Name[it]=Terminale root
Name[ja]=ルート端末
Name[ko]=루트 터미널
Name[lt]=Administratoriaus terminalas
Name[nl]=Terminal als root
Name[pl]=Terminal użytkownika root
Name[pt_BR]=Terminal como Root
Name[sv]=Root-terminal
Comment=Opens a terminal as the root user, using sudo to ask for the password
Comment[qcv]=Obri un terminal com a l'usuari root, utilitzant sudo per a demanar la contrasenya
Comment[ar]=يفتح طرفيّة كمستخدم جذر، مستخدماً sudo للسؤال عن كلمة السر
Comment[ca]=Obre un terminal com a l'usuari root, utilitzat sudo per a demanar la contrasenya
Comment[cs]=Otevře terminál pod uživatelem root, na heslo se dotáže přes sudo
Comment[da]=Åbner en terminal som brugeren root, og bruger sudo til at spørge om adgangskoden.
Comment[de]=Öffnet ein Terminal als Benutzer 'root' unter Verwendung von sudo zur Passwortabfrage
Comment[es]=Abre un terminal como el usuario «root» utilizando sudo para preguntar la contraseña.
Comment[fr]=Ouvrir un terminal en tant qu'administrateur, en utilisant sudo pour demander le mot de passe
Comment[hu]=Megnyit egy rendszergazda terminált, a sudo-t használva a jelszó bekérésére
Comment[it]=Apre un terminale come root, usando sudo per la richiesta della password
Comment[ja]=パスワードを求めるために、sudo を使い、root ユーザーとして端末を開きます
Comment[ko]=루트 사용자로 터미널을 열고, sudo로 열쇠글을 물어봅니다
Comment[lt]=Atveria terminalą 'root' naudotojo teisėmis, naudojant sudo slaptažodžiui įvesti
Comment[nl]=Start een terminal als de root-gebruiker waarbij sudo gebruikt wordt om het wachtwoord te vragen.
Comment[pl]=Uruchamia terminal użytkownika root, używając sudo do wczytania hasła
Comment[pt_BR]=Abre um terminal como usuário root, usando o sudo para pedir a senha
Comment[sv]=Öppnar en terminal som root-användaren och använder sudo för att fråga efter lösenordet
Exec=pkexec x-terminal-emulator
Icon=utilities-root-terminal
StartupNotify=false
Terminal=false
Type=Application
Categories=System;Utility;TerminalEmulator;
X-Kali-Package=kali-menu
