[Desktop Entry]
Name=Thunar File Manager
Name[am]=ቱናር መዝገብ አስተዳዳሪ
Name[ar]=مدير الملفات ثونار
Name[ast]=Xestor de ficheros Thunar
Name[be]=Кіраўнік файлаў Thunar
Name[bg]=Управление на файлове Thunar
Name[bn]=Thunar ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers Thunar
Name[cs]=Správce souborů Thunar
Name[da]=Thunar Filhåndtering
Name[de]=Thunar-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων Thunar
Name[en_AU]=Thunar File Manager
Name[en_GB]=Thunar File Manager
Name[eo]=Thunar dosier-administrilo
Name[es]=Gestor de archivos Thunar
Name[et]=Failihaldur Thunar
Name[eu]=Thunar fitxategi kudeatzailea
Name[fa_IR]=مدیر پرونده‌های تونار
Name[fi]=Thunar-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers Thunar
Name[gl]=Xestor de ficheiros Thunar
Name[he]=מנהל קבצים Thunar
Name[hr]=Thunar upravitelj datotekama
Name[hu]=Thunar fájlkezelő
Name[hy]=Thunar նիշք
Name[hy_AM]=Thunar նիշք
Name[hye]=Thunar նիշք
Name[id]=Manajer Berkas Thunar
Name[ie]=Gerente de files Thunar
Name[is]=Thunar skráastjóri
Name[it]=Il gestore dei file Thunar
Name[ja]=Thunar ファイルマネージャー
Name[kk]=Thunar файлдар басқарушысы
Name[ko]=투나 파일 관리자
Name[lt]=Thunar failų tvarkytuvė
Name[lv]=Thunar failu pārvaldnieks
Name[ms]=Pengurus Fail Thunar
Name[nb]=Thunar Filbehandler
Name[nl]=Thunar bestandbeheerder
Name[nn]=Thunar filutforskar
Name[oc]=Gestionari de Fichièrs Thunar
Name[pa]=ਥੰਨਰ ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików Thunar
Name[pt]=Gestor de ficheiros Thunar
Name[pt_BR]=Gerenciador de arquivos Thunar
Name[ro]=Managerul de fișiere Thunar
Name[ru]=Проводник Thunar
Name[si]=Thunar ගොනු කළමණාකරු
Name[sk]=Správca súborov Thunar
Name[sl]=Upravljalnik datotek Thunar
Name[sq]=Përgjegjësi i Kartelave Thunar
Name[sr]=Тунар управник датотека
Name[sv]=Filhanteraren Thunar
Name[te]=తునార్ దస్త్ర నిర్వాహకము
Name[th]=โปรแกรมจัดการแฟ้ม Thunar
Name[tr]=Thunar Dosya Yöneticisi
Name[ug]=سۇنار(Thunar) ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер Thunar
Name[ur]=تھنر فائل منیجر
Name[ur_PK]=تھنر فائل منیجر
Name[vi]=Trình quản lý tập tin Thunar
Name[zh_CN]=Thunar 文件管理器
Name[zh_HK]=Thunar 檔案管理員
Name[zh_TW]=Thunar 檔案管理員
Comment=Browse the filesystem with the file manager
Comment[ar]=تصفح ملفات النظام بمدير الملفات
Comment[ast]=Restolar el sistema de ficheros col xestor de ficheros
Comment[be]=Агляд файлавай сістэмы кіраўніком файлаў
Comment[bg]=Преглед на файловата система с приложението за управление на файлове
Comment[bn]=ফাইল ম্যানেজার দিয়ে ফাইলসিস্টেম ব্রাউজ করুন
Comment[ca]=Navegueu pel sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[da]=Gennemse filsystemet med filhåndteringen
Comment[de]=Das Dateisystem in der Dateiverwaltung anzeigen
Comment[el]=Περιήγηση του συστήματος αρχείων με τον διαχειριστή αρχείων
Comment[en_AU]=Browse the filesystem with the file manager
Comment[en_GB]=Browse the filesystem with the file manager
Comment[eo]=Rigardu dosier-sistemon per dosier-administrilo
Comment[es]=Navegue por el sistema de archivos con el gestor de archivos
Comment[et]=Sirvi failisüsteemi kasutades failihaldurit
Comment[eu]=Fitxategi kudeatzaileaz fitxategi sistema arakatu
Comment[fa_IR]=مرور سیستم پرونده با مدیر پرونده
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnassa
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[gl]=Explorar o sistema de ficheiros co xestor de ficheiros
Comment[he]=סייר במערכת הקבצים בעזרת מנהל הקבצים
Comment[hr]=Pregledaj datotečni sustav sa upraviteljem datoteka
Comment[hu]=A fájlrendszer böngészése a fájlkezelővel
Comment[hy]=Զննել նիշային համակարգը նիշային կառավարչի օգնությամբ
Comment[hy_AM]=Զննել նիշային համակարգը նիշային կառաւարչի աւգնութեամբ
Comment[hye]=Զննել նիշային համակարգը նիշային կառաւարչի աւգնութեամբ
Comment[id]=Ramban sistem berkas dengan manajer berkas
Comment[ie]=Navigar li sistema de files per li gerente de files
Comment[is]=Vafra um skráarkerfið með skráarstjóranum
Comment[it]=Esplora il file system con il gestore dei file
Comment[ja]=ファイルマネージャーでファイルシステムを参照します
Comment[kk]=Файлдық жүйені файлдар басқарушысымен шолу
Comment[ko]=파일 관리자로 파일 시스템을 탐색합니다
Comment[lt]=Naršyti failų sistemą naudojant failų tvarkytuvę
Comment[lv]=Pārlūko failu sistēmu ar failu pārvaldnieku
Comment[ms]=Layar sistem fail dengan pengurus fail
Comment[nb]=Utforsk filsystemet med filbehandleren
Comment[nl]=Verken het bestandssysteem met de bestandbeheerder
Comment[nn]=Bla gjennom filsystemet med filutforskaren
Comment[oc]=Percórrer lo sistèma de fichièrs amb lo gestionari de fichièrs
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਨਾਲ ਫਾਇਲ ਸਿਸਟਮ ਨਾਲ ਬਰਾਊਜ਼ ਕਰੋ
Comment[pl]=Przegląda system plików za pomocą menedżera plików
Comment[pt]=Explorar sistema de ficheiros com o gestor de ficheiros
Comment[pt_BR]=Navegue no sistema de arquivos com o gerenciador de arquivos
Comment[ro]=Gestionați fișierele cu un manager dedicat
Comment[ru]=Просмотр файловой системы с помощью проводника
Comment[sk]=Prehliada súborový systém pomocou správcu súborov
Comment[sl]=Brskajte po datotečnem sistemu z upravljalnikom datotek
Comment[sq]=Shfletoni sistemin e kartelave me përgjegjësin e kartelave
Comment[sr]=Прегледај систем датотека управником датотека
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[te]=దస్త్ర వ్యవస్థని దస్త్ర నిర్వాహకముతో విహరించు
Comment[th]=ท่องดูระบบแฟ้มด้วยโปรแกรมจัดการแฟ้ม
Comment[tr]=Dosya sistemine dosya yöneticisi ile göz atın
Comment[ug]=ھۆججەت باشقۇرغۇدا ھۆججەت سىستېمىسىنى كۆر
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[ur]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[ur_PK]=فائل سسٹم کو فائل منیجر سے دیکھیں
Comment[vi]=Duyệt hê thống tập tin với trình quản lý tập tin
Comment[zh_CN]=用文件管理器浏览文件系统
Comment[zh_HK]=以檔案管理員瀏覽檔案系統
Comment[zh_TW]=使用檔案管理員瀏覽檔案系統
GenericName=File Manager
GenericName[am]=የ ፋይል አስተዳዳሪ
GenericName[ar]=مدير الملفات
GenericName[ast]=Xestor de ficheros
GenericName[be]=Кіраўнік файлаў
GenericName[bg]=Управление на файлове
GenericName[bn]=ফাইল ব্যবস্থাপক
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Správce souborů
GenericName[da]=Filhåndtering
GenericName[de]=Dateiverwaltung
GenericName[el]=Διαχειριστής αρχείων
GenericName[en_AU]=File Manager
GenericName[en_GB]=File Manager
GenericName[eo]=Dosier-administrilo
GenericName[es]=Gestor de archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi kudeatzailea
GenericName[fa_IR]=مدیر پرونده
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[gl]=Xestor de ficheiros
GenericName[he]=מנהל קבצים
GenericName[hr]=Upravitelj datotekama
GenericName[hu]=Fájlkezelő
GenericName[hy]=Նիշք
GenericName[hy_AM]=Նիշք
GenericName[hye]=Նիշք
GenericName[id]=Manajer Berkas
GenericName[ie]=Gerentiator de files
GenericName[is]=Skráastjóri
GenericName[it]=Gestore dei file
GenericName[ja]=ファイルマネージャー
GenericName[kk]=Файлдар басқарушысы
GenericName[ko]=파일 관리자
GenericName[lt]=Failų tvarkytuvė
GenericName[lv]=Failu pārvaldnieks
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filbehandler
GenericName[nl]=Bestandbeheerder
GenericName[nn]=Filhandsamar
GenericName[oc]=Gestionari de fichièrs
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer plików
GenericName[pt]=Gestor de ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Manager de fișiere
GenericName[ru]=Проводник
GenericName[sk]=Správca súborov
GenericName[sl]=Upravljalnik datotek
GenericName[sq]=Përgjegjës Kartelash
GenericName[sr]=Управник датотека
GenericName[sv]=Filhanterare
GenericName[te]=దస్త్ర నిర్వాహకము
GenericName[th]=โปรแกรมจัดการแฟ้ม
GenericName[tr]=Dosya Yöneticisi
GenericName[ug]=ھۆججەت باشقۇرغۇ
GenericName[uk]=Керівник файлів
GenericName[ur]=فائل منیجر
GenericName[ur_PK]=فائل منیجر
GenericName[vi]=Trình quản lí tập tin
GenericName[zh_CN]=文件管理器
GenericName[zh_HK]=檔案管理員
GenericName[zh_TW]=檔案管理員
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Keywords[be]=кіраўнік файлаў;аглядальнік;пошукавец;браўзер;каталогі;раздзелы;дыскі;сетка;прылады;змяніць назву;перамясціць;скапіяваць;выдаліць;дазволы;хатні каталог;сметніца;
Keywords[bg]=управление на файлове;изследовател;търсачка;браузър;папки;директория;директории;дялове;носители;мрежа;устройства;преименуване;преместване;копиране;изтриване;права;домашна папка;кошче;
Keywords[ca]=gestor de fitxers;explorer;finder;navegador;carpetes;directori;directoris;particions;unitats;xarxa;dispositius;reanomenar;moure;copiar;eliminar;permisos;home;paperera;
Keywords[cs]=správce souborů;průzkumník;finder;prohlížeč;adresář;adresáře;oddíly;jednotky;disky;mechaniky;síť;zařízení;přejmenovat;přejmenování;přesun;přesunutí;přesunout;kopie;kopírovat;zkopírovat;kopíruj;zkopíruj;vymaž;smaž;vymazat;smazat;odstranit;odstraň;práva;oprávnění;domů;domov;domovský;domovská;koš;
Keywords[da]=filhåndtering;stifinder;finder;browser;mapper;partitioner;drev;netværk;enheder;omdøb;flyt;kopiér;slet;tilladelser;hjem;papirkurv;
Keywords[de]=Dateiverwaltung;Explorer;Finder;Browser;Ordner;Verzeichnisse;Verzeichnisse;Partitionen;Laufwerke;Netzwerk;Geräte;Umbenennen;Verschieben;Kopieren;Löschen;Zugriffsrechte;Home;Papierkorb;
Keywords[el]=διαχειριστής αρχείων;εξερεύνηση;εύρεση;περιηγητής;φάκελοι;κατάλογος;κατάλογοι;διαμερίσματα;δίσκοι;δίκτυο;συσκευές;μετονομασία;μετακίνηση;αντιγραφή;διαγραφή;δικαιώματα;αρχικός φάκελος;απορρίματα;
Keywords[en_GB]=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Keywords[es]=gestor;archivos;explorador;buscador;navegador;carpetas;directorios;particiones;unidades;red;dispositivos;renombrar;mover;copiar;eliminar;permisos;inicio;papelera;
Keywords[et]=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;failihaldur;kaustad;kataloogid;partitsioonid;kettad;võrk;seadmed;kopeeri;aseta;tõsta;liiguta;õigused;kodu;kodukaust;prügi;prügikast;
Keywords[eu]=fitxategi kudeatzailea;esploratzailea;bilatzailea;nabigatzailea;karpetak;direktorioa;direktorioak:partizioak;unitateak;sarea;gailuak;berrizendatu;mugitu;kopiatu;ezabatu;baimenak;etxea;zakarrontzia;
Keywords[fr]=gestionnaire de fichiers;explorateur;chercheur;navigateur;dossiers;répertoire;répertoires;partitions;lecteurs;réseau;périphériques;renommer;déplacer;copier;supprimer;permissions, autorisations, droits d’accès;accueil;corbeille;
Keywords[gl]=xestor de ficheiros;explorador;buscador;navegador;cartafol;cartafoles;directorio;directorios;particións;unidades;rede;dispositivos;renomear;mover;copiar;eliminar;permisos;inicio;lixo;
Keywords[he]=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Keywords[hy_AM]=նիշային կառավառիչ;զննարկիչ;որոնիչ;զննարկիչ;պանակներ;կարգ;կարգեր;բաժիններլ;սարքեր;ցանց;սարքեր;անուանափոխել;տեղափոխել;պատճէնել;ջնջել;արտօնութիւններ;տուն;աղբաման
Keywords[id]=manajer berkas;penjelajah;pencari;peramban;folder;direktori;partisi;penggerak;jaringan;perangkat;ganti nama;pindahkan;salin;hapus;hak akses;rumah;tempat sampah;
Keywords[ie]=gerente;files;explorer;finder;navigator;fólderes;directorias;partitiones;unités;rete;aparates;renominar;mover;copiar;deleter;remover;permissiones;hem;paper-corb;
Keywords[it]=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Keywords[ja]=ファイルマネージャー;エクスプローラー;ファインダー;ブラウザー;フォルダー;ディレクトリ;ディレクトリ;パーティション;ドライブ;ネットワーク;デバイス;名前の変更;移動;コピー;削除;権限;ホーム;ゴミ箱;
Keywords[kk]=файлдар басқарушысы;шолушы;іздеуші;браузер;бумалар;бумалар;бөлімдер;дискілер;желі;құрылғылар;атын ауыстыру;жылжыту;көшіру;өшіру;рұқсаттар;үй;қоқыс шелегі;
Keywords[ko]=file manager;파일 관리자;explorer;finder;browser;탐색기;folders;폴더;directory;directories;디렉터리;partitions;파티션;분할영역;분할 영역;drives;드라이브;network;네트워크;devices;장치;rename;이름바꾸기move;이동;copy;복사;delete;삭제;permissions;권한;home;홈;내폴더;내 폴더;trash;휴지통;
Keywords[lt]=failų tvarkytuvė;failu tvarkytuve;failų naršyklė;failu narsykle;aplankai;katalogas;katalogai;skaidiniai;skirsniai;diskai;tinklas;tinklo;įrenginiai;irenginiai;pervadinti;perkelti;kopijuoti;ištrinti;istrinti;leidimai;namai;pradžia;pradzia;šiukšlinė;siuksline;šiukšlės;siuksles;
Keywords[ms]=pengurus fail;penjelajah;pencari;pelayar;folder;direktori;direktori-direktori;sekatan;pemacu;rangkaian;peranti;nama semula;alih;salin;padam;keizinan;rumah;tong sampah;
Keywords[nb]=filbehandler;utforsker;mappe;katalog;kataloger;partisjoner;harddisker;nettverk;enheter;endre;navn;flytt;kopier;slett;rettigheter;hjemmemappe;søppelbøtte;
Keywords[nl]=bestandbeheer;verkenner;zoeker;mappen;map;partities;schijven;apparaten;netwerk;hernoemen;verplaatsen;kopiëren;wissen;rechten;verwijderen;thuismap;prullenbak;
Keywords[oc]=gestionari de fichièrs;explorar;navigar;navegar;dossièrs;dorsièrs;repertòris;particions;lectors;ret;malhum;periferics;aparelhs;renomenar;renommar;desplaçar;suprimir;permissions;autorizacions;personal;escobilhièr;banasta;desca;desqueta;guirba;bordilhièr;pobèlla;
Keywords[pl]=menedżer plików;eksplorator;wyszukiwarka;przeglądarka;foldery;katalog;katalogi;partycje;nośniki;sieć;urządzenia;zmiana nazwy;przenoszenie;kopiowanie;usuwanie;uprawnienia;katalog użytkownika;kosz;
Keywords[pt]=gestor de ficheiros;explorador;pesquisador;navegador;pastas;diretório;diretórios;partições;unidades;rede;dispositivos;renomear;mover;copiar;eliminar;permissões;pasta pessoal;lixo;
Keywords[pt_BR]=gerenciador de arquivos;explorador;localizador;navegador;pastas;diretório;diretórios;partições;unidades;rede;dispositivos;renomear;mover;copiar;deletar;permissões;home;lixo;
Keywords[ru]=диспетчер файлов;проводник;поиск;просмотр;папки;папка;разделы;диски;сеть;устройства;переименовать;переместить;копировать;удалить;допуск;домой;корзина;
Keywords[sk]=správca;súborov;prieskumník;vyhľadávač;prehliadač;priečinky;adresár;adresáre;oddiely;partície;jednotky;disky;sieť;zariadenia;premenovať;presunúť;kopírovať;skopírovať;odstrániť;oprávnenia;domov;domovský;kôš;
Keywords[sl]=upravljalnik datotek;iskalnik;brskalnik;mape;imenik;direktorij;particija;razdelki;pogon;mediji;omrežje;naprave;preimenuj;premakni;kopiraj;izbriši;domov;smeti;
Keywords[sq]=përgjegjës kartelash;eksplorues;gjetës;shfletues;dosje;drejtori;drejtori;pjesë;disqe;rrjet;pajisje;riemërtoni;lëvize;kopjoje;fshije;leje;shtëpi;hedhurina;
Keywords[sr]=датотека управник;претраживач;проналазач;фасцикла;фолдер;директоријум;мрежа;уређај;преименуј;премести;умножи;избриши;обриши;бриши;дозвола;матица;смеће;корпа;
Keywords[sv]=filhanterare; utforskare; sökare; läsare; mappar; katalog; kataloger; partitioner; enheter; nätverks; enheter; byta namn; flytta; kopiera; ta bort; behörigheter; hem; papperskorg;
Keywords[th]=โปรแกรมจัดการแฟ้ม;โปรแกรมสำรวจ;ค้นหา;ท่องดู;โฟลเดอร์;ไดเรกทอรี;พาร์ทิชัน;ไดรว์;เครือข่าย;อุปกรณ์;เปลี่ยนชื่อ;ย้าย;คัดลอก;ลบ;การกำหนดสิทธิ์;บ้าน;ถังขยะ;
Keywords[tr]=dosya yönetici;gezgin;kaşif;explorer;bulucu;bakaç;finder;dizin;dizinler;bölümler;bölümlendirmeler;sürücüler;ağ;aygıtlar;cihazlar;yeniden adlandır;taşı;kopyala;sil;izinler;ev;çöp;çöp kutusu;
Keywords[uk]=керівник файлів;переглядач;пошуковик;оглядач;теки;каталог;каталоги;розділи;приводи;мережа;пристрої;перейменувати;перемістити;копіювати;видалити;дозволи;домівка;смітник;
Keywords[zh_CN]=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;文件管理器;资源管理器;查找;浏览;文件夹;目录;分区;驱动;网络;设备;重命名;移动;复制;删除;权限;主文件夹;回收站;
Keywords[zh_TW]=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Exec=thunar %U
Icon=org.xfce.thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
Actions=open-home;open-computer;open-trash;

[Desktop Action open-home]
Name=Home
Name[am]=ቤት
Name[ar]=المنزل
Name[ast]=Carpeta personal
Name[be]=Хатні каталог
Name[bg]=Домашна папка
Name[bn]=হোম
Name[ca]=Carpeta de l'usuari
Name[cs]=Domovská složka
Name[da]=Hjem
Name[de]=Persönlicher Ordner
Name[el]=Αρχικός κατάλογος
Name[en_AU]=Home
Name[en_GB]=Home
Name[eo]=Hejm
Name[es]=Carpeta personal
Name[et]=Kodu
Name[eu]=Etxea
Name[fa_IR]=خانه
Name[fi]=Kotihakemisto
Name[fr]=Répertoire personnel
Name[gl]=Cartafol persoal
Name[he]=בית
Name[hr]=Osobna mapa
Name[hu]=Saját mappa
Name[hy_AM]=Տուն
Name[hye]=Տուն
Name[id]=Rumah
Name[ie]=Hem
Name[is]=Heimasvæði
Name[it]=Home
Name[ja]=ホーム
Name[kk]=Үй бумасы
Name[ko]=내 폴더
Name[lt]=Pradžia
Name[lv]=Mājas
Name[ms]=Rumah
Name[nb]=Hjem
Name[nl]=Persoonlijke map
Name[nn]=Heim
Name[oc]=Repertòri personal
Name[pa]=ਹੋਮ
Name[pl]=Katalog użytkownika
Name[pt]=Pasta Pessoal
Name[pt_BR]=Início
Name[ro]=Acasă
Name[ru]=Домашняя папка
Name[sk]=Domov
Name[sl]=Domača mapa
Name[sq]=Shtëpi
Name[sr]=Лична фасцикла
Name[sv]=Hem
Name[te]=నివాసం
Name[th]=บ้าน
Name[tr]=Ev
Name[ug]=ماكان
Name[uk]=Домівка
Name[ur]=گھر
Name[ur_PK]=گھر
Name[vi]=Cá nhân
Name[zh_CN]=主文件夹
Name[zh_HK]=家目錄
Name[zh_TW]=家目錄
Exec=thunar %U

[Desktop Action open-computer]
Name=Computer
Name[am]=ኮምፒዩተር
Name[ar]=حاسوب
Name[ast]=Ordenador
Name[be]=Камп’ютар
Name[bg]=Компютър
Name[ca]=Ordinador
Name[cs]=Počítač
Name[da]=Computer
Name[de]=Rechner
Name[el]=Υπολογιστής
Name[en_AU]=Computer
Name[en_GB]=Computer
Name[eo]=Komputilo
Name[es]=Equipo
Name[et]=Arvuti
Name[eu]=Ordenagailu
Name[fi]=Tietokone
Name[fr]=Ordinateur
Name[gl]=Computador
Name[he]=מחשב
Name[hr]=Računalo
Name[hu]=Számítógép
Name[hy_AM]=Համակարգիչ
Name[hye]=Համակարգիչ
Name[id]=Komputer
Name[ie]=Computator
Name[is]=Tölva
Name[it]=Computer
Name[ja]=コンピューター
Name[kk]=Компьютер
Name[ko]=컴퓨터
Name[lt]=Kompiuteris
Name[ms]=Komputer
Name[nb]=Datamaskin
Name[nl]=Computer
Name[nn]=Datamaskin
Name[oc]=Ordinator
Name[pl]=Komputer
Name[pt]=Computador
Name[pt_BR]=Computador
Name[ro]=Calculator
Name[ru]=Компьютер
Name[sk]=Počítač
Name[sl]=Računalnik
Name[sq]=Kompjuter
Name[sr]=Рачунар
Name[sv]=Dator
Name[th]=คอมพิวเตอร์
Name[tr]=Bilgisayar
Name[uk]=Комп’ютер
Name[vi]=Máy vi tính
Name[zh_CN]=计算机
Name[zh_HK]=電腦
Name[zh_TW]=電腦
Exec=thunar computer:///

[Desktop Action open-trash]
Name=Trash
Name[am]=ቆሻሻ
Name[ar]=المهملات
Name[ast]=Papelera
Name[be]=Сметніца
Name[bg]=Кошче
Name[bn]=আবর্জনা
Name[ca]=Paperera
Name[cs]=Koš
Name[da]=Papirkurv
Name[de]=Papierkorb
Name[el]=Απορρίμματα
Name[en_AU]=Rubbish
Name[en_GB]=Wastebasket
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügi
Name[eu]=Zakarrontzia
Name[fa_IR]=زباله‌دان
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[gl]=Enviar ao lixo
Name[he]=אשפה
Name[hr]=Smeće
Name[hu]=Kuka
Name[hy]=Աղբաման
Name[hy_AM]=Աղբաման
Name[hye]=Աղբաման
Name[id]=Tempat sampah
Name[ie]=Paper-corb
Name[is]=Setja í ruslatunnu
Name[it]=Cestino
Name[ja]=ゴミ箱
Name[kk]=Қоқыс шелегі
Name[ko]=휴지통
Name[lt]=Šiukšlinė
Name[lv]=Miskaste
Name[ms]=Tong Sampah
Name[nb]=Papirkurv
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[oc]=Escobilhièr
Name[pa]=ਰੱਦੀ
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixeira
Name[ro]=Gunoi
Name[ru]=Корзина
Name[sk]=Kôš
Name[sl]=Koš
Name[sq]=Hedhurina
Name[sr]=Смеће
Name[sv]=Papperskorg
Name[te]=చెత్తబుట్ట
Name[th]=ถังขยะ
Name[tr]=Çöp
Name[ug]=ئەخلەتخانا
Name[uk]=Смітник
Name[ur]=ردی
Name[ur_PK]=ردی
Name[vi]=Thùng rác
Name[zh_CN]=回收站
Name[zh_HK]=垃圾桶
Name[zh_TW]=垃圾
Exec=thunar trash:///
