[Desktop Entry]
Name=Bulk Rename
Name[am]=ጥቅል እንደገና መሰየሚያ
Name[ar]=تغيير اسم الكل
Name[ast]=Renomador masivu
Name[be]=Шматлікая змена назвы
Name[bg]=Масово преименуване
Name[bn]=বাল্ক পুনরায় নামকরণ
Name[ca]=Canvi de nom en bloc
Name[cs]=Hromadné přejmenování
Name[da]=Masseomdøbning
Name[de]=Massenumbenennen
Name[el]=Μαζική μετονομασία
Name[en_AU]=Bulk Rename
Name[en_GB]=Bulk Rename
Name[eo]=Amasa Renomilo
Name[es]=Cambio de nombre en masa
Name[et]=Hulganisti nimede muutja
Name[eu]=Berrizendatu...
Name[fa_IR]=تغییر نام دسته‌جمعی
Name[fi]=Joukkonimeäjä
Name[fr]=Renommer en masse
Name[gl]=Renomeador masivo
Name[he]=שינוי שם נפחי
Name[hr]=Grupno preimenovanje
Name[hu]=Csoportos átnevező
Name[hy]=Զանգվածի վերանվանման ծրագիր
Name[hy_AM]=Զանգուածի վերանուանման ծրագիր
Name[hye]=Զանգուածի վերանուանման ծրագիր
Name[id]=Ganti Nama Bulk
Name[ie]=Renomination in masse
Name[is]=Magn-endurnefna
Name[it]=Rinomina di massa
Name[ja]=バルクリネーム
Name[kk]=Thunar топтап атын ауыстыру
Name[ko]=일괄 이름 바꾸기
Name[lt]=Masinis pervadinimas
Name[lv]=Masu pārdēvēšana
Name[ms]=Nama Semula Kelompok
Name[nb]=Gi nytt navn (Bulk)
Name[nl]=Massaal hernoemen
Name[nn]=Masseomdøyping
Name[oc]=Renomenar en massa
Name[pa]=ਬਲਕ ਰੀ-ਨੇਮ
Name[pl]=Wsadowe zmienianie nazw
Name[pt]=Renomear em massa
Name[pt_BR]=Renomear em massa
Name[ro]=Redenumire în masă
Name[ru]=Массовое переименование
Name[sk]=Hromadné premenovanie
Name[sl]=Paketno preimenovanje
Name[sq]=Riemërtim Në Masë
Name[sr]=Групно преименовање
Name[sv]=Massomdöpning
Name[te]=పెద్దసంఖ్యలో పేరుమార్పు
Name[th]=เปลี่ยนชื่อกลุ่มแฟ้ม
Name[tr]=Toplu Yeniden Adlandırma
Name[ug]=ئاتىنى تىپ ئۆزگەرتىش
Name[uk]=Масове перейменування
Name[ur]=بلک رینیم
Name[ur_PK]=بلک رینیم
Name[vi]=Đổi tên hàng loạt
Name[zh_CN]=批量重命名
Name[zh_HK]=批次改名
Name[zh_TW]=批次重新命名
Comment=Rename Multiple Files
Comment[am]=በርካታ ፋይሎች እንደገና መሰየሚያ
Comment[ar]=تغيير إسم عدة ملفات
Comment[ast]=Renomar múltiples ficheros
Comment[be]=Змяніць назвы некалькіх файлаў
Comment[bg]=Преименуване на няколко файла
Comment[bn]=একাধিক ফাইলের পুনরায় নামকরণ করুন
Comment[ca]=Canvieu el nom de diversos fitxers
Comment[cs]=Přejmenovat více souborů
Comment[da]=Omdøb flere filer
Comment[de]=Mehrere Dateien gleichzeitig umbenennen
Comment[el]=Μετονομασία πολλαπλών αρχείων
Comment[en_AU]=Rename Multiple Files
Comment[en_GB]=Rename Multiple Files
Comment[eo]=Renomigu Multajn Dosierojn
Comment[es]=Renombrar múltiples archivos
Comment[et]=Failide nimede muutmine
Comment[eu]=Fitxategi anitz berrizendatu
Comment[fa_IR]=تغییر نام چندین پرونده
Comment[fi]=Nimeä useita tiedostoja uudelleen
Comment[fr]=Renommer plusieurs fichiers
Comment[gl]=Renomear varios ficheiros
Comment[he]=שנה שמות קבצים רבים
Comment[hr]=_Preimenuj više datoteka
Comment[hu]=Több fájl átnevezése
Comment[hy]=Վերանվանել բազմակի նիշեր
Comment[hy_AM]=Վերանուանել բազմակի նիշեր
Comment[hye]=Վերանուանել բազմակի նիշեր
Comment[id]=Ganti Nama Banyak Berkas
Comment[ie]=Renominar multiplic files
Comment[is]=Endurnefna margar skrár
Comment[it]=Rinomina più file
Comment[ja]=複数のファイル名を変更します
Comment[kk]=Бірнеше файлдардың атын ауыстыру
Comment[ko]=여러 파일의 이름을 바꿉니다
Comment[lt]=Pervadinti daug failų
Comment[lv]=Pārdēvēt vairākus failus
Comment[ms]=Nama Semula Fail Berbilang
Comment[nb]=Gi nytt navn til _mange filer
Comment[nl]=Hernoem meerdere bestanden
Comment[nn]=Gje nytt namn til fleire filer.
Comment[oc]=Renomenar mantun fichièr
Comment[pa]=ਕਈ ਫਾਇਲਾਂ ਦਾ ਨਾਂ ਬਦਲੋ
Comment[pl]=Zmienianie nazw wielu plików
Comment[pt]=Renomear vários ficheiros
Comment[pt_BR]=Renomeia múltiplos arquivos
Comment[ro]=Redenumire în masă de fișiere
Comment[ru]=Переименование нескольких файлов
Comment[sk]=Hromadné premenovanie
Comment[sl]=Preimenuj več datotek
Comment[sq]=Riemërtoni Shumë Kartela Njëherësh
Comment[sr]=Преименуј више датотека
Comment[sv]=Byt namn på flera filer
Comment[te]=బహుళ దస్త్రాల పేరుమార్చు
Comment[th]=เปลี่ยนชื่อแฟ้มทีละหลายแฟ้ม
Comment[tr]=Çoklu Dosyaları Yeniden Adlandır
Comment[ug]=كۆپ ھۆججەتنىڭ ئاتىنى ئۆزگەرتىش
Comment[uk]=Перейменування декілька файлів
Comment[ur]=متعدد فائلوں کا نام بدلیں
Comment[ur_PK]=متعدد فائلوں کا نام بدلیں
Comment[vi]=Đổi tên nhiều tập tin
Comment[zh_CN]=重命名多个文件
Comment[zh_HK]=為多個檔案改名
Comment[zh_TW]=重新命名多個檔案
GenericName=Bulk Rename
GenericName[am]=ጥቅል እንደገና መሰየሚያ
GenericName[ar]=تغيير اسم الكل
GenericName[ast]=Renomador masivu
GenericName[be]=Шматлікая змена назвы
GenericName[bg]=Масово преименуване
GenericName[bn]=বাল্ক পুনরায় নামকরণ
GenericName[ca]=Canvi de nom en bloc
GenericName[cs]=Hromadné přejmenování
GenericName[da]=Masseomdøbning
GenericName[de]=Massenumbenennen
GenericName[el]=Μαζική μετονομασία
GenericName[en_AU]=Bulk Rename
GenericName[en_GB]=Bulk Rename
GenericName[eo]=Amasa Renomilo
GenericName[es]=Cambio de nombre en masa
GenericName[et]=Hulganisti nimede muutja
GenericName[eu]=Berrizendatu...
GenericName[fa_IR]=تغییر نام دسته‌جمعی
GenericName[fi]=Joukkonimeäjä
GenericName[fr]=Renommer en masse
GenericName[gl]=Renomeador masivo
GenericName[he]=שינוי שם נפחי
GenericName[hr]=Grupno preimenovanje
GenericName[hu]=Csoportos átnevező
GenericName[hy]=Զանգվածի վերանվանման ծրագիր
GenericName[hy_AM]=Զանգուածի վերանուանման ծրագիր
GenericName[hye]=Զանգուածի վերանուանման ծրագիր
GenericName[id]=Ganti Nama Bulk
GenericName[ie]=Renomination in masse
GenericName[is]=Magn-endurnefna
GenericName[it]=Rinomina di massa
GenericName[ja]=バルクリネーム
GenericName[kk]=Thunar топтап атын ауыстыру
GenericName[ko]=일괄 이름 바꾸기
GenericName[lt]=Masinis pervadinimas
GenericName[lv]=Masu pārdēvēšana
GenericName[ms]=Nama Semula Kelompok
GenericName[nb]=Gi nytt navn (Bulk)
GenericName[nl]=Massaal hernoemen
GenericName[nn]=Masseomdøyping
GenericName[oc]=Renomenar en massa
GenericName[pa]=ਬਲਕ ਰੀ-ਨੇਮ
GenericName[pl]=Wsadowe zmienianie nazw
GenericName[pt]=Renomear em massa
GenericName[pt_BR]=Renomear em massa
GenericName[ro]=Redenumire în masă
GenericName[ru]=Массовое переименование
GenericName[sk]=Hromadné premenovanie
GenericName[sl]=Paketno preimenovanje
GenericName[sq]=Riemërtim Në Masë
GenericName[sr]=Групно преименовање
GenericName[sv]=Massomdöpning
GenericName[te]=పెద్దసంఖ్యలో పేరుమార్పు
GenericName[th]=เปลี่ยนชื่อกลุ่มแฟ้ม
GenericName[tr]=Toplu Yeniden Adlandırma
GenericName[ug]=ئاتىنى تىپ ئۆزگەرتىش
GenericName[uk]=Масове перейменування
GenericName[ur]=بلک رینیم
GenericName[ur_PK]=بلک رینیم
GenericName[vi]=Đổi tên hàng loạt
GenericName[zh_CN]=批量重命名
GenericName[zh_HK]=批次改名
GenericName[zh_TW]=批次重新命名
Keywords=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Keywords[be]=масавая змена назвы;thunar;файлы;каталогі;каталог;
Keywords[bg]=групово;инструмент за преименуване;преименуване;thunar;файлове;папки;директория;директории;
Keywords[ca]=en massa;reanomenar;thunar;fitxers;carpetes;directori;directoris;
Keywords[cs]=hromadně;hromadný;hromadné;přejmenovat;přejmenování;přejmenuj;thunar;soubor;soubory;složka;složky;adresář;adresáře;
Keywords[da]=masseomdøber;omdøbning;thunar;filer;mapper;
Keywords[de]=bulk;Umbenenner;umbenennen;thunar;Dateien;Ordner;Verzeichnis;Verzeichnisse;
Keywords[el]=μαζική;μετονομαστής;μετονομασία;thunar;αρχεία;φάκελοι;κατάλογος;κατάλογοι;
Keywords[en_GB]=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Keywords[es]=cambiar;nombre;masa;renombrar;thunar;archivos;carpetas;directorios;
Keywords[et]=bulk;renamer;renaming;thunar;files;folders;directory;directories;nimeta ümber;nimeta;korraga;ümbernimetamine;fail;failid;kaust;kaustad;kataloog;kataloogid;
Keywords[eu]=berrizendatze;anitza;berrizendatzen;thunar;fitxategiak;karpetak;direktorio;direktoiroak;
Keywords[fr]=estimer;renommer;renommage;thunar;fichiers;dossiers;répertoire;répertoires;
Keywords[gl]=envorcar;renomeador;renomear;thunar;ficheiros;cartafol;cartafoles;directorio;directorios;
Keywords[he]=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Keywords[hy_AM]=ծաւալ;անուանափոխել;անուանափոխում;thunar;նիշքեր;պանակներ;կարգ;կարգեր
Keywords[id]=banyak;ganti nama;mengganti nama;thunar;berkas;folder;direktori;
Keywords[ie]=in masse;renominar;thunar;files;fólderes;directoria;directorias;
Keywords[it]=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Keywords[ja]=バルク;リネーマー;名前変更;thunar;ファイル;フォルダー;ディレクトリ;ディレクトリ;
Keywords[kk]=топтап;атын ауыстыру;thunar;файлдар;бума;бумалар;
Keywords[ko]=bulk;다중;renamer;renaming;이름바꾸기;이름 바꾸기;thunar;투나;files;파일;folders;폴더;directory;directories;디렉터리;
Keywords[lt]=masinis;masinio;pervadinimo įrankis;pervadinimo irankis;pervadinimas;thunar;failai;aplankai;katalogas;katalogai;
Keywords[ms]=pukal;penama semula;menamakan semula;thunar;fail;folder;direktori;direktori-direktori;
Keywords[nb]=massiv;navneendring;endre;navn;filer;mapper;katalog;kataloger;
Keywords[nl]=massa;hernoemer;hernoemen;thunar;bestanden;mappen;map;
Keywords[oc]=massa;grop;renomenar;renomatge;thunar;fichièrs;dorsièrs;dossièrs;repertòris;
Keywords[pl]=wsadowe;zmienianie nazw;zmiana nazwy;thunar;pliki;foldery;katalog;katalogi;
Keywords[pt]=em massa;mudança de nome;renomear;thunar;ficheiros;pastas;diretório;diretórios;
Keywords[pt_BR]=volume;renamer;renomear;thunar;arquivos;pastas;diretório;diretórios;
Keywords[ru]=пакет;переименовать;переименование;thunar;файлы;папки;папка;проводник;
Keywords[sk]=hromadne;hromadné;dávkové;premenovanie;thunar;súbory;priečinky;adresár;adresáre;súborov;priečinkov;adresárov;
Keywords[sl]=skupek;preimenovalnik;preimenovanje;thunar;mape;datoteke;imenik;imeniki
Keywords[sq]=masiv;riemërtues;riemërtim;thunar;kartela;dosje;drejtori;drejtori;
Keywords[sr]=масовно;скупно;преименовање;тунар;датотека;фасцикла;фолдер;директоријум;
Keywords[sv]=grupp;omdöpning;döp om;thunar;filer;mappar;katalog;kataloger;
Keywords[th]=กลุ่มแฟ้ม;เปลี่ยนชื่อ;thunar;แฟ้ม;โฟลเดอร์;ไดเรกทอรี;
Keywords[tr]=toplu;yeniden adlandırıcı;yeniden adlandırma;thunar;dosyalar;klasörler;dizin;dizinler;
Keywords[uk]=вʼязка;перейменувальник;перейменування;thunar;файли;теки;каталог;каталоги;
Keywords[zh_CN]=bulk;renamer;renaming;thunar;files;folders;directory;directories;批量;重命名;重命名;thunar;文件;文件夹;目录;
Keywords[zh_TW]=bulk;renamer;renaming;thunar;files;folders;directory;directories;
Exec=thunar --bulk-rename %F
Icon=org.xfce.thunar
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;Core;GTK;Filesystem;
