[Desktop Entry]
Version=1.0
Name=File Manager Settings
Name[ar]=إعدادات مدير الملفات
Name[be]=Налады кіраўніка файлаў
Name[bg]=Настройки на управлението на файлове
Name[ca]=Ajusts del gestor de fitxers
Name[cs]=Nastavení správce souborů
Name[da]=Filhåndteringsindstillinger
Name[de]=Dateiverwaltung Einstellungen
Name[el]=Ρυθμίσεις διαχειριστή αρχείων
Name[en_GB]=File Manager Settings
Name[es]=Configuración del gestor de archivos
Name[et]=Failihalduri seaded
Name[eu]=Fitxategi kudeatzailetzaren ezarpenak
Name[fi]=Tiedostonhallinnan asetukset
Name[fr]=Paramètres du gestionnaire de fichiers
Name[gl]=Configuración do xestor de ficheiros
Name[he]=הגדרות מנהל הקבצים
Name[hr]=Postavke upravitelja datoteka
Name[hu]=Fájlkezelő beállításai
Name[hy_AM]=Նիշքային կառավարչի կարգավորումներ
Name[hye]=Նիշքի կառաւարիչի կարգաւորումներ
Name[id]=Pengaturan Peramban Berkas
Name[ie]=Parametres de Gerente de files
Name[it]=Impostazioni del Gestore dei File
Name[ja]=ファイルマネージャー設定
Name[kk]=Файлдар басқарушысы баптаулары
Name[ko]=파일 관리자 설정
Name[lt]=Failų tvarkytuvės nustatymai
Name[ms]=Tetapan Pengurus Fail
Name[nb]=Innstillinger for filbehandleren
Name[nl]=Instellingen van bestandsbeheerder
Name[oc]=Paramètres del gestionari de fichièrs
Name[pl]=Ustawienia menedżera plików
Name[pt]=Definições do gestor de ficheiros
Name[pt_BR]=Configurações do gerenciador de arquivos
Name[ru]=Настройки проводника
Name[sk]=Nastavenia správcu súborov
Name[sl]=Nastavitve upravljalnika datotek
Name[sq]=Rregullime Përgjegjësi Kartelash
Name[sr]=Поставке управника датотека
Name[sv]=Filhanterarens inställningar
Name[th]=ตั้งค่าโปรแกรมจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi Ayarları
Name[uk]=Параметри менеджера файлів
Name[vi]=Cài đặt  trình quản lý tập tin
Name[zh_CN]=文件管理器设置
Name[zh_TW]=檔案管理員設定
Comment=Configure the Thunar file manager
Comment[ar]=إعداد مدير الملفات ثونار
Comment[ast]=Configura'l xestor de ficheros Thunar
Comment[be]=Наладзіць кіраўніка файлаў
Comment[bg]=Настройване на управлението на файлове Thunar
Comment[bn]=Thunar ফাইল ম্যানেজার কনফিগার করুন
Comment[ca]=Configureu el gestor de fitxers Thunar
Comment[cs]=Konfigurace správce souborů Thunar
Comment[da]=Konfigurer Thunar Filhåndteringen
Comment[de]=Die Thunar-Dateiverwaltung einrichten
Comment[el]=Διαμόρφωση του διαχειριστή αρχείων Thunar
Comment[en_AU]=Configure the Thunar file manager
Comment[en_GB]=Configure the Thunar file manager
Comment[es]=Configurar el gestor de archivos Thunar
Comment[et]=Seadista failihaldurit Thunar
Comment[eu]=Konfiguratu Thunar fitxategi kudeatzailea
Comment[fa_IR]=پیکربندی مدیر پروندهٔ Thunar
Comment[fi]=Thunar-tiedostonhallinnan asetukset
Comment[fr]=Configurer le gestionnaire de fichiers Thunar
Comment[gl]=Configurar o xestor de ficheiros Thunar
Comment[he]=הגדרת מנהל הקבצים Thunar
Comment[hr]=Podesi Thunar upravitelja datoteka
Comment[hu]=A Thunar fájlkezelő beállítása
Comment[hy]=Կազմաձևել Thunar նիշքը
Comment[hy_AM]=Կազմաձեւել Thunar նիշքը
Comment[hye]=Կազմաձեւել Thunar նիշքը
Comment[id]=Konfigurasi manajer berkas Thunar
Comment[ie]=Configurar li gerente de files Thunar
Comment[is]=Stilla Thunar skráastjórann
Comment[it]=Configura il gestore dei file Thunar
Comment[ja]=Thunar ファイルマネージャーを設定します
Comment[kk]=Thunar файлдар басқарушысын баптау
Comment[ko]=투나 파일 관리자 설정
Comment[lt]=Konfigūruoti Thunar failų tvarkytuvę
Comment[lv]=Konfigurēt Thunar failu pārvaldnieku
Comment[ms]=Konfigur pengurus fail Thunar
Comment[nb]=Sett opp Thunar Filbehandler
Comment[nl]=Configureer de bestandbeheerder Thunar
Comment[nn]=Set opp Thunar filutforskar
Comment[oc]=Configurar lo gestionari de fichièrs Thunar
Comment[pl]=Konfiguruje preferencje menedżera plików Thunar
Comment[pt]=Configurar o gestor de ficheiros Thunar
Comment[pt_BR]=Configurar o gerenciador de arquivos Thunar
Comment[ro]=Configurați managerul de fișiere Thunar
Comment[ru]=Настроить проводник Thunar
Comment[sk]=Nastavenia správcu súborov Thunar
Comment[sl]=Uredi nastavitve upravljalnika datotek Thunar
Comment[sq]=Formësoni përgjegjësin e kartelave Thunar
Comment[sr]=Подеси управника датотека Тунара
Comment[sv]=Ställ in Filhanteraren Thunar
Comment[te]=తునార్ దస్త్ర నిర్వాహకాన్ని స్వరూపించండి
Comment[th]=ตั้งค่าโปรแกรมจัดการแฟ้ม Thunar
Comment[tr]=Thunar dosya yöneticisini yapılandır
Comment[ug]=سۇنار(Thunar) ھۆججەت باشقۇرغۇنى تەڭشەش
Comment[uk]=Налаштувати файловий менеджер Thunar
Comment[ur]=تھنر فائل منیجر مرتب کریں
Comment[ur_PK]=تھنر فائل منیجر مرتب کریں
Comment[vi]=Cấu hình trình quản lí tập tin Thunar
Comment[zh_CN]=配置 Thunar 文件管理器
Comment[zh_HK]=設定 Thunar 檔案管理員
Comment[zh_TW]=設定 Thunar 檔案管理員
Keywords=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[be]=thunar;налады;наладка;мініяцюры;памер файлаў;фармат даты;панэль хуткага доступу; выгляд дрэва;укладкі;
Keywords[bg]=thunar;настройки;предпочитания;приспособяване;миниатюри;файлов размер;формат на данните;панел с преки пътища;дървовиден изглед;раздели;
Keywords[ca]=thunar;ajusts;preferències;configurar;miniatures;mida;format;data;dreceres;tauler;vista;arbre;pestanyes;
Keywords[cs]=thunar;nastavení;předvolby;konfigurace;náhledy;velikost souboru;formát data;formát datumu;panel klávesových zkratek;stromové zobrazení;stromový pohled;stromy;taby;tab;karty;karta;panely;panel;
Keywords[da]=thunar;indstillinger;præferencer;konfigurer;miniaturer;filstørrelse;datoformat;genvejsrude;trævisning;faneblade;
Keywords[de]=thunar;Einstellungen;Voreinstellungen;Konfigurieren;Vorschaubilder;Dateigröße;Datumsformat;Verknüpfungsleiste;Baumansicht;Reiter;
Keywords[el]=thunar;ρυθμίσεις;προτιμήσεις;διαμόρφωση;μικρογραφίες;μέγεθος αρχείου;ημερομηνία ;μορφή;πλευρικό ταμπλό συντομεύσεων;εμφάνιση δενδρικής δομής;καρτέλες;
Keywords[en_GB]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[es]=thunar;ajustes;preferencias;configurar;miniaturas;tamaño;formato;fecha;accesos directos;panel;vista;árbol;pestañas;
Keywords[et]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;seadistused;eelistused;seadista;pisipilt; pisipildid;kuupäeva vorming;otsetee;otseteed;puuvaade;kaart;kaardid;
Keywords[eu]=thunar;ezarpenak;hobespenak;konfiguratu;argazkitxoak;fitxategi tamaina;data;formatua;lasterbide panela;zuhaitz ikuspegia;fitxak;
Keywords[fr]=thunar;paramètres;préférences;configurer;miniatures;taille de fichier;format de date;volet de raccourcis;arborescence;onglets;
Keywords[gl]=thunar;configuración;preferencias;configurar;miniaturas;tamaño de ficheiro;formato de data;panel de atallos;vista de árbore;lapelas;
Keywords[he]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[hy_AM]=thunar;կարգաւորումներ;ընտրանքներ;կազմաձեւել;մանրապատկերներ;նիշքի չափ;ամսաթուի ձեւաչափ;դիւրանցումների վահանակ;ծառային տեսք;ներդիրներ;
Keywords[id]=thunar;pengaturan;preferensi;konfigurasi;miniatur;ukuran berkas;format tanggal;panel pintasan;tampilan pohon;tab;
Keywords[ie]=thunar;parametres;preferenties;configurar;miniaturas;grandore;formate de date;locs;árbor;cartes;
Keywords[it]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ja]=thunar;設定;環境設定;設定;サムネイル;ファイルサイズ;日付形式;ショートカットペイン;ツリービュー;タブ;
Keywords[kk]=thunar;баптаулар;қалаулар;баптау;кіші көріністер;файл өлшемі;күн пішімі;жарлықтар панелі;ағаш көрінісі;беттер;
Keywords[ko]=thunar;투나;settings;설정;preferences;기본설정;기본 설정;configure;thumbnails;섬네일;file size;파일 크기;파일크기;date format;날짜형식;날짜 형식;shortcuts pane;바로가기창;바로 가기 창;바로가기 창;tree view;트리 보기;tabs;탭;
Keywords[lt]=thunar;nustatymai;nuostatos;konfigūruoti;konfiguruoti;konfigūracija;konfiguracija;miniatiūros;failų dydis;failu dydis;failo dydis;datos formatas;šaukinių polangis;saukiniu polangis;trumpiniu polangis;medžio rodinys;medzio rodinys;kortelės;korteles;
Keywords[ms]=thunar;tetapan;keutamaan;konfigur;imej kenit;fail;saiz;tarikh;format;anak tetingkap pintasan;pandangan pepohon;tab;
Keywords[nb]=thunar;innstillinger;oppsett;konfigurasjon;miniatyrbilder;filstørrelse;datoformat;snarveier;hurtigtaster;trevisning;faner;
Keywords[nl]=thunar;instellingen;voorkeuren;instellen;miniaturen;bestandsgrootte;datumopmaak;snelkoppelingsbalk;boomstructuurweergave;tabbladen;
Keywords[oc]=thunar;paramètres;reglatges;preferéncias;configurar;vinhetas;miniaturas;talha de fichièr;format de data;acorchi;panèl;arbre;onglets;
Keywords[pl]=thunar;ustawienia;preferencje;konfiguracja;miniatury;rozmiar pliku;format daty;położenia;widok drzewa;karty;
Keywords[pt]=thunar;definições;preferências;configurar;miniaturas;tamanho de ficheiro;formato de data;painel de atalhos;vista de árvore;separadores;
Keywords[pt_BR]=thunar;definições;preferências;configuração;miniaturas;tamanho do arquivo;formato da data;painel de atalhos;visualização em árvore;separadores;
Keywords[ru]=thunar;настройки;настроить;значки;размер файла;формат даты;панель закладок;древовидный список;вкладки;
Keywords[sk]=thunar;nastavenia;predvoľby;konfigurovať;nastaviť;náhľady;miniatúry;veľkosť súboru;formát dátumu;panel skratiek;stromové;zobrazenie;karty;
Keywords[sl]=thunar; nastavitve; lastnosti;konfiguracija;sličice;velikost datotek;format datuma;bljižnice;drevo;zavihki;
Keywords[sq]=thunar;rregullime;parapëlqime;formësojeni;miniatura;madhësi kartele;format datash;kuadrat shkurtoresh;pamje pemë;skeda;
Keywords[sr]=тунар;поставке;подешавања;подеси;умањене сличице;величина датотеке;облик датума;површ пречица;преглед гранањем;листови;
Keywords[sv]=thunar;inställningar;alternativ;konfigurera;tumnaglar;fil storlek;datum format;genvägsfönster;trädvy;flikar;
Keywords[th]=thunar;ตั้งค่า;ปรับแต่ง;ภาพย่อ;ขนาดแฟ้ม;รูปแบบวันที่;ช่องจุดลัด;ต้นไม้;แท็บ;
Keywords[tr]=thunar;ayarlar;tercihler;yeğlemeler;yapılandır;küçük resimler;dosya boyutu;tarih biçimi;kısayollar bölmesi;ağaç görünümü;sekmeler;
Keywords[uk]=thunar;налаштування;властивості;налаштувати;ескізи;розмір файлу;формат дати;панель скорочень;вигляд деревом;вкладки;
Keywords[zh_CN]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;设置;首选项;配置;缩略图;文件大小;日期格式;快捷方式栏 ;树状视图;标签;
Keywords[zh_TW]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Exec=thunar-settings
Icon=org.xfce.thunar
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
