[Desktop Entry]
Name=Tracer
Type=Application
Categories=osint-username;
Terminal=true
Icon=/usr/share/tracer/tracer.png
Exec=/usr/share/kali-menu/exec-in-shell "tracer -h"
Path=
StartupNotify=false
