[Desktop Entry]
Version=1.0
Type=Application
Name=Clipboard Manager
Name[be]=Кіраўнік буфера абмену
Name[bg]=Мениджър на системния буфер
Name[ca]=Gestor del porta-retalls
Name[cs]=Správce schránky
Name[da]=Udklipsholderhåndtering
Name[de]=Zwischenablageverwaltung
Name[el]=Διαχειριστής Προχείρου
Name[en_GB]=Clipboard Manager
Name[es]=Gestor del portapapeles
Name[et]=Lõikepuhvri haldur
Name[eu]=Arbel kudeatzailea
Name[fi]=Leikepöydän hallinta
Name[fr]=Gestionnaire de presse-papiers
Name[gl]=Xestor do portapapeis
Name[he]=מנהל לוח אטיב
Name[hu]=Vágólapkezelő
Name[hye]=Ստեղնաշարի կառաւարիչ
Name[id]=Manajer Papan Klip
Name[it]=Gestore degli appunti
Name[ja]=クリップボードマネージャー
Name[kk]=Алмасу буферін басқарушысы
Name[ko]=클립보드 관리자
Name[lt]=Iškarpinės tvarkytuvė
Name[ms]=Pengurus Papan Keratan
Name[nb]=Utklippsbehandler
Name[nl]=Klembordbeheer
Name[pl]=Menedżer schowka
Name[pt]=Gestor de área de transferência
Name[pt_BR]=Gerenciador da Área de Transferência
Name[ru]=Менеджер буфера обмена
Name[sk]=Správca schránky
Name[sl]=Upravljanik odložišča Clipman
Name[sq]=Përgjegjës të Papastre
Name[sr]=Управник исечака
Name[sv]=Urklippshanterare
Name[th]=เครื่องมือจัดการคลิปบอร์ด
Name[tr]=Pano Yöneticisi
Name[uk]=Керівник буфера обміну
Name[zh_CN]=剪贴板管理器
Name[zh_TW]=剪貼簿管理程式
Comment=Clipboard Manager Autostart File
Comment[be]=Файл аўтазапуску кіраўніка буфера абмену
Comment[bg]=Мениджър на системния буфер - автостартиращ файл
Comment[ca]=Fitxer d'inici automàtic del gestor del porta-retalls
Comment[cs]=Soubor automatického spuštění pro Správce schránky
Comment[da]=Autostart-fil for udklipsholderhåndtering
Comment[de]=Zwischenablageverwaltung Autostart-Datei
Comment[el]=Αρχείο αυτόματης εκκίνησης διαχειριστή προχείρου
Comment[en_GB]=Clipboard Manager Autostart File
Comment[es]=Archivo de inicio automático del gestor del portapapeles
Comment[et]=Lõikepuhvri halduri automaatse käivituse fail
Comment[eu]=Clipboard kudeatzailearen auto-abiarazte fitxategia
Comment[fr]=Fichier de démarrage automatique du gestionnaire de presse-papiers
Comment[gl]=Ficheiro de inicio automático do xestor do portapapeis
Comment[he]=קובץ התחלה אוטומטית מנהל לוח אטיב
Comment[hye]=Ստեղնաշարի կառաւարչի ինքնամեկնարկ
Comment[id]=Berkas Mulai Otomatis Manajer Papan Klip
Comment[it]=File di avvio automatico del gestore degli appunti
Comment[ja]=クリップボードマネージャーの自動起動ファイル
Comment[kk]=Алмасу буферін басқарушысының автоқосылу файлы
Comment[ko]=클립보드 관리자 자동 시작 파일
Comment[lt]=Iškarpinės tvarkytuvės automatinio paleidimo failas
Comment[ms]=Fail Auto-mula Pengurus Papan Keratan
Comment[nb]=Autostartfil for utklippsbehandler
Comment[nl]=Bestand voor automatische start van Klembordbeheer
Comment[pl]=Plik autostartu menedżera schowka
Comment[pt]=Ficheiro de arranque automático do gestor de área de transferência
Comment[pt_BR]=Arquivo Automático do Gerenciador da Área de Transferência
Comment[ru]=Файл автозапуска менеджера буфера обмена
Comment[sk]=Súbor automatického spustenia správcu schránky
Comment[sl]=Datoteka za samodejni zagon upravljanika odložišča Clipman
Comment[sq]=Kartelë Vetënisjeje Përgjegjësi të Papastre
Comment[sr]=Датотека самопокретања управника исечака
Comment[sv]=Autostartfil för Urklippshanteraren
Comment[th]=แฟ้มเริ่มทำงานอัตโนมัติของเครื่องมือจัดการคลิปบอร์ด
Comment[tr]=Pano Yöneticisi Otomatik Başlatma Dosyası
Comment[uk]=Файл автозапуску керівника буфера обміну
Comment[zh_CN]=剪贴板管理器自动启动文件
Comment[zh_TW]=剪貼簿管理程式自動啟動檔案
TryExec=xfce4-clipman
Exec=xfce4-clipman
Icon=xfce4-clipman-plugin
Terminal=false
Categories=GTK;Utility;TrayIcon;
OnlyShowIn=XFCE;GNOME;X-Cinnamon;
StartupNotify=false
