[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=org.xfce.appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Name[am]=ፕሮግራም ፈላጊ
Name[ar]=مكتشف التطبيقات
Name[ast]=Guetador d'aplicaciones
Name[be]=Пошук праграм
Name[bg]=Търсене на програма
Name[bn]=অ্যাপ্লিকেশন অনুসন্ধানকারী
Name[ca]=Cercador d'aplicacions
Name[cs]=Vyhledávač aplikací
Name[da]=Programfinder
Name[de]=Anwendungsfinder
Name[el]=Εύρεση εφαρμογών
Name[en_AU]=Application Finder
Name[en_CA]=Application Finder
Name[en_GB]=Application Finder
Name[es]=Buscador de aplicaciones
Name[et]=Rakenduste leidja
Name[eu]=Aplikazio bilatzailea
Name[fi]=Sovellusten hakutyökalu
Name[fr]=Liste des applications
Name[gl]=Buscador de aplicacións
Name[he]=מוצא יישומים
Name[hi]=अनुप्रयोग खोज
Name[hr]=Nalaznik programa
Name[hu]=Alkalmazáskereső
Name[hy_AM]=Յաւելուածների Որոնում
Name[hye]=Յաւելուածների Որոնում
Name[id]=Pencari Aplikasi
Name[ie]=Trovator de applicationes
Name[is]=Forritaleit
Name[it]=Trova applicazioni
Name[ja]=アプリケーションファインダー
Name[kk]=Қолданбаларды табушы
Name[ko]=프로그램 탐색기
Name[lt]=Programų paieška
Name[lv]=Lietotņu meklētājs
Name[ms]=Pencari Aplikasi
Name[nb]=Programkatalog
Name[nl]=Toepassingenzoeker
Name[nn]=Programfinnar
Name[oc]=Lista de las aplicacions
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਫਾਈਡਰ
Name[pl]=Wyszukiwarka programów
Name[pt]=Localizar aplicações
Name[pt_BR]=Localizador de aplicativos
Name[ro]=Pornire de programe
Name[ru]=Поиск приложений
Name[si]=යෙදුම් සෙවුම
Name[sk]=Vyhľadávač aplikácií
Name[sl]=Iskalec aplikacije
Name[sq]=Gjetës Aplikacionesh
Name[sr]=Проналазач програма
Name[sv]=Programstartare
Name[te]=అనువర్తన శోధకం
Name[th]=เครื่องมือค้นหาโปรแกรม
Name[tr]=Uygulama Bulucu
Name[ug]=پروگرامما ئىزدىگۈ
Name[uk]=Пошук встановлених програм
Name[ur]=اطلاقیہ تلاش کار
Name[ur_PK]=اطلاقیہ تلاش کار
Name[vi]=Application Finder
Name[zh_CN]=应用程序查找器
Name[zh_HK]=應用程式協尋器
Name[zh_TW]=應用程式協尋器
Comment=Find and launch applications installed on your system
Comment[ar]=العثور و إطلاق التطبيقات المثبتة في نظامك
Comment[ast]=Alcuentra y llanza aplicaciones instalaes nel to sistema
Comment[be]=Пошук і запуск усталяваных у вашай сістэме праграм
Comment[bg]=Намиране и стартиране на инсталирани приложения
Comment[bn]=আপনার সিস্টেমে ইনস্টলকৃত অ্যাপ্লিকেশন খুঁজে বের করে চালু করুন
Comment[ca]=Cerqueu i llanceu les aplicacions instal·lades al vostre sistema
Comment[cs]=Umožňuje najít a spouštět aplikace nainstalované v systému.
Comment[da]=Find og start programmer, som er installeret på dit system
Comment[de]=Im System installierte Anwendungen finden und starten
Comment[el]=Εύρεση και εκτέλεση εγκατεστημένων εφαρμογών στο σύστημά σας.
Comment[en_AU]=Find and launch applications installed on your system
Comment[en_CA]=Find and launch applications installed on your system
Comment[en_GB]=Find and launch applications installed on your system
Comment[es]=Encuentre e inicie las aplicaciones instaladas en el sistema
Comment[et]=Leia ja käivita süsteemi paigaldatud rakendusi
Comment[eu]=Bilatu eta abiarazi sisteman instalatutako aplikazioak
Comment[fi]=Etsi ja käynnistä järjestelmään asennettuja sovelluksia
Comment[fr]=Rechercher et lancer des applications installées sur votre système
Comment[gl]=Busque e inicie aplicacións instaladas no sistema
Comment[he]=מציאה והפעלת יישומים המותקנים במחשבך
Comment[hi]=सिस्टम पर इंस्टॉल हो रखें अनुप्रयोग खोजकर आरंभ करें।
Comment[hr]=Nađi i pokreni programe instalirane u vašem sustavu
Comment[hu]=A rendszerre telepített alkalmazások keresése és indítása
Comment[hy_AM]=Որոնել եւ գործարկել համակարգում առկայ յաւելուածները
Comment[hye]=Որոնել եւ գործարկել համակարգում առկայ յաւելուածները
Comment[id]=Mencari dan menjalankan aplikasi terinstal di sistem anda
Comment[ie]=Trovar e lansar applicationes installat in vor sistema
Comment[is]=Finna og ræsa forrit sem uppsett eru á kerfinu
Comment[it]=Trova e avvia le applicazioni installate nel sistema
Comment[ja]=システムにインストールされたアプリケーションの検索および起動を行います
Comment[kk]=Жүйеңізде орнатылған қолданбаларды табады және орындайды
Comment[ko]=시스템에 설치한 프로그램을 찾고 실행합니다
Comment[lt]=Surasti ir paleisti programas įdiegtas jūsų sistemoje
Comment[lv]=Atrodiet un izsauciet lietotnes, kas ir instalētas jūsu sistēmā.
Comment[ms]=Cari dan lancar aplikasi dipasang pada sistem anda
Comment[nb]=Finn og kjør programmer installert på datamaskinen din
Comment[nl]=Zoek en start toepassingen die geïnstalleerd zijn in uw systeem
Comment[nn]=Finn og køyr alle programma på maskina di
Comment[oc]=Recercar e aviar d'aplicacions installadas sus vòstre sistèma
Comment[pa]=ਆਪਣੇ ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਹੋਈਆਂ ਐਪਲੀਕੇਸ਼ਨ ਲੱਭੋ ਤੇ ਚਲਾਓ
Comment[pl]=Wyszukuje i uruchamia programy zainstalowane w systemie
Comment[pt]=Procura e inicia as aplicações instaladas no seu sistema
Comment[pt_BR]=Localize e execute aplicativos instalados no seu sistema
Comment[ro]=Căutați și porniți programe instalate în sistem
Comment[ru]=Поиск и запуск установленных в вашей системе приложений
Comment[si]=ඔබගේ පද්ධතියේ ස්ථාපනය කර ඇති යෙදුම් සොයා ක්‍රියාත්මක කරන්න
Comment[sk]=Vyhľadáva a spúšťa nainštalované aplikácie v systéme
Comment[sl]=Najdi in zaženi aplikacije nameščene na vaš sistem
Comment[sq]=Gjeni dhe nisni aplikacione të instaluar në sistemin tuaj
Comment[sr]=Пронађите и покрените неки од програма на систему
Comment[sv]=Sök och starta program som är installerade på ditt system
Comment[te]=మీ వ్యవస్థలో స్థాపించబడిన అనువర్తనాలను కనుగొను మరియు ప్రారంభించు
Comment[th]=ค้นหาและเรียกทำงานโปรแกรมที่ติดตั้งอยู่ในระบบของคุณ
Comment[tr]=Sisteminde kurulu uygulamaları bul ve başlat
Comment[ug]=كومپيۇتېرىڭىزغا ئورنىتىلغان پروگراممىلارنى ئىزدەيدۇ ۋە ئىجرا قىلىدۇ
Comment[uk]=Шукати та запускати програми встановлені в Вашій системі
Comment[ur]=نظام میں نصب اطلاقیے تلاش کریں اور چلائیں
Comment[ur_PK]=نظام میں نصب اطلاقیے تلاش کریں اور چلائیں
Comment[vi]=Tìm và chạy ứng dụng đã cài đặt trên hệ thống của bạn
Comment[zh_CN]=查找和启动在您系统上安装的应用程序
Comment[zh_HK]=尋找並啟動系統安裝的應用程式
Comment[zh_TW]=尋找並啟動您系統上安裝的應用程式
Keywords=program;applications;bookmarks;
Keywords[be]=праграма;праграмы;закладкі;
Keywords[bg]=програма;приложения, отметки;
Keywords[ca]=programar;aplicacions;marcadors;
Keywords[cs]=program;aplikace;záložky;
Keywords[da]=program;programmer;bogmærker;
Keywords[de]=Programm;Anwendungen;Lesezeichen;
Keywords[en_CA]=program;applications;bookmarks;
Keywords[es]=programa;aplicaciones;marcadores;
Keywords[et]=program;applications;bookmarks;programm;programmid;rakendus;rakendused;järjehoidjad;
Keywords[eu]=programak;aplikazioak;laster-markak;
Keywords[fr]=programme;applications;marque-pages;
Keywords[gl]=programas;aplicacións;marcadores;
Keywords[he]=program;applications;bookmarks;
Keywords[hi]=प्रोग्राम;अनुप्रयोग;पृष्ठ स्मृति;
Keywords[hy_AM]=ծրագիր;ծրագրեր;էջանիշեր;
Keywords[id]=program;aplikasi;markahbuku;
Keywords[ie]=programma;applicationes;marca-págines;
Keywords[it]=program;applications;bookmarks;
Keywords[ja]=プログラム;アプリケーション;ブックマーク;
Keywords[kk]=бағдарлама;қолданбалар;бетбелгілер;
Keywords[ko]=program;프로그램;applications;애플리케이션;앱;bookmarks;북마크;즐겨찾기;즐겨 찾기;
Keywords[lt]=programa;programos;žymelės;adresyno įrašai;
Keywords[ms]=program;aplikasi;tanda buku;
Keywords[nb]=program;programmer;bokmerker;
Keywords[nl]=programma;toepassingen;bladwijzers;
Keywords[oc]=programa;aplicacions;marcapagina;favorits;preferits;logicials;
Keywords[pl]=program;aplikacje;zakładki;
Keywords[pt]=programas;aplicações;marcadores;
Keywords[pt_BR]=programa, aplicativos, marcadores;
Keywords[ru]=приложение;приложения;закладки;
Keywords[sk]=program;aplikácie;záložky;
Keywords[sl]=program;aplikacija;zaznamki;
Keywords[sq]=program;aplikacione;faqerojtës;
Keywords[sr]=програм;апликације;белешке;забелешке;обележивачи;
Keywords[sv]=program;applikation;bokmärken
Keywords[th]=โปรแกรม;แอปพลิเคชัน;ที่คั่น;
Keywords[tr]=program;uygulamalar;yerimleri;yer imleri;
Keywords[uk]=програма;застосунки;закладки;
Keywords[zh_CN]=program;applications;bookmarks;程序;应用;书签;
Keywords[zh_HK]=程序；應用程序；書籤；
Keywords[zh_TW]=program;applications;bookmarks;
