[Desktop Entry]
Version=1.0
Name=Clipboard Manager Settings
Name[be]=Налады кіраўніка буфера абмену
Name[bg]=Настройки на мениджъра на системния буфер
Name[ca]=Ajusts del gestor del porta-retalls
Name[cs]=Nastavení Správce schránky
Name[da]=Indstillinger for udklipsholderhåndtering
Name[de]=Zwischenablage Diensteinstellungen
Name[el]=Ρυθμίσεις Διαχειριστή Προχείρου
Name[en_GB]=Clipboard Manager Settings
Name[es]=Configuración del gestor del portapapeles
Name[et]=Lõikepuhvri halduri eelistused
Name[eu]=Arbel kudeatzailearen ezarpenak
Name[fi]=Leikepöydän hallinnan asetukset
Name[fr]=Paramètres du gestionnaire de presse-papiers
Name[gl]=Configuración do xestor do portapapeis
Name[he]=הגדרות מנהל לוח אטיב
Name[hu]=Vágólapkezelő beállításai
Name[hye]=Ստեղնաշարի կառաւարչի կարգաւորումներ
Name[id]=Pengaturan Manajer Papan Klip
Name[it]=Impostazioni del gestore degli appunti
Name[ja]=クリップボードマネージャー設定
Name[kk]=Алмасу буферін басқарушысының баптаулары
Name[ko]=클립보드 관리자 설정
Name[lt]=Iškarpinės tvarkytuvės nustatymai
Name[ms]=Tetapan Pengurus Papan Keratan
Name[nb]=Utklippstavlebehandlerens innstillinger
Name[nl]=Instellingen van Klembordbeheer
Name[pl]=Ustawienia menedżera schowka
Name[pt]=Definições do gestor de área de transferência
Name[pt_BR]=Gerenciador de Configurações do Clipboard
Name[ru]=Настройки менеджера буфера обмена
Name[sk]=Nastavenia správcu schránky
Name[sl]=Nastavitve upravljanika odložišča Clipman
Name[sq]=Rregullime Përgjegjësi të Papastre
Name[sr]=Поставке управника исечака
Name[sv]=Urklippshanterare inställningar
Name[th]=ตั้งค่าเครื่องมือจัดการคลิปบอร์ด
Name[tr]=Pano Yöneticisi Ayarları
Name[uk]=Налаштування керівника буфера обміну
Name[zh_CN]=剪贴板管理器设置
Name[zh_TW]=剪貼簿管理器設定
Comment=Customize your clipboard
Comment[be]=Наладзьце свой буфер абмену
Comment[bg]=Персонализирайте вашият системен буфер
Comment[ca]=Personalitzeu el vostre porta-retalls
Comment[cs]=Přizpůsobte si svoji schránku
Comment[da]=Tilpas din udklipsholder
Comment[de]=Anpassen der Zwischenablage
Comment[el]=Προσαρμόστε το πρόχειρό σας
Comment[en_GB]=Customise your clipboard
Comment[es]=Personaliza tu portapapeles
Comment[et]=Kohenda oma lõikepuhvrit
Comment[eu]=Zure arbela pertsonalizatu
Comment[fi]=Mukauta leikepöytääsi
Comment[fr]=Personnaliser votre presse-papiers
Comment[gl]=Personalizar o portapapeis
Comment[he]=התאם אישית מנהל לוח אטיב
Comment[hu]=Szabd személyre a vágólapot
Comment[hye]=Յարմարեցնել ձեր ստեղնաշարը
Comment[id]=Suaikan papan klip Anda
Comment[it]=Personalizza i tuoi appunti
Comment[ja]=クリップボードのカスタマイズ
Comment[kk]=Алмасу буферіңізді баптаңыз
Comment[ko]=클립보드 개별 설정
Comment[lt]=Tinkinti savo iškarpinę
Comment[ms]=Suai papan keratan anda
Comment[nb]=Tilpass utklippstavla
Comment[nl]=Pas uw klembord aan
Comment[pl]=Dostosowywanie schowka
Comment[pt]=Personalize a sua área de transferência
Comment[pt_BR]=Personalizar seu clipboard
Comment[ru]=Настройте свой буфер обмена
Comment[sk]=Prispôsobuje vašu schránku
Comment[sl]=Prilagodite odložišče
Comment[sq]=Përshtatni të papastrën tuaj
Comment[sr]=Прилагодите своју оставу исечака
Comment[sv]=Anpassa din urklippshanterare
Comment[th]=ปรับแต่งคลิปบอร์ดของคุณ
Comment[tr]=Panonuzu özelleştirin
Comment[uk]=Налаштуйте свій буфер обміну
Comment[zh_CN]=自定义剪贴板
Comment[zh_TW]=自訂您的剪貼簿
Exec=xfce4-clipman-settings
Icon=xfce4-clipman-plugin
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=XFCE;
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
X-XfceHelpComponent=clipman
X-XfceHelpPage=start
