[Desktop Entry]
Version=1.0
Name=Power Manager
Name[ar]=مدير طاقة
Name[ast]=Xestor d'enerxía
Name[be]=Кіраўнік сілкавання
Name[bg]=Управление на захранването
Name[ca]=Gestor d'energia
Name[cs]=Správce napájení
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχειριστής ρεύματος
Name[en_AU]=Power Manager
Name[en_CA]=Power Manager
Name[en_GB]=Power Manager
Name[es]=Gestor de energía
Name[et]=Vooluhaldur
Name[eu]=Energia kudeatzailea
Name[fi]=Virranhallinta
Name[fr]=Gestionnaire d’alimentation
Name[gl]=Xestor de enerxía
Name[he]=מנהל צריכת חשמל
Name[hr]=Upravitelj energijom
Name[hu]=Energiakezelő
Name[hy_AM]=Լիցք
Name[hye]=Լիցք
Name[id]=Manajer Daya
Name[ie]=Gerente de energie
Name[is]=Aflstjórnun
Name[it]=Gestore dell'energia
Name[ja]=電源管理
Name[kk]=Электр қоректендіру басқарушысы
Name[kn]=ಪವರ್ ಮ್ಯಾನೇಜರ್
Name[ko]=전원 관리자
Name[lt]=Maitinimo tvarkytuvė
Name[ms]=Pengurus Kuasa
Name[nb]=Strømstyring
Name[nl]=Energiebeheerder
Name[nn]=Straumstyring
Name[oc]=Gestionari d'alimentacion
Name[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
Name[pl]=Menedżer zasilania
Name[pt]=Gestor de energia
Name[pt_BR]=Gerenciador de Energia
Name[ro]=Manager de consum
Name[ru]=Менеджер питания
Name[si]=ශක්ති කළමනාකාරකය
Name[sk]=Správca napájania
Name[sl]=Upravljalnik porabe energije
Name[sq]=Përgjegjës Energjie
Name[sr]=Управник потрошње
Name[sv]=Strömhanterare
Name[te]=విద్యుత్ నిర్వాహకం
Name[th]=ระบบจัดการพลังงาน
Name[tr]=Güç Yöneticisi
Name[ug]=مەنبە باشقۇرغۇ
Name[uk]=Менеджер живлення
Name[ur]=توانائی منیجر
Name[ur_PK]=توانائی منیجر
Name[vi]=Trình quản lý năng lượng
Name[zh_CN]=电源管理器
Name[zh_HK]=電力管理員
Name[zh_TW]=電源管理員
GenericName=Power Manager
GenericName[ar]=مدير طاقة
GenericName[ast]=Xestor d'enerxía
GenericName[be]=Кіраўнік сілкавання
GenericName[bg]=Управление на захранването
GenericName[ca]=Gestor d'energia
GenericName[cs]=Správce napájení
GenericName[da]=Strømstyring
GenericName[de]=Energieverwaltung
GenericName[el]=Διαχειριστής ρεύματος
GenericName[en_AU]=Power Manager
GenericName[en_CA]=Power Manager
GenericName[en_GB]=Power Manager
GenericName[es]=Gestor de energía
GenericName[et]=Vooluhaldur
GenericName[eu]=Energia kudeatzailea
GenericName[fi]=Virranhallinta
GenericName[fr]=Gestionnaire d’alimentation
GenericName[gl]=Xestor de enerxía
GenericName[he]=מנהל צריכת חשמל
GenericName[hr]=Upravitelj energijom
GenericName[hu]=Energiakezelő
GenericName[hy_AM]=Լիցք
GenericName[hye]=Լիցք
GenericName[id]=Manajer Daya
GenericName[ie]=Gerente de energie
GenericName[is]=Aflstjórnun
GenericName[it]=Gestore dell'energia
GenericName[ja]=電源管理
GenericName[kk]=Электр қоректендіру басқарушысы
GenericName[kn]=ಪವರ್ ಮ್ಯಾನೇಜರ್
GenericName[ko]=전원 관리자
GenericName[lt]=Maitinimo tvarkytuvė
GenericName[ms]=Pengurus Kuasa
GenericName[nb]=Strømstyring
GenericName[nl]=Energiebeheerder
GenericName[nn]=Straumstyring
GenericName[oc]=Gestionari d'alimentacion
GenericName[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer zasilania
GenericName[pt]=Gestor de energia
GenericName[pt_BR]=Gerenciador de Energia
GenericName[ro]=Manager de consum
GenericName[ru]=Менеджер питания
GenericName[si]=ශක්ති කළමනාකාරකය
GenericName[sk]=Správca napájania
GenericName[sl]=Upravljalnik porabe energije
GenericName[sq]=Përgjegjës Energjie
GenericName[sr]=Управник потрошње
GenericName[sv]=Strömhanterare
GenericName[te]=విద్యుత్ నిర్వాహకం
GenericName[th]=ระบบจัดการพลังงาน
GenericName[tr]=Güç Yöneticisi
GenericName[ug]=مەنبە باشقۇرغۇ
GenericName[uk]=Менеджер живлення
GenericName[ur]=توانائی منیجر
GenericName[ur_PK]=توانائی منیجر
GenericName[vi]=Trình quản lý năng lượng
GenericName[zh_CN]=电源管理器
GenericName[zh_HK]=電力管理員
GenericName[zh_TW]=電源管理員
Comment=Settings for the Xfce Power Manager
Comment[ar]=إعدادات مدير طاقة إكسفس
Comment[ast]=Axustes pal xestor d'enerxía Xfce
Comment[be]=Налады кіраўніка сілкавання Xfce
Comment[bg]=Настройки на Управление на захранването на Xfce
Comment[ca]=Ajusts per al gestor d'energia de Xfce
Comment[cs]=Nastavení Správce napájení pro Xfce
Comment[da]=Indstillinger for Xfce Strømstyringen
Comment[de]=Einstellungen für die Xfce-Energieverwaltung
Comment[el]=Ρυθμίσεις για τον διαχειριστή ρεύματος του xfce
Comment[en_AU]=Settings for the Xfce Power Manager
Comment[en_CA]=Settings for the Xfce Power Manager
Comment[en_GB]=Settings for the Xfce Power Manager
Comment[es]=Configuración del gestor de energía de Xfce
Comment[et]=Xfce vooluhalduri seadistused
Comment[eu]=Xfce Energia kudeatzailearen ezarpenak
Comment[fi]=Xfce:n virrankäyttöasetukset
Comment[fr]=Paramètres du gestionnaire d’alimentation Xfce
Comment[gl]=Configuración do Xestor de enerxía de Xfce
Comment[he]=הגדרות עבור מנהל צריכת חשמל Xfce
Comment[hr]=Postavke za Xfce upravitelja energijom
Comment[hu]=Az Xfce energiakezelő beállításai
Comment[hy_AM]=Xfce լիցքի կառավարչի կարգաւորումներ
Comment[hye]=Xfce լիցքի կառավարչի կարգաւորումներ
Comment[id]=Pengaturan untuk Manajer Daya Xfce
Comment[ie]=Parametres de gerente de energie Xfce
Comment[is]=Stillingar fyrir XFCE aflstjórnun
Comment[it]=Impostazioni per il gestore dell'energia di Xfce
Comment[ja]=Xfce 電源管理を設定します
Comment[kk]=Xfce Power Manager баптаулары
Comment[kn]=Xfce ಪವರ್ ಮ್ಯಾನೇಜರ್ಗಾಗಿ ಸೆಟ್ಟಿಂಗ್ಗಳು
Comment[ko]=Xfce 전원 관리자를 설정합니다
Comment[lt]=Xfce maitinimo tvarkytuvės nustatymai
Comment[ms]=Tetapan untuk Pengurus Kuasa Xfce
Comment[nb]=Innstillinger for Xfce-strømstyring
Comment[nl]=Instellingen voor de Xfce-energiebeheerder
Comment[nn]=Innstillingar for Xfce-straumstyraren
Comment[oc]=Paramètres del gestionari d'alimentacion Xfce
Comment[pl]=Ustawienia menedżera zasilania Xfce
Comment[pt]=Definições para o gestor de energia do Xfce4
Comment[pt_BR]=Configurações para o Gerenciador de Energia do Xfce
Comment[ro]=Opțiuni pentru managerul de consum Xfce
Comment[ru]=Настройки менеджера питания Xfce
Comment[sk]=Nastavenia Správcu napájania Xfce
Comment[sl]=Nastavitve upravljalnika porabe energije
Comment[sq]=Rregullime për Përgjegjësin Xfce të Energjisë
Comment[sr]=Поставке управника потрошње за Иксфце4
Comment[sv]=Inställningar för Strömhanterare för Xfce
Comment[te]=Xfce విద్యుత్ నిర్వాహకము కొరకు అమరికలు
Comment[th]=ตั้งค่าระบบจัดการพลังงานของ Xfce
Comment[tr]=Xfce Güç Yöneticisi için Ayarlar
Comment[ug]=مەنبە باشقۇرغۇ تەڭشەكلىرى
Comment[uk]=Налаштування для менеджера живлення Xfce
Comment[vi]=Cài đặt cho Trình quản lý năng lượng Xfce
Comment[zh_CN]=Xfce 电源管理器设置
Comment[zh_HK]=Xfce 電力管理員設定
Comment[zh_TW]=Xfce 電源管理員設定值
Exec=xfce4-power-manager-settings
Icon=org.xfce.powermanager
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Keywords=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;
Keywords[be]=налады;кнопкі;рэжым сну;гібернацыя;батарэя;прыпыненне;выключэнне;яркасць;вечка ноўтбука;блакаванне экрана;падлучана;энергазберажэнне;крытычны ўзровень;
Keywords[bg]=настройки;предпочитания;бутони;приспиване;дълбоко приспиване;батерия;приспиване;изключване;яркост;затваряне на лаптопа;заключване на екрана;включено;запазване;критично;
Keywords[ca]=ajusts;preferències;botons;repòs;hibernació;bateria;suspensió;apagada;brillantor;portàtil;tapa;bloqueig de pantalla;endollat;estalvi;crític;
Keywords[cs]=nastavení;předvolby;tlačítka;spánek;uspat;hibernace;hibernovat;baterie;vypnout;jas;víko přenosného počítače;uzamykací obrazovka;zapojeno;ukládání;kritické;
Keywords[da]=indstillinger;præferencer;knapper;søvn;hvile;dvale;batteri;suspender;luk ned;sluk;lysstyrke;låget på bærbar;låseskærm;tilsluttet;besparelse;kritisk;
Keywords[de]=Einstellungen;Präferenzen;Knöpfe;Energiesparmodus;Ruhezustand;Akku;Bereitschaft;Herunterfahren;Helligkeit;Laptop-Deckel;Bildschirm sperren;eingesteckt;Speichern;kritisch;
Keywords[el]=ρυθμίσεις;προτιμήσεις;κουμπιά;αναμονή;αδρανοποίηση;μπαταρία;αναστολή;τερματισμός;φωτεινότητα;καπάκι φορητού;κλείδωμα οθόνης;με ρεύμα;μειωμένη;κρίσιμο;
Keywords[en_CA]=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;
Keywords[en_GB]=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;
Keywords[es]=configuración;preferencias;botones;suspensión;hibernación;batería;suspender;apagar;brillo;tapa del portátil;bloqueo de pantalla;conectado;ahorro;crítico;
Keywords[et]=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;seadistused;sätted;eelistused;nupp;nupud;uinak;aku;eredus;sülearvuti;sülearvuti kaas;ekraaniliukustus;vooluvõrgus;kriitiline;
Keywords[eu]=doikuntzak;hobespenak;botoiak;lo hartu;hibernatu;bateria;eseki;itzali;distira;ordenagailu eramangarriaren tapa; blokeo pantaila; konektatuta; gordetzen;kritikoa;
Keywords[fr]=paramètres;préférences;boutons;veille;hiberner;batterie;suspendre;arrêt;luminosité;couvercle de portable;verrouillage;branché;économie;critique;
Keywords[gl]=configuracións;preferencias;botóns;suspensión;hibernado;batería;suspender;apagado;brillo de pantalla;pantalla do portátil;bloqueado de pantalla;enchufado;protección;crítica;
Keywords[he]=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;
Keywords[hy_AM]=կարգաւորումներ;ընտրանք;կոճակներ;նիրհել;քնել;մարտկոց;նիրհել;անջատել;պայծառութիւն;կափարիչ;կողպել ցուադրիչը;միացուած;պահպանում;ճգնաժամային
Keywords[hye]=կարգաւորում, նախընտրութիւններ; կոճակներ; հանգիստ; ձմեռել; մարտկոց; կասեցնել; անջատել; պայծառութիւն; ծալովի համակարգչի կափարիչ; կողպէ՛ք էկրանը; միացուած; խնայող; կարեւոր;
Keywords[id]=pengaturan;preferensi;tombol;tidur;hibernasi;baterai;suspensi;matikan;kecerahan;tutup laptop;kunci layar;terhubung daya;menghemat;kritis;
Keywords[it]=impostazioni;preferenze;pulsanti;addormenta;iberna;batteria;sospendi;spegni;luminosità;sportello portatile;blocca schermo;inserito;salvataggio in corso;critico
Keywords[ja]=設定;環境設定;ボタン;スリープ;休止状態;バッテリー;一時停止;シャットダウン;明るさ;ノートパソコンの蓋;ロック画面;プラグイン;保存;重要;
Keywords[kk]=баптаулар;қалаулар;батырмалар;ұйықтату;гибернация;батарея;күту;сөндіру;жарықтылық;ноутбук қақпағы;блоктау экраны;қорекке қосылған;үнемдеу;критикалық;
Keywords[ko]=settings;설정;preferences;기본설정;기본 설정;buttons;버튼;보턴;단추;sleep;대기;hibernate;최대절전;최대 절전;battery;바떼리;밧데리;배터리;suspend;대기;shutdown;시스템종료;시스템 종료;시스템끄기;시스템 끄기;전원끄기;전원 끄기;brightness;밝기;laptop lid;랩톱뚜껑;랩톱 뚜껑;랩톱덮개;랩톱 덮개;lock screen;화면잠금;화면 잠금;plugged in;연결함;saving;절약;critical;치명;부족;
Keywords[lt]=nustatymai;nuostatos;mygtukai;pristabdyti;užmigdyti;uzmigdyti;baterija;akumuliatorius;miegas;išjungti;isjungti;ryškumas;ryskumas;nešiojamojo kompiuterio dangtis;nesiojamojo kompiuterio dangtis;užrakinti ekraną;uzrakinti ekrana;prijungtas;taupymas;kritinis;
Keywords[ms]=tetapan;keutamaan;butang;tidur;hibernasi;bateri;tangguh;matikan;kecerahan;penutup komputer riba;skrin kunci;dipalam masuk;penjimatan;kritikal;
Keywords[nb]=oppsett;innstillinger;knapper;hvilemodus;dvale;batteri;strømsparing;lysstyrke;lokk;skjermlås;strømnett;lagre;kritisk;
Keywords[nl]=instellingen;voorkeuren;knoppen;slaapstand;pauzestand;accu;afsluiten;helderheid;deksel;schermvergrendeling;netstroom;opslaan;kritiek;
Keywords[oc]=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;ecran;estalvi;energia;electricitat;carga;bataria;bateria;velha;ivernar;atudar;botons;preferencias;
Keywords[pl]=ustawienia;preferencje;przyciski;uśpienie;hibernacja;akumulator;wstrzymanie;wyłączenie;jasność;pokrywa laptopa;zablokowanie ekranu;zasilanie sieciowe;oszczędzanie;krytycznie niski;
Keywords[pt]=definições;preferências;botões;retomar;hibernar;bateria;suspender;encerrar;desligar;luminosidade;brilho;tampa do portátil;bloquear ecrã;acoplado;poupança;crítico;
Keywords[pt_BR]=configurações;preferências;botões;dormir;hibernar;bateria;suspender;desligar;brilho;tampa do notebook;bloquear tela;conectado;salvar;crítico;
Keywords[ru]=настройки;кнопки;ждущий режим;спящий режим;батарея;завершение работы;яркость;крышка ноутбука;подключён;сохранение;заряд;электропитание;
Keywords[sk]=nastavenia;predvoľby;tlačidlá;spánok;uspať;hibernácia;hibernovať;batéria;vypnutie;vypnúť;jas;kryt;prenosného;počítača;zámok obrazovky;pripojené;zapojené;úspora;kritická;
Keywords[sl]=nastavitve; lastnosti; gumbi;spanje;hibernacija;baterija;zaustavitev;svetlost;pokrov notesnika; zakleni zaslon; vklopljen; shranjevanje; kritično;
Keywords[sq]=rregullime;parapëlqime;butona;fjetje;plogështoje;bateri;pezulloje;fike;ndriçim;kapak laptopi;kyç ekranin;në rrymë;kursim;kritik;
Keywords[sr]=поставке;подешавања;дугмад;спавање;замрзавање;батерија;обустави;искључи;светлина;поклопац лаптопа;закључавање екрана;прикључено;чување;критично;
Keywords[sv]=inställningar; inställningar; knappar; sömn; viloläge; batteri; vila; avstängning; ljusstyrka; laptoplock; låsskärm; inkopplad; sparar; kritisk;
Keywords[th]=ตั้งค่า;ปรับแต่ง;ปุ่ม;หลับ;จำศึลเครื่อง;แบตเตอรี่;พักเครื่อง;ปิดเครื่อง;ความสว่าง;ฝาแล็ปท็อป;ล็อคหน้าจอ;เสียบปลั๊ก;ประหยัด;วิกฤติ;
Keywords[tr]=ayarlar;tercihler;yeğler;yeğlemeler;düğmeler;uyku;hazırda bekletme;pil;batarya;askıya alma;kapatma;parlaklık;dizüstü kapağı;laptop kapağı;kapak;kilit ekranı;takılı;kaydetme;kayıt;kritik;ciddi;
Keywords[uk]=налаштування;властивості;кнопки;сон;сплячка;батарея;призупинити;вимкнути;яскравість;кришка ноутбука;замикач екрана;під'єднано;збереження;критично;
Keywords[zh_CN]=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;设置;首选项;按钮;睡眠;休眠;电池;挂起;关机;亮度;笔记本电脑盖;锁屏;插入;节能;紧急;
Keywords[zh_TW]=settings;preferences;buttons;sleep;hibernate;battery;suspend;shutdown;brightness;laptop lid;lock screen;plugged in;saving;critical;
NotShowIn=GNOME;KDE;Unity;
StartupNotify=true
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-power-manager
X-XfceHelpPage=start
