[Desktop Entry]
Name=Settings Editor
Name[am]=አራሚ ማሰናጃ
Name[ar]=محرر الإعدادات
Name[ast]=Editor de configuración
Name[be]=Рэдактар налад
Name[be@tarask]=Рэдактар наладаў
Name[bg]=Редактор на настройките
Name[bn]=সেটিংস সম্পাদক
Name[ca]=Editor d'ajusts
Name[cs]=Editor nastavení
Name[da]=Indstillingsredigering
Name[de]=Einstellungsbearbeitung
Name[el]=Επεξεργαστής ρυθμίσεων
Name[en_AU]=Settings Editor
Name[en_CA]=Settings Editor
Name[en_GB]=Settings Editor
Name[es]=Editor de configuración
Name[et]=Seadistuste haldur
Name[eu]=Ezarpen editorea
Name[fi]=Asetustenmuokkain
Name[fr]=Éditeur de paramètres
Name[gl]=Editor de configuración
Name[he]=עורך הגדרות
Name[hr]=Uređivač postavki
Name[hu]=Beállításszerkesztő
Name[hy_AM]=Կարգաւորումների խմբագրիչ
Name[hye]=Կարգաւորումների խմբագրիչ
Name[id]=Penyunting Pengaturan
Name[ie]=Redactor de parametres
Name[is]=Stillingaritill
Name[it]=Editor delle impostazioni
Name[ja]=設定エディター
Name[ka]=პარამეტრების რედაქტორი
Name[kab]=Amaẓrag n yiɣewwaren
Name[kk]=Баптаулар түзетуші
Name[ko]=설정 편집기
Name[lt]=Nustatymų redaktorius
Name[lv]=Iestatījumu redaktors
Name[ms]=Penyunting Tetapan
Name[nb]=Innstillingsredigering
Name[nl]=Instellingenbewerker voor Xfconf
Name[nn]=Innstillingar
Name[oc]=Editor de paramètres
Name[pa]=ਸੈਟਿੰਗ ਐਡੀਟਰ
Name[pl]=Edytor ustawień
Name[pt]=Editor de definições
Name[pt_BR]=Editor de configurações
Name[ro]=Editor de opțiuni
Name[ru]=Редактор настроек
Name[sk]=Editor nastavení
Name[sl]=Urejevalnik nastavitev
Name[sq]=Përpunues Rregullimesh
Name[sr]=Уредник поставки
Name[sv]=Inställningsredigerare
Name[te]=అమరికల కూర్పరి
Name[th]=เครื่องมือแก้ไขค่าตั้ง
Name[tr]=Ayarlar Düzenleyici
Name[ug]=تەڭشەك تەھرىرلىگۈ
Name[uk]=Редактор параметрів
Name[ur]=ترتیبات ایڈیٹر
Name[ur_PK]=ترتیبات ایڈیٹر
Name[zh_CN]=设置编辑器
Name[zh_HK]=設定編輯器
Name[zh_TW]=設定編輯器
Comment=Graphical settings editor for Xfconf
Comment[ar]=محرر إعدادات رسومي لـإكسفس4
Comment[ast]=Editor gráficu de configuración pa Xfconf
Comment[be]=Графічны рэдактар налад для  Xfconf
Comment[be@tarask]=Графічны рэдактар наладаў для Xfconf
Comment[bg]=Графичен редактор на настройките за Xfconf
Comment[bn]=Xfconf-র জন্য গ্রাফিকাল সেটিংস সম্পাদক
Comment[ca]=Editor gràfic d'ajusts de Xfconf
Comment[cs]=Grafický editor nastavení služby Xfconf
Comment[da]=Grafisk indstillingsredigering til Xfconf
Comment[de]=Grafische Einstellungsbearbeitung für Xfconf
Comment[el]=Επεξεργαστής ρυθμίσεων για το Xfconf
Comment[en_AU]=Graphical settings editor for Xfconf
Comment[en_CA]=Graphical settings editor for Xfconf
Comment[en_GB]=Graphical settings editor for Xfconf
Comment[es]=Editor gráfico de los ajustes del servicio de configuración de Xfce
Comment[et]=Graafiline kasutajaliides Xfconf'i haldamiseks
Comment[eu]=Xfconf-ren ezarpen editore grafikoa
Comment[fi]=Graafinen Xfconf-asetusten muokkain
Comment[fr]=Éditeur graphique de paramètres pour Xfconf
Comment[gl]=Editor da configuración gráfica do Xfconf
Comment[he]=עורך הגדרות גרפי עבור Xfconf
Comment[hr]=Grafički uređivač postavki za Xfconf
Comment[hu]=Grafikus beállításszerkesztő az Xfconf-hoz
Comment[hy_AM]=Տեսապատկերային կարգաւորումների խմբագրիչ` Xfconf֊ի համար
Comment[hye]=Տեսապատկերային կարգաւորումների խմբագրիչ` Xfconf֊ի համար
Comment[id]=Penyunting pengaturan grafis untuk Xfconf
Comment[ie]=Un grafic redactor de parametres de Xfconf
Comment[is]=Myndrænn stillingaritill fyrir Xfconf
Comment[it]=Editor grafico delle impostazioni per Xfconf
Comment[ja]=Xfconf のグラフィカル設定エディターです
Comment[kab]=Amaẓrag n yiɣewwaren udlifen i Xfconf
Comment[kk]=Xfconf үшін баптауларды графикалық түзетуші
Comment[ko]=Xfconf 그래픽 설정 편집기
Comment[lt]=Grafinis nustatymų redaktorius skirtas Xfconf
Comment[lv]=Grafiskais iestatījumu redaktors priekš Xfconf
Comment[ms]=Penyunting tetapan bergrafik untuk Xfconf
Comment[nb]=Grafisk redigeringsprogram for Xfconf
Comment[nl]=Grafische instellingenbewerker voor Xfconf
Comment[nn]=Grafisk innstillingsprogram for Xfconf
Comment[oc]=Editor grafic dels paramètres Xfconf
Comment[pl]=Konfiguruje ustawienia przechowywane przez program Xfconf
Comment[pt]=Editor gráfico para as definições Xfconf
Comment[pt_BR]=Editor de configurações gráficas para o Xfconf
Comment[ro]=Editor grafic al opțiunilor Xfconf
Comment[ru]=Графический редактор настроек для Xfconf
Comment[sk]=Grafický editor nastavení pre Xfconf
Comment[sl]=Grafični urejevalnik Xfconf nastavitev
Comment[sq]=Përpunim grafik vetish Xfconf-i
Comment[sr]=Графички уређивач поставки Иксфконф-а
Comment[sv]=Grafisk inställningsredigerare för Xfconf
Comment[te]=Xfconf కొరకు గ్రాఫికల్ అమరికల కూర్పకం
Comment[th]=โปรแกรมแก้ไขค่าตั้งแบบกราฟิกสำหรับ Xfconf
Comment[tr]=Xfconf için grafik ayar düzenleyicisi
Comment[ug]=Xfconf نىڭ گرافىكىلىق تەڭشەك تەھرىرلىگۈسى
Comment[uk]=Графічний редактор параметрів для Xfconf
Comment[ur]=تصویری ترتیبات مدون کار برائے Xfconf
Comment[ur_PK]=تصویری ترتیبات مدون کار برائے Xfconf
Comment[zh_CN]=Xfconf 的图形设置编辑器
Comment[zh_HK]=Xfconf 的圖像化設定編輯器
Comment[zh_TW]=Xfconf 的圖形化設定編輯器
Keywords=registry;regedit;configuration file;
Keywords[be]=рэестр;рэдактар;файл канфігурацыі;
Keywords[be@tarask]=рээстар;рэдактар рээстра;канфігурацыйны файл;
Keywords[bg]=регистър;редактиране на регистър;конфигурационен файл;
Keywords[ca]=registre;regedit;fitxer de configuració;
Keywords[cs]=registr;regedit;soubor s nastavením;
Keywords[da]=register;regedit;registerredigering;konfigurationsfil;
Keywords[de]=Registrierung;regedit;Konfigurationsdatei;
Keywords[el]=μητρώο;regedit;αρχείο ρυθμίσεων;
Keywords[en_CA]=registry;regedit;configuration file;
Keywords[en_GB]=registry;regedit;configuration file;
Keywords[es]=registro;regedit;archivo de configuración;
Keywords[et]=registry;regedit;configuration file;seadistuste fail;seadete fail;sätete fail;register;
Keywords[eu]=erregistroa;regedit;konfigurazio fitxategia;
Keywords[fr]=registre;regedit;fichier de configuration;
Keywords[gl]=rexistro;regedit;ficheiro de configuración;
Keywords[he]=registry;regedit;configuration file;
Keywords[hy_AM]=գրացամատեան;regedit;կազմաձեւման նիշք;
Keywords[id]=registri;regedit;berkas konfigurasi;
Keywords[it]=registry;regedit;configuration file;
Keywords[ja]=レジストリ;regedit;構成ファイル;
Keywords[kk]=реестр;regedit;баптаулар файлы;
Keywords[ko]=registry;레지스트리;regedit;configuration file;설정파일;설정 파일;
Keywords[lt]=registras;regedit;konfigūracijos failas;konfiguracijos failas;
Keywords[ms]=registry;regedit;fail konfigurasi;
Keywords[nb]=register;regedit;konfigurasjonsfil;
Keywords[nl]=register;regedit;instellingenbestand;
Keywords[oc]=registre;regedit;configuracion;fichièr de configuracion;
Keywords[pl]=rejestr;edytor rejestru;plik konfiguracyjny;
Keywords[pt]=registo;regedit;ficheiro de configuração;
Keywords[pt_BR]=registro;regedit;arquivo de configuração;
Keywords[ru]=реестр;редактор;файл настроек;
Keywords[sk]=register;regedit;editor;konfiguračný súbor;
Keywords[sl]=ster;regdit;konfiguracijska datoteka;
Keywords[sq]=regjistër;regedit;kartelë formësimi;
Keywords[sr]=завод;уредник поставки;датотека поставки;
Keywords[sv]=registret;regedit;konfigurations fil;
Keywords[th]=เรจิสตรี;regedit;แฟ้มค่าตั้ง;
Keywords[tr]=kayıt;kayıt defteri;regedit;yapılandırma dosyası;
Keywords[uk]=реґістр;regedit;файл конфіґурації;
Keywords[zh_CN]=registry;regedit;configuration file;注册表;注册表编辑;配置文件;
Keywords[zh_TW]=registry;regedit;configuration file;
Exec=xfce4-settings-editor
Icon=org.xfce.settings.editor
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;
OnlyShowIn=XFCE;
X-XfceSettingsManagerHidden=true
X-XfcePluggable=true
X-XfceHelpPage=editor
