[Desktop Entry]
Name=Task Manager
Name[ar]=مدير المهام
Name[ast]=Xestor de xeres
Name[az]=Tapşırıq Yönəldəni
Name[be]=Кіраўнік задач
Name[bg]=Управление на задачи
Name[ca]=Gestor de tasques
Name[cs]=Správce úloh
Name[da]=Opgavehåndtering
Name[de]=Taskmanager
Name[el]=Διαχειριστής εργασιών
Name[en_AU]=Task Manager
Name[en_GB]=Task Manager
Name[es]=Gestor de tareas
Name[et]=Tegumihaldur
Name[eu]=Zeregin kudeatzailea
Name[fa_IR]=تسک‌منیجر
Name[fi]=Tehtävienhallinta
Name[fr]=Gestionnaire de tâches
Name[gl]=Xestor de tarefas
Name[he]=מנהל משימות
Name[hr]=Upravitelj zadacima
Name[hu]=Feladatkezelő
Name[hy_AM]=Առաջադրանքների Կառավարիչ
Name[hye]=Առաջադրանքների Կառավարիչ
Name[id]=Manajer Tugas
Name[ie]=Gerente de taches
Name[is]=Verkefnastjóri
Name[it]=Gestore dei processi
Name[ja]=タスクマネージャー
Name[kk]=Үрдістерді басқарушысы
Name[ko]=작업 관리자
Name[lt]=Užduočių tvarkytuvė
Name[ms]=Pengurus Tugas
Name[nb]=Oppgavebehandler
Name[nl]=Taakbeheerder
Name[oc]=Gestionari de prètzfaches
Name[pl]=Menedżer zadań
Name[pt]=Gestor de Tarefas
Name[pt_BR]=Gerenciador de tarefas
Name[ru]=Диспетчер задач
Name[sk]=Správca úloh
Name[sl]=Upravljalnik nalog
Name[sq]=Përgjegjës Aktesh
Name[sr]=Управник задатака
Name[sv]=Aktivitetshanterare
Name[te]=కర్తవ్య నిర్వాహకం
Name[th]=โปรแกรมจัดการทาสก์
Name[tr]=Görev Yöneticisi
Name[ug]=ۋەزىپە باشقۇرغۇ
Name[uk]=Диспетчер задач
Name[vi]=Quản lý tác vụ
Name[zh_CN]=任务管理器
Name[zh_HK]=工作管理員
Name[zh_TW]=工作管理員
Comment=Easy to use application to monitor system resources
Comment[az]=Sistem qaynaqlarını izləmək üçün asan işlənişli uyğulama
Comment[be]=Простая праграма для назірання за выкарыстаннем сістэмных рэсурсаў
Comment[bg]=Лесна за ползване програма за наблюдение на системните ресурси
Comment[ca]=Una aplicació fàcil d’utilitzar per monitorar els recursos del sistema
Comment[cs]=Snadno použitelná aplikace k monitorování systémových zdrojů
Comment[da]=Letanvendeligt program til at overvåge systemressourcer
Comment[de]=Einfach zu bedienende Anwendung zur Überwachung von Systemressourcen
Comment[el]=Εύκολη στη χρήση εφαρμογή για παρακολούθηση των πόρων του συστήματος 
Comment[es]=Una aplicación fácil de usar para monitorear los recursos del sistema
Comment[et]=Lihtsaltkasutatav rakendus süsteemi jõudluse jälgimiseks
Comment[eu]=Sistemaren baliabideak monitorizatzeko aplikazio erabilerraz bat
Comment[fa_IR]=برنامه‌ای آسان در استفاده جهت نظارت بر منابع سیستم
Comment[fi]=Helppokäyttöinen sovellus järjestelmän resurssien tarkkailuun
Comment[fr]=Application simple d’utilisation pour surveiller les ressources du système
Comment[gl]=Aplicación fácil de usar para monitorizar os recursos do sistema
Comment[he]=יישום פשוט למעקב אחר משאבי המערכת
Comment[hr]=Laka za korištenje aplikacija za nadzor resursa sustava
Comment[hye]=Հեշտ աւգտագործման ծրագիր՝ համակարգի պաշարները վերահսկելու համար
Comment[id]=Aplikasi untuk memonitor sumber daya sistem yang mudah digunakan
Comment[it]=Un'applicazione per controllare le risorse del sistema facile da usare
Comment[ja]=システムリソースを監視するための使いやすいアプリケーション
Comment[kk]=Жүйелік ресурстарды бақылауға арналған, пайдалануға оңай қосымша
Comment[ko]=시스템 자원 감시에 용이한 프로그램
Comment[lt]=Lengva naudoti programa, skirta stebėti sistemos išteklius
Comment[ms]=Aplikasi mudah yang digunakan untuk memantau sumber sistem
Comment[nb]=Et enkelt å bruke program som overvåker systemressurser
Comment[nl]=Gemakkelijk te gebruiken toepassing om systeembelasting te bewaken
Comment[pl]=Łatwa w użyciu aplikacja do monitorowania zasobów systemowych
Comment[pt]=Aplicação fácil de usar para monitorizar os recursos do sistema
Comment[pt_BR]=Aplicativo fácil de usar para monitorar os recursos do sistema
Comment[ru]=Простое в использовании приложение для мониторинга системных ресурсов
Comment[sk]=Aplikácia s jednoduchým používaním na sledovanie systémových prostriedkov
Comment[sq]=Aplikacion për mbikëqyrje burimesh sistemi, i lehtë për t’u përdorur
Comment[sr]=Програм за надгледање система лак за употребу
Comment[sv]=Lättanvänd applikation för att övervaka systemets resurser
Comment[th]=แอปพลิเคชันสะดวกใช้สำหรับเฝ้าสังเกตทรัพยากรระบบ
Comment[tr]=Sistem kaynaklarını izlemek için kullanımı kolay uygulama
Comment[uk]=Додаток легко використовувати для відслідковування системних ресурсів
Comment[zh_CN]=用来监视系统资源的易用程序
Comment[zh_TW]=易於使用的系統資源監視程式
GenericName=Task Manager
GenericName[ar]=مدير المهام
GenericName[ast]=Xestor de xeres
GenericName[az]=Tapşırıq Yönəldəni
GenericName[be]=Кіраўнік задач
GenericName[bg]=Управление на задачи
GenericName[ca]=Gestor de tasques
GenericName[cs]=Správce úloh
GenericName[da]=Opgavehåndtering
GenericName[de]=Taskmanager
GenericName[el]=Διαχειριστής εργασιών
GenericName[en_AU]=Task Manager
GenericName[en_GB]=Task Manager
GenericName[es]=Gestor de tareas
GenericName[et]=Tegumihaldur
GenericName[eu]=Zeregin kudeatzailea
GenericName[fa_IR]=تسک‌منیجر
GenericName[fi]=Tehtävienhallinta
GenericName[fr]=Gestionnaire de tâches
GenericName[gl]=Xestor de tarefas
GenericName[he]=מנהל משימות
GenericName[hr]=Upravitelj zadacima
GenericName[hu]=Feladatkezelő
GenericName[hy_AM]=Առաջադրանքների Կառավարիչ
GenericName[hye]=Առաջադրանքների Կառավարիչ
GenericName[id]=Manajer Tugas
GenericName[ie]=Gerente de taches
GenericName[is]=Verkefnastjóri
GenericName[it]=Gestore dei processi
GenericName[ja]=タスクマネージャー
GenericName[kk]=Үрдістерді басқарушысы
GenericName[ko]=작업 관리자
GenericName[lt]=Užduočių tvarkytuvė
GenericName[ms]=Pengurus Tugas
GenericName[nb]=Oppgavebehandler
GenericName[nl]=Taakbeheerder
GenericName[oc]=Gestionari de prètzfaches
GenericName[pl]=Menedżer zadań
GenericName[pt]=Gestor de Tarefas
GenericName[pt_BR]=Gerenciador de tarefas
GenericName[ru]=Диспетчер задач
GenericName[sk]=Správca úloh
GenericName[sl]=Upravljalnik nalog
GenericName[sq]=Përgjegjës Aktesh
GenericName[sr]=Управник задатака
GenericName[sv]=Aktivitetshanterare
GenericName[te]=కర్తవ్య నిర్వాహకం
GenericName[th]=โปรแกรมจัดการทาสก์
GenericName[tr]=Görev Yöneticisi
GenericName[ug]=ۋەزىپە باشقۇرغۇ
GenericName[uk]=Диспетчер задач
GenericName[vi]=Quản lý tác vụ
GenericName[zh_CN]=任务管理器
GenericName[zh_HK]=工作管理員
GenericName[zh_TW]=工作管理員
Exec=xfce4-taskmanager
Icon=org.xfce.taskmanager
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;
