[Desktop Entry]
Version=1.0
Name=Color Profiles
Name[be]=Каляровыя профілі
Name[be@tarask]=Каляровыя профілі
Name[bg]=Цветови профили
Name[ca]=Perfils de colors
Name[cs]=Profily barev
Name[da]=Farveprofiler
Name[de]=Farbprofile
Name[el]=Χρωματικά προφίλ
Name[en_AU]=Colour Profiles
Name[en_CA]=Colour Profiles
Name[en_GB]=Colour Profiles
Name[es]=Perfiles de color
Name[et]=Värviprofiilid
Name[eu]=Kolore profilak
Name[fi]=Väriprofiilit
Name[fr]=Profils de couleur
Name[gl]=Perfís de cor
Name[he]=פרופילי צבע
Name[hr]=Profili boja
Name[hu]=Színprofilok
Name[hy_AM]=Գունային յատկագրեր
Name[hye]=Գունային յատկագրեր
Name[id]=Profil Warna
Name[ie]=Profiles de color
Name[is]=Litasnið
Name[it]=Profili colori
Name[ja]=カラープロファイル
Name[ka]=ფერის პროფილები
Name[kab]=Imaɣnuyen n yini
Name[kk]=Түстер профильдері
Name[ko]=색상 프로파일
Name[lt]=Spalvų profiliai
Name[ms]=Profil Warna
Name[nb]=Fargeprofiler
Name[nl]=Kleurprofielen
Name[oc]=Perfils de colors
Name[pl]=Profile kolorów
Name[pt]=Perfis de cor
Name[pt_BR]=Perfis de cor
Name[ro]=Profile de Culori
Name[ru]=Цветовые профили
Name[sk]=Farebné profily
Name[sl]=Barvni profili
Name[sq]=Profile Ngjyre
Name[sr]=Пресеци боја
Name[sv]=Färgprofiler
Name[th]=โพรไฟล์สี
Name[tr]=Renk Profili
Name[uk]=Кольорові профілі
Name[zh_CN]=色彩配置文件
Name[zh_TW]=色彩設定檔
Comment=Set color profiles
Comment[be]=Абраць каляровы профіль
Comment[be@tarask]=Абраць каляровы профіль
Comment[bg]=Задаване на цветови профили
Comment[ca]=Estableix els perfils de colors
Comment[cs]=Nastavit profily barev
Comment[da]=Indstil farveprofiler
Comment[de]=Farbprofile festlegen
Comment[el]=Ορισμός χρωματικών προφίλ
Comment[en_AU]=Set colour profiles
Comment[en_CA]=Set colour profiles
Comment[en_GB]=Set colour profiles
Comment[es]=Configure los perfiles de color
Comment[et]=Seadista värviprofiile
Comment[eu]=Ezarri kolore profilak
Comment[fi]=Aseta väriprofiilit
Comment[fr]=Définir des profils de couleur
Comment[gl]=Definir os perfís de cor
Comment[he]=קבע פרופילי צבע
Comment[hr]=Postavi profil boje
Comment[hu]=Színprofilok beállítása
Comment[hy_AM]=Սահմանել գունային յատգագրեր
Comment[hye]=Սահմանել գունային յատգագրեր
Comment[id]=Atur profil warna
Comment[ie]=Assignar profiles de color
Comment[is]=Setja litasnið
Comment[it]=Imposta i profili dei colori
Comment[ja]=カラープロファイルを設定する
Comment[kab]=Sbadu imaɣunen n yiniten
Comment[kk]=Түстер профильдерін орнату
Comment[ko]=색상 프로파일 설정
Comment[lt]=Nustatyti spalvų profilius
Comment[ms]=Tetapkan profil warna
Comment[nb]=Velg fargeprofiler
Comment[nl]=Kleurprofielen instellen
Comment[oc]=Definir los perfiles de colors
Comment[pl]=Ustawia profile kolorów
Comment[pt]=Definir perfis de cor
Comment[pt_BR]=Conjunto de perfis de cor
Comment[ru]=Задать цветовые профили
Comment[sk]=Nastaviť profily farieb
Comment[sl]=Nastavi barvne profile
Comment[sq]=Ujdisni profile ngjyrash
Comment[sr]=Постави пресеке боја
Comment[sv]=Välj färgprofiler
Comment[th]=กำหนดโพรไฟล์สี
Comment[tr]=Renk profillerini ayarla
Comment[uk]=Встановити профілі кольорів
Comment[zh_CN]=设置色彩配置文件
Comment[zh_TW]=設定色彩設定檔
Keywords=color;settings;management;display;monitors;printers;webcams;scanners;
Keywords[be]=колер;налады;кіраванне;дысплэй;маніторы;прынтары;вэб-камеры;сканеры;
Keywords[be@tarask]=колер;налады;кіраваньне;дысплэй;маніторы;друкаркі;вэб-камэры;сканэры;
Keywords[bg]=цвят;настройки;управление;дисплей;монитори;принтери;уеб камери;скенери;
Keywords[ca]=color;ajusts;gestió;pantalla;monitors;impressores;webcam;escànners;
Keywords[cs]=barva;nastavení;správa;displej;monitory;tiskárny;webové kamery;skenery;
Keywords[da]=farve;indstillinger;styring;skærm;skærme;printere;webcams;webkameraer;scannere;skannere;
Keywords[de]=Farbe;Einstellungen;Verwaltung;Anzeige;Monitore;Drucker;Webcams;Scanner;
Keywords[el]=χρώμα;ρυθμίσεις;διαχείριση;εμφάνιση;οθόνες;εκτυπωτές;διαδικτυακές κάμερες;σαρωτές;
Keywords[en_CA]=colour;settings;management;display;monitors;printers;webcams;scanners;
Keywords[en_GB]=colour;settings;management;display;monitors;printers;webcams;scanners;
Keywords[es]=color;ajustes;gestión;pantalla;monitores;impresoras;cámaras web;escáneres;
Keywords[et]=color;settings;management;display;monitors;printers;webcams;scanners;värvid;seadistused;sätted;ekraan;monitorid;printerid;veebikaamerad;skännerid;
Keywords[eu]=kolorea;ezarpenak;kudeaketa;bistaratzea;monitoreak;inprimagailuak;web-kamerak;eskanerrak;
Keywords[fr]=couleur;paramètres;gestion;affichage;moniteurs;imprimantes;webcams;scanners;
Keywords[gl]=cor;configuración;xestión;visualización;pantallas;monitores;impresoras;cámaras web;escáneres;
Keywords[he]=color;settings;management;display;monitors;printers;webcams;scanners;
Keywords[hy_AM]=գոյն,կարգաւորումներ,կառավարում,ցուցադրիչ,ցուցադրիչներ,տպիչներ,տեսախցիկներ,տեսածրիչներ;
Keywords[id]=warna;pengaturan;manajemen;tampilan;monitor;pencetak;webcam;pemindai;
Keywords[it]=color;settings;management;display;monitors;printers;webcams;scanners;
Keywords[ja]=色;設定;管理;ディスプレイ;モニター;プリンター;ウェブカメラ;スキャナー;
Keywords[kk]=түстер;бапталар;басқару;экран;мониторлар;принтерлер;веб-камералар;сканерлер;
Keywords[ko]=color;색상;settings;설정;management;관리;display;디스플레이;화면;monitors;모니터;printers;프린터;webcams;웹캠;scanners;스캐너;
Keywords[lt]=spalva;nustatymai;nuostatos;valdymas;tvarkymas;ekranas;monitorius;monitoriai;spausdintuvai;internetinės kameros;internetines kameros;internetinė kamera;internetine kamera;skeneriai;
Keywords[ms]=warna;tetapan;pengurusan;paparan;monitor;pencetak;kamera sesawang;pengimbas;
Keywords[nb]=fargeinnstillinger;farger;fargestyring;skjerm;monitor;printer;skriver;webkamera;skanner;
Keywords[nl]=kleur;instellingen;beheer;scherm;beeldschermen;printers;webcamera's;scanners;
Keywords[oc]=color;paramètres;configuracion;reglatges;gestion;gerir;afichatge;monitor;ecran;imprimenta;estampadoira;webcam;numerizador;scanner;escaner;
Keywords[pl]=kolor;ustawienia;zarządzanie;wyświetlacz;monitory;drukarki;kamery internetowe;skanery;
Keywords[pt]=cor;definições;gestão;ecrã;monitores;impressoras;câmaras web;scanners;
Keywords[pt_BR]=cor;configurações;gestão;visualização;monitores;impressoras;webcams;scanners;
Keywords[ru]=цвет;настройки;управление;экран;мониторы;принтеры;веб-камеры;сканеры;
Keywords[sk]=farba;nastavenia;správa;displej;zobrazenie;monitory;tlačiarne;webkamera;webová;kamera;skenery;
Keywords[sl]=barva;nastavitve;urejanje;zaslon;monitorji;tislalniki;spletne kamere;skenerji;bralniki;
Keywords[sq]=ngjyrë;rregullime;administrim;ekran;monitorë;shtypës;kamera web;skaner;
Keywords[sr]=боја;поставке;управљање;приказ;монитор;екран;штампач;камере;скенери;
Keywords[sv]=färg;inställningar;hantering;skärmar;skrivare;webbkameror;skannrar;
Keywords[th]=สี;ตั้งค่า;จัดการ;จอแสดงผล;จอภาพ;เครื่องพิมพ์;เว็บแคม;สแกนเนอร์;
Keywords[tr]=renk;ayarlar;yönetim;görüntü;ekran;monitörler;yazıcılar;webcamler;web kameraları;tarayıcılar;
Keywords[uk]=колір;налаштування;керування;дисплей;монітори;принтери;вебкамери;сканери;
Keywords[zh_CN]=color;settings;management;display;monitors;printers;webcams;scanners;颜色;设置;管理;显示;显示器;打印机;网络摄像头;扫描仪;
Keywords[zh_TW]=color;settings;management;display;monitors;printers;webcams;scanners;
Exec=xfce4-color-settings
Icon=org.xfce.settings.color
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=color
