[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-about
Icon=org.xfce.about
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=About Xfce
Name[am]=ስለ Xfce
Name[ar]=حول إكسفس
Name[ast]=Tocante Xfce
Name[az]=Xfce ilə bağlı
Name[be]=Пра Xfce
Name[bg]=Относно Xfce
Name[ca]=Quant a Xfce
Name[cs]=O prostředí Xfce
Name[cy]=Ynghylch Xfce
Name[da]=Om Xfce
Name[de]=Über Xfce
Name[el]=Περί του Xfce
Name[en_AU]=About Xfce
Name[en_GB]=About Xfce
Name[es]=Acerca de Xfce
Name[et]=Teave Xfce'i kohta
Name[eu]=Xfce-ri buruz
Name[fi]=Tietoja Xfce:stä
Name[fr]=À propos de Xfce
Name[gl]=Sobre Xfce
Name[he]=אודות Xfce
Name[hr]=O Xfce-u
Name[hu]=Az Xfce névjegye
Name[hy]=Xfce֊ի մասին
Name[hy_AM]=Xfce֊ի մասին
Name[hye]=Xfce֊ի մասին
Name[id]=Tentang Xfce
Name[ie]=Pri Xfce
Name[is]=Um Xfce
Name[it]=Informazioni su Xfce
Name[ja]=Xfce について
Name[ka]=Xfce-ის შესახებ
Name[kk]=Xfce туралы
Name[ko]=Xfce 정보
Name[lt]=Apie Xfce
Name[ms]=Perihal Xfce
Name[nb]=Om Xfce
Name[nl]=Over Xfce
Name[nn]=Om Xfce
Name[oc]=A prepaus de Xfce
Name[pl]=O środowisku Xfce
Name[pt]=Sobre o Xfce
Name[pt_BR]=Sobre o Xfce
Name[ro]=Despre Xfce
Name[ru]=Об Xfce
Name[sk]=O pracovnom prostredí Xfce
Name[sl]=O Xfce
Name[sq]=Mbi Xfce-në
Name[sr]=О Иксфце-у
Name[sv]=Om Xfce
Name[te]=Xfce గురించి
Name[th]=เกี่ยวกับ Xfce
Name[tr]=Xfce Hakkında
Name[ug]=مەزكۇر Xfce ھەققىدە
Name[uk]=Про Xfce
Name[vi]=Thông tin về XFCE
Name[zh_CN]=关于 Xfce
Name[zh_HK]=關於 Xfce
Name[zh_TW]=關於 Xfce
Comment=Information about the Xfce Desktop Environment
Comment[ar]=معلمومات حول بيئة سطح المكتب إكسفس
Comment[ast]=Información tocante al entornu d'escritoriu Xfce
Comment[az]=Xfce İş qoyağı Ortamı ilə bağlı bilgi
Comment[be]=Звесткі пра працоўнае асяроддзе Xfce
Comment[bg]=Сведения за работната среда Xfce
Comment[ca]=Informació quant a l'entorn d'escriptori Xfce
Comment[cs]=Informace o pracovním prostředí Xfce
Comment[cy]=Gwybodaeth am yr Amgylchedd Penfwrdd Xfce
Comment[da]=Information om Xfce-skrivebordsmiljøet
Comment[de]=Informationen über die Xfce-Arbeitsumgebung
Comment[el]=Πληροφορίες σχετικά με το περιβάλλον εργασίας Xfce
Comment[en_AU]=Information about the Xfce Desktop Environment
Comment[en_GB]=Information about the Xfce Desktop Environment
Comment[es]=Información acerca del entorno de escritorio Xfce
Comment[et]=Teave Xfce töölauakeskkonna kohta
Comment[eu]=Xfce mahaigain inguruneari buruzko argibideak
Comment[fi]=Tietoja Xfce-työpöytäympäristöstä
Comment[fr]=Informations à propos de l’environnement de bureau Xfce
Comment[gl]=Información sobre o contorno de escritorio Xfce
Comment[he]=מידע אודות סביבת שולחן עבודה Xfce
Comment[hr]=Informacije o Xfce radnom okruženju
Comment[hu]=Információk az Xfce asztali környezetről
Comment[hy]=Տեղեկույթ Xfce աշխատասեղանի միջավայրի մասին
Comment[hy_AM]=Տեղեկոյթ Xfce աշխատասեղանի միջավայրի մասին
Comment[hye]=Տեղեկոյթ Xfce աշխատասեղանի միջավայրի մասին
Comment[id]=Informasi tentang Lingkungan Desktop Xfce
Comment[ie]=Information pri li ambientie Xfce
Comment[is]=Upplýsingar um Xfce skjáborðsumhverfið
Comment[it]=Informazioni sull'ambiente grafico Xfce
Comment[ja]=Xfce デスクトップ環境に関する情報です
Comment[kk]=Xfce жұмыс үстел ортасы туралы ақпарат
Comment[ko]=Xfce 데스크톱 환경 정보
Comment[lt]=Informacija apie Xfce darbalaukio aplinką
Comment[ms]=Maklumat tentang Persekitaran Desktop Xfce
Comment[nb]=Informasjon om Xfce-skrivebordsmiljøet
Comment[nl]=Inlichtingen over de Xfce-werkomgeving
Comment[nn]=Opplysingar om skrivebordsmiljøet Xfce
Comment[oc]=Informacion a prepaus de l'environament de burèu Xfce
Comment[pl]=Wyświetla informacje o środowisku graficznym Xfce
Comment[pt]=Informações do ambiente de trabalho Xfce
Comment[pt_BR]=Informação sobre o Ambiente de área de trabalho Xfce
Comment[ro]=Detalii despre mediul desktop Xfce
Comment[ru]=Сведения об окружении Xfce
Comment[sk]=Informácie o pracovnom prostredí Xfce
Comment[sl]=Podatki o Xfce namiznem okolju
Comment[sq]=Të dhëna të përgjithshme mbi Mjedisin Desktop Xfce
Comment[sr]=Подаци о радном окружењу Иксфце-а
Comment[sv]=Information om skrivbordsmiljön Xfce
Comment[te]=Xfce డెస్క్‍టాప్ పర్యావరణం గురించిన సమాచారం
Comment[th]=ข้อมูลเกี่ยวกับเดสก์ท็อป Xfce
Comment[tr]=Xfce Masaüstü Ortamı ile ilgili bilgi
Comment[ug]=مەزكۇر Xfce ئۈستەلئۈستى مۇھىتى ھەققىدە ئۇچۇر
Comment[uk]=Інформація про середовище стільниці Xfce
Comment[vi]=Thông tin về môi trường màn hình Xfce
Comment[zh_CN]=有关 Xfce 桌面环境的信息
Comment[zh_HK]=有關 Xfce 桌面環境的資訊
Comment[zh_TW]=有關 Xfce 桌面環境的資訊
