[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch MailReader %u
Icon=org.xfce.mailreader
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/mailto;
X-AppStream-Ignore=True
Name=Mail Reader
Name[ar]=قارء البريد الالكتروني
Name[ast]=Llector de correos
Name[be]=Паштовая праграма
Name[be@tarask]=Чытач пошты
Name[bg]=Четец на поща
Name[bn]=মেইল রিডার
Name[ca]=Client de correu
Name[cs]=Poštovní klient
Name[da]=Postlæser
Name[de]=E-Mail-Programm
Name[el]=Αναγνώστης αλληλογραφίας
Name[en_AU]=Mail Reader
Name[en_CA]=Mail Reader
Name[en_GB]=Mail Reader
Name[es]=Lector de correo
Name[et]=E-posti lugeja
Name[eu]=Posta bezeroa
Name[fi]=Sähköpostiohjelma
Name[fr]=Client de messagerie
Name[gl]=Lector de correo
Name[he]=קורא דואר
Name[hr]=Čitač mailova
Name[hu]=Levelező
Name[hy_AM]=Էլ֊փոստ
Name[hye]=Էլ֊փոստ
Name[id]=Pembaca Surat
Name[ie]=Letor de postage
Name[is]=Póstforrit
Name[it]=Lettore di email
Name[ja]=メーラー
Name[kab]=Ameɣri n yimaylen
Name[kk]=Пошта қолданбасы
Name[ko]=메일 리더
Name[lt]=Pašto programa
Name[ms]=Pembaca Mel
Name[nb]=E-postleser
Name[nl]=E-mailprogramma
Name[nn]=Epostlesar
Name[oc]=Client de messatjariá
Name[pl]=Czytnik poczty
Name[pt]=Leitor de correio eletrónico
Name[pt_BR]=Cliente de e-mail
Name[ro]=Client de mail
Name[ru]=Почтовик
Name[sk]=E-mailový klient
Name[sl]=Bralnik pošte
Name[sq]=Lexues Poste
Name[sr]=Читач поште
Name[sv]=E-postklient
Name[th]=โปรแกรมอ่านเมล
Name[tr]=E-posta Okuyucusu
Name[ug]=ئېلخەت ئوقۇغۇ
Name[uk]=Поштовий клієнт
Name[zh_CN]=邮件阅读器
Name[zh_HK]=讀取郵件
Name[zh_TW]=郵件讀取器
Comment=Read your email
Comment[ar]=إقرء بريدك الإلكتروني
Comment[ast]=Llei'l to corréu
Comment[be]=Чытаць электронную пошту
Comment[be@tarask]=Чытайце сваю электронную пошту
Comment[bg]=Прочетете си пощата
Comment[bn]=ইমেইল পড়ুন
Comment[ca]=Llegiu el vostre correu electrònic
Comment[cs]=Číst poštu
Comment[da]=Læs dine e-mail
Comment[de]=E-Mails lesen
Comment[el]=Τα ηλεκτρονικά σας μηνύματα
Comment[en_AU]=Read your email
Comment[en_CA]=Read your email
Comment[en_GB]=Read your e-mail
Comment[es]=Lea el correo
Comment[et]=Loe e-posti
Comment[eu]=Irakurri zure posta
Comment[fi]=Käytä sähköpostiasi
Comment[fr]=Consulter ses courriels
Comment[gl]=Ler o correo electrónico
Comment[he]=קרא את הדוא״ל שלך
Comment[hr]=Čitaj svoju poštu
Comment[hu]=E-mail olvasása
Comment[hy_AM]=Ընթերցել նամակները
Comment[hye]=Ընթերցել նամակները
Comment[id]=Baca email anda
Comment[ie]=Leer vor postage
Comment[is]=Lesa tölvupóstinn
Comment[it]=Leggi le email
Comment[ja]=電子メールを読みます
Comment[kab]= Γeṛ imayl-inek·inem
Comment[kk]=Поштаңызды оқу
Comment[ko]=이메일 읽기
Comment[lt]=Skaityti paštą
Comment[ms]=Baca emel anda
Comment[nb]=Les e-post
Comment[nl]=Lees uw email
Comment[nn]=Les eposten din
Comment[oc]=Legir sos mails
Comment[pl]=Odbiera i wysyła pocztę elektroniczną
Comment[pt]=Ler o correio eletrónico
Comment[pt_BR]=Ler seu e-mail
Comment[ro]=Citiți-vă mailul
Comment[ru]=Читать электронную почту
Comment[sk]=Prečítať poštu
Comment[sl]=Preberite svojo pošto
Comment[sq]=Lexoni email-et tuaj
Comment[sr]=Читајте своју е-пошту
Comment[sv]=Läs din e-post
Comment[th]=อ่านอีเมลของคุณ
Comment[tr]=E-postanızı okuyun
Comment[ug]=ئېلخەت ئوقۇيدۇ
Comment[uk]=Перегляньте Вашу пошту
Comment[zh_CN]=阅读您的电子邮件
Comment[zh_HK]=讀取電子郵件
Comment[zh_TW]=讀取您的電子郵件
