[Desktop Entry]
Version=1.0
Name=Display
Name[am]=ማሳያ
Name[ar]=العرض
Name[ast]=Pantalla
Name[be]=Дысплэй
Name[be@tarask]=Дысплэй
Name[bg]=Дисплей
Name[bn]=প্রদর্শন
Name[ca]=Pantalla
Name[cs]=Displej
Name[da]=Skærm
Name[de]=Anzeige
Name[el]=Οθόνη
Name[en_AU]=Display
Name[en_CA]=Display
Name[en_GB]=Display
Name[es]=Pantalla
Name[et]=Monitor
Name[eu]=Bistaratu
Name[fi]=Näyttö
Name[fr]=Affichage
Name[gl]=Pantalla
Name[he]=תצוגה
Name[hr]=Zaslon
Name[hu]=Kijelző
Name[hy_AM]=Ցուցադրիչ
Name[hye]=Ցուցադրիչ
Name[id]=Layar
Name[ie]=Monitor
Name[is]=Skjár
Name[it]=Schermo
Name[ja]=ディスプレイ
Name[ka]=ეკრანი
Name[kab]=Affichage
Name[kk]=Дисплей
Name[ko]=디스플레이
Name[lt]=Ekranas
Name[lv]=Displejs
Name[ms]=Paparan
Name[nb]=Skjerm
Name[nl]=Beeldscherm
Name[nn]=Skjerm
Name[oc]=Afichatge
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Monitor
Name[ro]=Display
Name[ru]=Дисплей
Name[si]=සංදර්ශකය
Name[sk]=Monitor
Name[sl]=Zaslon
Name[sq]=Shfaqje
Name[sr]=Приказ
Name[sv]=Bildskärm
Name[te]=ప్రదర్శన
Name[th]=จอแสดงผล
Name[tr]=Ekran
Name[ug]=كۆرسەتكۈچ
Name[uk]=Дисплей
Name[ur]=ڈسپلے
Name[ur_PK]=ڈسپلے
Name[zh_CN]=显示
Name[zh_HK]=顯示
Name[zh_TW]=顯示器
Comment=Configure screen settings and layout
Comment[ar]=ضبط إعدادات الشاشة والتصميم
Comment[ast]=Configura los axustes y la xeometría de la pantalla
Comment[be]=Наладка экрана
Comment[be@tarask]=Налады экрану й напляставаньня
Comment[bg]=Промяна на настройките и разположението на екраните
Comment[bn]=পর্দার সেটিংসমূহ ও বহির্বিন্যাস কনফিগার
Comment[ca]=Configureu els ajusts i la disposició de la pantalla
Comment[cs]=Konfiguruje nastavení obrazovky a rozložení
Comment[da]=Konfigurer skærmindstillinger og -layout
Comment[de]=Bildschirmeinstellungen und Anordnung konfigurieren
Comment[el]=Διαμόρφωση ρυθμίσεων και διάταξης οθονών
Comment[en_AU]=Configure screen settings and layout
Comment[en_CA]=Configure screen settings and layout
Comment[en_GB]=Configure screen settings and layout
Comment[es]=Configure los ajustes y la disposición de la pantalla
Comment[et]=Seadista ekraane ja nende paigutust
Comment[eu]=Konfiguratu pantaila ezarpen eta ingurunea
Comment[fi]=Muokkaa näyttöasetuksia ja asettelua
Comment[fr]=Configurer les paramètres et la disposition des écrans
Comment[gl]=Configurar as opcións e a disposición da pantalla
Comment[he]=הגדרת סידור והגדרות מסך
Comment[hr]=Konfigurirajte postavke i raspored ekrana
Comment[hu]=Képernyő-beállítások és -elrendezés megadása
Comment[hy_AM]=Կազմաձեւել ցուցադրիչի կարգաւորումներն ու շարակարգը
Comment[hye]=Կազմաձեւել ցուցադրիչի կարգաւորումներն ու շարակարգը
Comment[id]=Atur pengaturan layar dan tata letak
Comment[ie]=Configurar parametres e arangeament de ecranes
Comment[is]=Sýsla með skjástillingar og framsetningu
Comment[it]=Configurazione delle impostazioni e della disposizione dello schermo
Comment[ja]=画面の解像度とレイアウトを設定します
Comment[kab]=Swel iɣewwaren d tneɣruft n ugdil
Comment[kk]=Экран баптауларын мен жаймасын баптау
Comment[ko]=화면 설정과 배치 설정
Comment[lt]=Konfigūruoti ekrano nustatymus ir išdėstymą
Comment[lv]=Konfigurēt ekrāna iestatījumus un izkārtojumu
Comment[ms]=Konfigur tetapan dan bentangan skrin
Comment[nb]=Sett opp skjerminnstillinger
Comment[nl]=Scherminstellingen en -vormgeving bewerken
Comment[nn]=Set opp skjermen og utforminga
Comment[oc]=Configurar los paramètres de l'ecran e la disposicion
Comment[pa]=ਸਕਰੀਨ ਸੈਟਿੰਗ ਅਤੇ ਲੇਆਉਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruje ustawienia i układ ekranu
Comment[pt]=Configurar definições e esquema do ecrã
Comment[pt_BR]=Definir configurações e disposição dos monitores
Comment[ro]=Configurați opțiunile pentru ecrane și monitoare
Comment[ru]=Настройки экрана
Comment[sk]=Nastavenia konfigurácie obrazovky a rozloženia
Comment[sl]=Nastavite nastavitve zaslona in postavitve
Comment[sq]=Formësoni rregullime dhe skemë ekrani
Comment[sr]=Подеси екране и њихов размештај
Comment[sv]=Ställ in skärminställningar och -layout
Comment[te]=తెర అమరికలను మరియు రూపురేఖలను స్వరూపించు
Comment[th]=ตั้งค่าหน้าจอและการจัดเรียง
Comment[tr]=Ekran ayarlarını ve düzenini yapılandır
Comment[ug]=ئېكراننىڭ ئورۇنلاشتۇرۇلۇشى ۋە ئېنىقلىقىنى تەڭشەش
Comment[uk]=Налаштувати параметри екрану та клавіатури
Comment[ur]=سکرین کی ترتیبات اور خاکہ مرتب کریں
Comment[ur_PK]=سکرین کی ترتیبات اور خاکہ مرتب کریں
Comment[zh_CN]=配置屏幕设置和布局
Comment[zh_HK]=設定螢幕設定值和配置
Comment[zh_TW]=調整螢幕設定與配置
Keywords=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;
Keywords[be]=дысплэй;налады;экран;раздзяляльная здольнасць;абнаўленне;чашчыня;паварочванне;вонкавы;праектары;маніторы;LCD;CRT;HiDPI;
Keywords[be@tarask]=дысплэй;налады;экран;разрозьненьне;абнаўленьне;частата кручэння;зьнешні;праэктары;маніторы;LCD;CRT;HiDPI;
Keywords[bg]=дисплей;настройки;екран;резолюция;опресняване;скорост;въртене;външен;проектори;монитори;LCD;CRT;HiDPI;
Keywords[ca]=monitor;ajusts;pantalla;resolució;refresc;freqüència;gir;extern;projectors;monitors;LCD;CRT;HiDPI;
Keywords[cs]=displej;nastavení;obrazovka;rozlišení;obnovení;míra;rotace;otočení;externí;vnější;projektory;monitory;LCD;CRT;HiDPI;
Keywords[da]=skærm;indstillinger;skærm;opløsning;opdateringshastighed;rotation;ekstern;projektorer;skærme;LCD;CRT;HiDPI;
Keywords[de]=Anzeige;Einstellungen;Bildschirm;Auflösung;Bildwiederholung;Geschwindigkeit;Rotation;extern;Projektoren;Monitore;LCD;CRT;HiDPI;
Keywords[el]=εμφάνιση;ρυθμίσεις;οθόνη;ανάλυση;ανανέωση;ρυθμός;περιστροφή;εξωτερική;βιντεοπροβολείς;οθόνες;LCD;CRT;HiDPI;
Keywords[en_CA]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;
Keywords[en_GB]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;
Keywords[es]=visualización;ajustes;pantalla;resolución;refresco;frecuencia;rotación;externo;proyectores;monitores;LCD;CRT;HiDPI;
Keywords[et]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;ekraan;ekraanid;monitor;monitorid;resolutsioon;pööramine;väline;projektorid;
Keywords[eu]=bistaratzea;ezarpenak;pantaila;erresoluzioa;freskatu;ratioa;errotazioa;proiektoreak;monitoreak;LCD;CRT;HiDPI;
Keywords[fr]=affichage;paramètres;écran;résolution;rafraîchissement;fréquence;rotation;externe;projecteurs;moniteurs;LCD;CRT;HiDPI;
Keywords[gl]=pantalla;configuración;monitor;resolución;actualización;velocidade;rotación;externo;proxector;monitores;LCD;CRT;HiDPI;
Keywords[he]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;
Keywords[hy_AM]=ցուցադրիչ;կարգաւորումներ;ցուցադրիչ;լուծաչափ;թարմացնել;դրոյք;պտտում;արտաքին;արտապատկերիչ,ցուցադրիչ,LCD;CRT;HiDPi;
Keywords[id]=tampilan;pengaturan;layar;resolusi;penyegaran;kecepatan;rotasi;eksternal;proyektor;monitor;LCD;CRT;HiDPI;
Keywords[it]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;
Keywords[ja]=ディスプレイ;設定;画面;解像度;リフレッシュ;レート;回転;外部;プロジェクター;モニター;LCD;CRT;HiDPI;
Keywords[kab]=sken;iɣewwaren;agdil;afray;smiren;afmiḍi;tuzzya;azɣaray;imagaren;isefraken;LCD;CRT;HiDPI;
Keywords[kk]=дисплей;баптаулар;экран;ажыратымдылық;жаңарту;жиілік;бұру;сыртқы;проекторлар;мониторлар;LCD;CRT;HiDPI;
Keywords[ko]=display;디스플레이;화면;settings;설정;screen;스크린;resolution;해상도;refresh;재생;rate;율;rotation;회전;external;외부;projectors;프로젝터;monitors;모니터;LCD;CRT;HiDPI;
Keywords[lt]=ekranas;nustatymai;nuostatos;ekranai;monitorius;monitoriai;raiška;raiska;skiriamoji geba;atnaujinimo;dažnis;pasukimas;pozicija;išorinis;isorinis;išoriniai;isoriniai;projektoriai;monitoriai;projektorius;LCD;CRT;HiDPI;
Keywords[ms]=paparan;tetapan;skrin;resolusi;segar semula;kadar;putaran;luar;projektor;monitors;LCD;CRT;HiDPI;
Keywords[nb]=skjerminnstillinger;skjermoppsett;skjerm;oppløsning;oppdateringsfrekvens;rotasjon;rotere;ekstern;prosjektor;skjerm;LCD;CRT;HiDPI;
Keywords[nl]=beeldscherm;instellingen;scherm;resolutie;verversen;snelheid;draaiing;extern;projectors;beeldschermen;LCD;CRT;HiDPI;
Keywords[oc]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;ecran;
Keywords[pl]=wyświetlacz;ustawienia;ekran;rozdzielczość;odświeżanie;częstotliwość;orientacja;zewnętrzny;projektory;monitory;LCD;CRT;HiDPI;
Keywords[pt]=ecrã;definições;ecrã;resolução;atualização;taxa;rotação;externo;projectores;monitores;LCD;CRT;HiDPI;
Keywords[pt_BR]=visor;definições;tela;resolução;atualização;taxa;rotação;externos;projetores;monitores;LCD;CRT;HiDPI;
Keywords[ru]=настройки;экран;разрешение;обновление;частота;поворот;внешний;проекторы;мониторы;LCD;CRT;HiDPI;
Keywords[sk]=displej;zobrazenie;nastavenia;obrazovka;rozlíšenie;obnovovacia;frekvencia;otočenie;externý;projektory;monitory;LCD;CRT;HiDPI;
Keywords[sl]=zaslon;nastavitve;ekran;ločljivost;hitrost;osveževanje;zasuk;zunanji;projektorji;monitorji;LCD;CRT;HiDPI;
Keywords[sq]=ekran;rregullime;ekran;qartësi;rifreskoje;frekuencë;rrotullim;i jashtëm;projektorë;monitorë;LCD;CRT;HiDPI;
Keywords[sr]=приказ;дисплеј;поставке;подешавања;размера;резолиција;освежавање;заокренутост;спољњи;екран;пројектор;монитор;ЛЦД;ЦРТ;ХиДПИ;
Keywords[sv]=skärm; inställningar; skärm; upplösning; uppdatering; frekvens; rotation; extern; projektorer; bildskärmar; LCD; CRT; HiDPI;
Keywords[th]=จอแสดงผล;ตั้งค่า;หน้าจอ;ความละเอียด;รีเฟรช;อัตรา;การหมุนภาพ;ภายนอก;เครื่องฉายภาพ;โปรเจกเตอร์;จอภาพ;LCD;CRT;HiDPI;
Keywords[tr]=görüntü;ayarlar;ekran;çözünürlük;yenileme;tazeleme;oran;yönelim;döndürme;harici;dış;projektör;yansıtıcı;monitörler;LCD;CRT;HiDPI;
Keywords[uk]=дисплей;налаштування;екран;розширення;освіжити;rate;зовнішній;проектори;монітори;LCD;CRT;HiDPI;
Keywords[zh_CN]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;显示;设置;屏幕;分辨率;刷新;速率;旋转;外部;投影仪;显示器;
Keywords[zh_TW]=display;settings;screen;resolution;refresh;rate;rotation;external;projectors;monitors;LCD;CRT;HiDPI;
Exec=xfce4-display-settings
Icon=org.xfce.settings.display
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpPage=display
