[Desktop Entry]
Version=1.0
Name=Sensor Viewer
Name[ar]=عارض المجس
Name[ast]=Visor de sensor
Name[be]=Прагляд датчыкаў
Name[bg]=Преглед на сензор
Name[ca]=Visualitzador dels sensors
Name[cs]=Prohlížeč senzorů
Name[da]=Sensorfremviser
Name[de]=Sensorbetrachter
Name[el]=Προβολέας αισθητήρα
Name[en_AU]=Sensor Viewer
Name[en_GB]=Sensor Viewer
Name[es]=Visor de los sensores
Name[eu]=Sentsore ikustailea
Name[fi]=Anturien näyttäjä
Name[fr]=Visionneur de capteur
Name[gl]=Visor de sensor
Name[he]=מציג חיישן
Name[hr]=Preglednik senzora
Name[hu]=Érzékelőmegjelenítő
Name[hy_AM]=Զգայակների դիտում
Name[hye]=Զգայակների դիտում
Name[id]=Penampil Sensor
Name[ie]=Visor de sensores
Name[is]=Skoðari fyrir skynjara
Name[it]=Visualizzatore di sensore
Name[ja]=センサービューアー
Name[ko]=센서 보기
Name[lt]=Jutiklių žiūryklė
Name[lv]=Sensoru skatītājs
Name[ms]=Pelihat Penderia
Name[nb]=Sensorvisning
Name[nl]=Sensorkijker
Name[oc]=Afichador de captador
Name[pl]=Wskazania czujników
Name[pt]=Visualizador de sensores
Name[pt_BR]=Visualizador de Sensor
Name[ru]=Просмотр датчиков
Name[sk]=Prehliadač senzorov
Name[sl]=Prikazovalnik senzorjev
Name[sq]=Parës Ndijuesi
Name[sr]=Прегледник пријемника
Name[sv]=Sensorvisare
Name[th]=เครื่องมือแสดงเซนเซอร์
Name[tr]=Algılayıcı Görüntüleyici
Name[ug]=سەزگۈچ كۆرگۈ
Name[uk]=Переглядач сенсора
Name[ur]=سینسر منظرکار
Name[ur_PK]=سینسر منظرکار
Name[zh_CN]=传感器查看器
Name[zh_TW]=感測器檢視器
Comment=Show sensor values.
Comment[ar]=إظهار قيم المجس.
Comment[ast]=Amosar valores de sensores.
Comment[be]=Прагляд паказанняў датчыкаў.
Comment[bg]=Покажи показанията на сензора.
Comment[ca]=Vegeu els valors dels sensors.
Comment[cs]=Zobrazuje hodnoty senzorů
Comment[da]=Vis sensorværdier.
Comment[de]=Sensorwerte erkannter Sensoren überwachen.
Comment[el]=Εμφάνιση τιμών αισθητήρα.
Comment[en_AU]=Show sensor values.
Comment[en_GB]=Show sensor values.
Comment[es]=Muestra los valores de los sensores
Comment[eu]=Sentsore balioak bistarazi.
Comment[fi]=Näyttää laiteanturien arvot
Comment[fr]=Afficher les valeurs du capteur.
Comment[gl]=Amosar os valores do sensor.
Comment[he]=הצג ערכי חיישן.
Comment[hr]=Pokaži vrijednosti senzora.
Comment[hu]=Érzékelőértékek megjelenítése
Comment[hy_AM]=Ցուցադրել զգայակների արժէքները։
Comment[hye]=Ցուցադրել զգայակների արժէքները։
Comment[id]=Tampilkan nilai sensor.
Comment[ie]=Monstrar valores de sensors.
Comment[is]=Sýna gildi skynjara.
Comment[it]=Mostra i valori di un sensore.
Comment[ja]=センサーの値を表示します。
Comment[ko]=센서 값을 보여줍니다.
Comment[lt]=Parodyti jutiklių reikšmes.
Comment[lv]=Rādīt sensora vērtības.
Comment[ms]=Tunjuk nilai penderia.
Comment[nb]=Vis sensorverdier.
Comment[nl]=Toon sensorwaarden.
Comment[oc]=Afichar las valors del captador.
Comment[pl]=Wyświetla wskazania czujników sprzętowych
Comment[pt]=Mostrar valores de sensor.
Comment[pt_BR]=Mostrar valores do sensor.
Comment[ru]=Отображение показаний датчиков
Comment[sk]=Zobrazuje hodnoty senzorov
Comment[sl]=Prikaže vrednosti senzorjev.
Comment[sq]=Shfaq vlera ndijuesish.
Comment[sr]=Прикажи вредности пријемника.
Comment[sv]=Visa sensorsvärden.
Comment[th]=แสดงค่าต่างๆ ของเซนเซอร์
Comment[tr]=Algılayıcı değerlerini gösterir.
Comment[ug]=سەزگۈچنىڭ قىممىتىنى كۆرسىتىدۇ.
Comment[uk]=Показувати значення сенсорів.
Comment[ur]=سینسر ویلیو دکھائیں:
Comment[ur_PK]=سینسر ویلیو دکھائیں:
Comment[zh_CN]=显示传感器值。
Comment[zh_TW]=顯示感測器數值。
GenericName=Sensor Values Viewer
GenericName[ar]=عارض قيم المجس
GenericName[ast]=Visor de valores de sensor
GenericName[be]=Паглядзець паказанні датчыкаў
GenericName[bg]=Преглед на показанията на сензора
GenericName[ca]=Visualitzador dels valors dels sensors
GenericName[cs]=Prohlížeč hodnot senzorů
GenericName[da]=Fremvisning af sensorværdier
GenericName[de]=Betrachter für Sensorwerte
GenericName[el]=Προβολέας Τιμών Αισθητήρων
GenericName[en_AU]=Sensor Values Viewer
GenericName[en_GB]=Sensor Values Viewer
GenericName[es]=Visor de los valores de los sensores
GenericName[eu]=Sentsore balio ikustailea
GenericName[fi]=Anturin arvojen näyttäjä
GenericName[fr]=Visionneur des valeurs de capteurs
GenericName[gl]=Visor dos valores dos sensores
GenericName[he]=מציג ערכי חיישן
GenericName[hr]=Preglednik vrijednosti senzora
GenericName[hu]=Érzékelőérték-megjelenítő
GenericName[hye]=Դիտել զգաեակների արժէքը
GenericName[id]=Penampil Nilai Sensor
GenericName[ie]=Visor de valores de sensores
GenericName[is]=Skoðari fyrir skynjaragildi
GenericName[it]=Visualizzatore dei valori dei sensori
GenericName[ja]=センサー値ビューアー
GenericName[ko]=센서 값 보기
GenericName[lt]=Jutiklių reikšmių žiūryklė
GenericName[ms]=Pelihat Nilai Penderia
GenericName[nb]=Sensorverdivisning
GenericName[nl]=Sensorwaarden-kijker
GenericName[oc]=Afichador de las valors dels captadors
GenericName[pl]=Podgląd wskazań czujników
GenericName[pt]=Visualizador de valores de sensores
GenericName[pt_BR]=Visualizador de Valores dos Sensores
GenericName[ru]=Просмотр показаний датчиков
GenericName[sk]=Prehliadač hodnôt senzorov
GenericName[sl]=Prikazovalnik vrednosti senzorjev
GenericName[sq]=Parës Vlerash Ndijuesi
GenericName[sr]=Прегледник вредности пријемника
GenericName[sv]=Sensorvärdesvisare
GenericName[th]=เครื่องมือแสดงค่าเซนเซอร์
GenericName[tr]=Algılayıcı Değerleri Görüntüleyici
GenericName[ug]=سەزگۈچنىڭ قىممىتىنى كۆرگۈ
GenericName[uk]=Переглядач інформації сенсорів
GenericName[zh_CN]=传感器值查看器
GenericName[zh_TW]=感測器數值檢視器
Icon=xfce-sensors
Exec=xfce4-sensors
Terminal=false
Type=Application
Categories=X-XFCE;Utility;System;Monitor;
StartupNotify=true

