[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=org.xfce.filemanager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-AppStream-Ignore=True
Name=File Manager
Name[ar]=مدير الملفات
Name[ast]=Xestor de ficheros
Name[be]=Кіраўнік файлаў
Name[be@tarask]=Файлавы кіраўнік
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ব্যবস্থাপক
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[en_AU]=File Manager
Name[en_CA]=File Manager
Name[en_GB]=File Manager
Name[es]=Gestor de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[hy_AM]=Նիշք
Name[hye]=Նիշք
Name[id]=Manajer Berkas
Name[ie]=Gerentiator de files
Name[is]=Skráastjóri
Name[it]=Gestore dei file
Name[ja]=ファイルマネージャー
Name[ka]=ფაილების მმართველი
Name[kab]=Asefrak n ifuyla
Name[kk]=Файлдар басқарушысы
Name[ko]=파일 관리자
Name[lt]=Failų tvarkytuvė
Name[ms]=Pengurus Fail
Name[nb]=Filbehandler
Name[nl]=Bestandbeheerder
Name[nn]=Filhandsamar
Name[oc]=Gestionari de fichièrs
Name[pl]=Menedżer plików
Name[pt]=Gestor de ficheiros
Name[pt_BR]=Gerenciador de arquivos
Name[ro]=Manager de fișiere
Name[ru]=Проводник
Name[sk]=Správca súborov
Name[sl]=Upravljalnik datotek
Name[sq]=Përgjegjës Kartelash
Name[sr]=Управник датотека
Name[sv]=Filhanterare
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер
Name[zh_CN]=文件管理器
Name[zh_HK]=檔案管理員
Name[zh_TW]=檔案管理員
Comment=Browse the file system
Comment[ar]=تصفح ملفات النظام
Comment[ast]=Restola pel sistema de ficheros
Comment[be]=Прагляд файлавай сістэмы
Comment[be@tarask]=Прагляд файлавай сыстэмы
Comment[bg]=Преглед на файловата система
Comment[bn]=ফাইল সিস্টেম ব্রাউজ করুন
Comment[ca]=Navega pel sistema de fitxers
Comment[cs]=Procházet systém souborů
Comment[da]=Gennemse filsystemet
Comment[de]=Dateisystem durchsuchen
Comment[el]=Περιήγηση στο σύστημα αρχείων
Comment[en_AU]=Browse the file system
Comment[en_CA]=Browse the file system
Comment[en_GB]=Browse the file system
Comment[es]=Navegue por el sistema de archivos
Comment[et]=Failisüsteemi sirvimine
Comment[eu]=Arakatu fitxategi-sistema
Comment[fi]=Selaa tiedostojärjestelmää.
Comment[fr]=Parcourir le système de fichiers
Comment[gl]=Explorar o sistema de ficheiros
Comment[he]=סייר במערכת הקבצים
Comment[hr]=Pregledaj datotečni sustav
Comment[hu]=A fájlrendszer tallózása
Comment[hy_AM]=Որոնել նիշային համակարգում
Comment[hye]=Որոնել նիշային համակարգում
Comment[id]=Ramban sistem berkas
Comment[ie]=Navigar li sistema de files
Comment[is]=Vafra um skráakerfi
Comment[it]=Esplora il file system
Comment[ja]=ファイルシステムを参照します。
Comment[ka]=ფაილურ სისტემაში ძებნა
Comment[kab]=Inig deg unagraw n yifuyla
Comment[kk]=Файлдық жүйені шолу
Comment[ko]=파일 시스템 탐색
Comment[lt]=Naršyti failų sistemą
Comment[ms]=Layar sistem fail
Comment[nb]=Utforsk filsystemet
Comment[nl]=Verken het bestandssysteem
Comment[nn]=Bla gjennom filsystemet
Comment[oc]=Percórrer lo sistèma de fichièrs
Comment[pl]=Przegląda system plików za pomocą menedżera plików
Comment[pt]=Navegar no sistema de ficheiros
Comment[pt_BR]=Navega no sistema de arquivos
Comment[ro]=Arată sistemul de fișiere
Comment[ru]=Просмотр файловой системы
Comment[sk]=Prehliadať súborový systém
Comment[sl]=Brskajte po datotečnem sistemu
Comment[sq]=Shfleto sistemin e kartelave
Comment[sr]=Разгледај систем датотека
Comment[sv]=Bläddra i filsystemet
Comment[th]=ท่องดูระบบแฟ้ม
Comment[tr]=Dosya sistemine göz at
Comment[ug]=ھۆججەت سىستېمىسىنى كۆرىدۇ
Comment[uk]=Перегляд файлової системи
Comment[zh_CN]=浏览文件系统
Comment[zh_HK]=瀏覽檔案系統
Comment[zh_TW]=瀏覽檔案系統
