[Desktop Entry]
Name=Text Editor
Name[ar]=محرر نصوص
Name[ast]=Editor de testu
Name[be]=Тэкставы рэдактар
Name[bg]=Текстов редактор
Name[ca]=Editor de text
Name[cs]=Textový editor
Name[da]=Tekstredigering
Name[de]=Textbearbeitung
Name[el]=Επεξεργαστής Κειμένου
Name[en_AU]=Text Editor
Name[en_GB]=Text Editor
Name[es]=Editor de texto
Name[et]=Tekstiredaktor
Name[eu]=Testu Editatzailea
Name[fi]=Tekstimuokkain
Name[fr]=Éditeur de texte
Name[gl]=Editor de texto
Name[he]=עורך תמלילים
Name[hr]=Uređivač teksta
Name[hu]=Szövegszerkesztő
Name[hy_AM]=Գրոյթային խմբագրիչ
Name[hye]=Գրոյթային խմբագրիչ
Name[id]=Penyunting Teks
Name[ie]=Redactor de textus
Name[is]=Textaritill
Name[it]=Editor di Testo
Name[ja]=テキストエディター
Name[kk]=Мәтін түзетушісі
Name[ko]=문서 편집기
Name[lt]=Teksto redaktorius
Name[ms]=Penyunting Teks
Name[nb]=Tekstbehandler
Name[nl]=Tekstbewerker
Name[nn]=Teksthandsamingsprogram
Name[oc]=Editor de tèxte
Name[pl]=Edytor tekstu
Name[pt]=Editor de texto
Name[pt_BR]=Editor de Texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedila
Name[sq]=Përpunues Tekstesh
Name[sr]=Уређивач писања
Name[sv]=Textredigerare
Name[te]=పాఠ్య కూర్పకం
Name[th]=เครื่องมือแก้ไขข้อความ
Name[tr]=Metin Düzenleyici
Name[ug]=تېكىست تەھرىرلىگۈ
Name[uk]=Текстовий редактор
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Comment=Simple Text Editor
Comment[ar]=محرر نصوص بسيط
Comment[ast]=Editor de testu simple
Comment[be]=Просты тэкставы рэдактар
Comment[bg]=Опростен текстов редактор
Comment[ca]=Editor de text senzill
Comment[cs]=Jednoduchý textový editor
Comment[da]=Simpel tekstredigering
Comment[de]=Einfache Textbearbeitung
Comment[el]=Απλός επεξεργαστής κειμένου
Comment[en_AU]=Simple Text Editor
Comment[en_GB]=Simple Text Editor
Comment[es]=Un simple editor de texto
Comment[et]=Lihtne tekstiredaktor
Comment[eu]=Testu editore sinplea
Comment[fi]=Yksinkertainen tekstimuokkain
Comment[fr]=Éditeur de texte simple
Comment[gl]=Editor de texto sinxelo
Comment[he]=עורך תמלילים פשוט
Comment[hr]=Jednostavni uređivač teksta
Comment[hu]=Egyszerű szövegszerkesztő
Comment[hy_AM]=Պարզ գրոյթային խմբագրիչ
Comment[hye]=Պարզ գրոյթային խմբագրիչ
Comment[id]=Penyunting Teks Sederhana
Comment[ie]=Un simplic redactor de textus
Comment[is]=Einfaldur textaritill
Comment[it]=Semplice editor di testo
Comment[ja]=シンプルなテキストエディターです
Comment[kk]=Қарапайым мәтін түзетушісі
Comment[ko]=간단한 문서 편집기
Comment[lt]=Paprastas teksto redaktorius
Comment[ms]=Penyunting Teks Ringkas
Comment[nb]=Enkel tekstbehandler
Comment[nl]=Eenvoudige tekstbewerker
Comment[nn]=Enkelt teksthandsamingsprogram
Comment[oc]=Editor de tèxte simple
Comment[pl]=Zwykły edytor tekstu
Comment[pt]=Editor de texto simples
Comment[pt_BR]=Editor de Texto Simples
Comment[ro]=Un editor simplu de text
Comment[ru]=Простой текстовый редактор
Comment[sk]=Jednoduchý textový editor
Comment[sl]=Preprost urejevalnik besedila
Comment[sq]=Përpunues Tekstesh i Thjeshtë
Comment[sr]=Једноставан уређивач писања
Comment[sv]=Enkel textredigerare
Comment[te]=సులభ పాఠ్య కూర్పకం
Comment[th]=เครื่องมือแก้ไขข้อความอย่างง่าย
Comment[tr]=Basit Metin Düzenleyici
Comment[ug]=ئاددىي تېكىست تەھرىرلىگۈ
Comment[uk]=Простий текстовий редактор
Comment[zh_CN]=简易文本编辑器
Comment[zh_TW]=簡易文字編輯器
TryExec=mousepad
Exec=mousepad
Icon=accessories-text-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;
OnlyShowIn=XFCE;
