[Desktop Entry]
Version=1.0
Name[ast]=Notificaciones
Name[be]=Апавяшчэнні
Name[bg]=Уведомления
Name[ca]=Notificacions
Name[cs]=Oznámení
Name[da]=Underretninger
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[en_AU]=Notifications
Name[en_GB]=Notifications
Name[es]=Notificaciones
Name[et]=Teated
Name[eu]=Berri-emateak
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[gl]=Notificacións
Name[he]=התראות
Name[hr]=Obavijesti
Name[hu]=Értesítések
Name[hy_AM]=Ծանուցումներ
Name[hye]=Ծանուցումներ
Name[id]=Notifikasi
Name[ie]=Notificationes
Name[is]=Tilkynningar
Name[it]=Notifiche
Name[ja]=通知
Name[ka]=შეტყობინებები
Name[kk]=Хабарламалар
Name[ko]=알림
Name[lt]=Pranešimai
Name[lv]=Paziņojumi
Name[ms]=Pemberitahuan
Name[nb]=Varsling
Name[nl]=Meldingen
Name[oc]=Notificacions
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia
Name[pt_BR]=Notificações
Name[pt]=Notificações
Name[ro]=Notificări
Name[ru]=Оповещения
Name[sk]=Oznámenia
Name[sl]=Obvestila
Name[sq]=Njoftime
Name[sr]=Обавештења
Name[sv]=Aviseringar
Name[th]=การแจ้งเหตุ
Name[tr]=Bildiriler
Name[ug]=ئۇقتۇرۇشلار
Name[uk]=Повідомлення
Name[vi]=Thông báo
Name[zh_CN]=通知
Name[zh_TW]=通知
Name=Notifications
Comment[ast]=Personaliza cómo apaecen les notificaciones na to pantalla
Comment[be]=Наладзіць вывад апавяшчэнняў на вашым экране
Comment[bg]=Настройване на изгледа на уведомленията на екрана
Comment[ca]=Personalitzeu com es mostren les notificacions
Comment[cs]=Upravte způsob, jakým se budou oznámení zobrazovat
Comment[da]=Tilpas hvordan underretninger vises på din skærm
Comment[de]=Das Erscheinungsbild von Benachrichtigungen anpassen
Comment[el]=Προσαρμογή του τρόπου εμφάνισης των ειδοποιήσεων στην οθόνη
Comment[en_AU]=Customise how notifications appear on your screen
Comment[en_GB]=Customise how notifications appear on your screen
Comment[es]=Personalice cómo aparecen las notificaciones en pantalla
Comment[et]=Kohanda seda, mil viisil teateid sinu ekraanil kuvatakse
Comment[eu]=Pertsonalizatu berri-emateak zure pantailan nola agertuko diren
Comment[fi]=Mukauta näytöllesi ilmestyvien ilmoitusten toimintaa
Comment[fr]=Personnaliser la manière dont les notifications apparaissent sur votre écran
Comment[gl]=Personalice como se amosan as notificacións na súa pantalla
Comment[he]=התאם מראה התראות על המסך שלך
Comment[hr]=Prilagodite kako će se obavijesti prikazivati na vašem ekranu
Comment[hu]=A képernyőn megjelenő értesítések megjelenésének személyre szabása
Comment[hy_AM]=Յարմարեցնել ծանուցումների ցուցադրումը
Comment[hye]=Յարմարեցնել ծանուցումների ցուցադրումը
Comment[id]=Sesuaikan bagaimana notifikasi tampak di layar anda
Comment[ie]=Personalisar li aspecte de notificationes sur li ecran
Comment[is]=Sérsníða hvernig tilkynningar birtast á skjánum þínum
Comment[it]=Personalizzazione del modo in cui le notifiche appaiono sullo schermo
Comment[ja]=画面上にどのように通知するか設定します
Comment[ka]=გაასწორეთ თუ როგორ გამოჩნდეს შეტყობინებები თქვენს ეკრანზე
Comment[kk]=Хабарламалар көрсетілуін таңдаңыз
Comment[ko]=알림을 화면에 어떻게 띄울 것인지 설정합니다
Comment[lt]=Tinkinti kaip atrodys pranešimai jūsų ekrane
Comment[lv]=Pielāgojiet, kā paziņojumu parādās uz jūsu ekrāna
Comment[ms]=Suaikan bagaimana pemberitahuan muncul atas skrin anda
Comment[nb]=Tilpass visning av varsler på skjermen din
Comment[nl]=Weergave van meldingen aanpassen
Comment[oc]=Personalizar lo biais que las notificacions apareisson sus vòstre ecran
Comment[pa]=ਕਸਟਮਾਈਜ਼ ਕਰੋ ਕਿ ਤੁਹਾਡੀ ਸਕਰੀਨ ਉੱਤੇ ਨੋਟੀਫਿਕੇਸ਼ਨ ਕਿੰਝ ਵੇਖਾਈ ਦੇਣ
Comment[pl]=Konfiguruje ustwienia powiadamiania
Comment[pt_BR]=Personalize como as notificações devem aparecer na sua tela
Comment[pt]=Personalizar o aspeto das notificações no ecrã
Comment[ro]=Personalizați cum apar pe ecran notificările
Comment[ru]=Настройка отображения оповещений на вашем экране
Comment[sk]=Prispôsobuje vzhľad oznámení na vašej obrazovke
Comment[sl]=Prilagodite prikaz obvestil na zaslonu
Comment[sq]=Përshtatni mënyrën se si shfaqen njoftimet në ekranin tuaj
Comment[sr]=Прилагодите начин приказа обавештења на заслону
Comment[sv]=Anpassa hur aviseringar visas på din skärm
Comment[th]=กำหนดหน้าตาของการแจ้งเหตุบนหน้าจอของคุณ
Comment[tr]=Bildirimlerin ekranınızda nasıl görüneceğini özelleştirin
Comment[ug]=ئۇقتۇرۇشلارنىڭ كۆرۈنۈش ئۇسۇلىنى ئۆزلەشتۈر
Comment[uk]=Налаштуйте показ повідомлень на Вашому екрані
Comment[vi]=Tùy chỉnh cách thông báo ẩn trên màn hình
Comment[zh_CN]=自定义通知在您屏幕上的显示方式
Comment[zh_TW]=自訂通知該如何在您螢幕上顯示
Comment=Customize how notifications appear on your screen
Exec=xfce4-notifyd-config
Icon=org.xfce.notification
Terminal=false
StartupNotify=true
Type=Application
OnlyShowIn=XFCE;
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
X-XfcePluggable=true
X-XfceHelpComponent=notifyd
X-XfceHelpPage=start
