[Desktop Entry]
Name[af]=Hulp
Name[am]=መረጃ
Name[an]=Aduya
Name[ar]=مساعدة
Name[as]=সহায়
Name[ast]=Ayuda
Name[az]=Yardım
Name[be]=Даведка
Name[be@latin]=Dapamoha
Name[bg]=Потребителско ръководство
Name[bn]=সহায়তা
Name[bn_IN]=সাহায্য
Name[br]=Skoazell
Name[bs]=Pomoć
Name[ca]=Ajuda
Name[ca@valencia]=Ajuda
Name[ckb]=یارمەتی
Name[crh]=Yardım
Name[cs]=Nápověda
Name[cy]=Cymorth
Name[da]=Hjælp
Name[de]=Hilfe
Name[dz]=གྲོགས་རམ།
Name[el]=Βοήθεια
Name[en_CA]=Help
Name[en_GB]=Help
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=راهنما
Name[fi]=Ohje
Name[fr]=Aide
Name[fur]=Jutori
Name[ga]=Cabhair
Name[gd]=Cobhair
Name[gl]=Axuda
Name[gu]=મદદ
Name[he]=עזרה
Name[hi]=मदद
Name[hr]=Priručnik
Name[hu]=Súgó
Name[id]=Bantuan
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ka]=დახმარება
Name[kk]=Көмек
Name[km]=ជំនួយ
Name[kn]=ಸಹಾಯ
Name[ko]=도움말
Name[ks]=मदद
Name[ku]=Alîkarî
Name[ky]=Жардам
Name[la]=Auxilium: Help Contents=Adiuvantes Res
Name[li]=Hulp
Name[lt]=Žinynas
Name[lv]=Palīdzība
Name[mai]=मद्दति 
Name[mg]=Toro-làlana
Name[mk]=Помош
Name[ml]=സഹായം
Name[mn]=Тусламж
Name[mr]=मदत
Name[ms]=Bantuan
Name[nb]=Hjelp
Name[nds]=Hulp
Name[ne]=मद्दत
Name[nl]=Hulp
Name[nn]=Hjelp
Name[nso]=Thušo
Name[oc]=Ajuda
Name[or]=ସହାୟତା
Name[pa]=ਮਦਦ
Name[pl]=Pomoc
Name[ps]=مرسته
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[rw]=Ifashayobora
Name[si]=උදව්
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sq]=Ndihmë
Name[sr]=Помоћ
Name[sr@latin]=Pomoć
Name[sv]=Hjälp
Name[ta]=உதவி
Name[te]=సహాయం
Name[tg]=Кумак
Name[th]=วิธีใช้
Name[tr]=Yardım
Name[ug]=ياردەم
Name[uk]=Довідка
Name[uz]=Yordam
Name[uz@cyrillic]=Ёрдам
Name[vi]=Trợ giúp
Name[wa]=Aidance
Name[xh]=Uncedo
Name[zh_CN]=帮助
Name[zh_HK]=求助
Name[zh_TW]=求助
Name[zu]=Usizo
Name=Help
Comment[af]=Kry hulp met GNOME
Comment[am]=ከኖም መረጃ አግኝ
Comment[an]=Obtienga aduya arredol de GNOME
Comment[ar]=احصل على المساعدة في جُنوم
Comment[as]=GNOME ৰ পৰা সহায় প্ৰাপ্ত কৰক
Comment[ast]=Obtener ayuda con GNOME
Comment[az]=GNOME haqqında yardım alın
Comment[be]=Даведка GNOME
Comment[be@latin]=Atrymaj dapamohu ad GNOME
Comment[bg]=Помощ за GNOME
Comment[bn]=GNOME থেকে সহায়তা নিন
Comment[bn_IN]=GNOME থেকে সহায়তা প্রাপ্ত করুন
Comment[bs]=Dobavite pomoć s GNOME
Comment[ca]=Obtingueu ajuda per al GNOME
Comment[ca@valencia]=Obtingueu ajuda per al GNOME
Comment[ckb]=یارمەتی بەدەستبهێنە لەگەڵ گنۆم
Comment[crh]=GNOME ile yardım elde etiñiz
Comment[cs]=Získat nápovědu k GNOME
Comment[cy]=Cael cymorth â GNOME
Comment[da]=Få hjælp til GNOME
Comment[de]=Hilfe zu GNOME erhalten
Comment[dz]=ཇི་ནོམ་ལས་ གྲོགས་རམ་ལེན།
Comment[el]=Λήψη βοήθειας για το GNOME
Comment[en_CA]=Get help with GNOME
Comment[en_GB]=Get help with GNOME
Comment[eo]=Ricevi helpon pri GNOME
Comment[es]=Obtenga ayuda acerca de GNOME
Comment[et]=Abistab GNOME kasutamisel
Comment[eu]=Eskuratu GNOMEri buruzko laguntza
Comment[fa]=راهنمایی گرفتن در مورد گنوم
Comment[fi]=Apua Gnomen käyttöön
Comment[fr]=Obtenir de l’aide avec GNOME
Comment[fur]=Cjate jutori cun GNOME
Comment[ga]=Faigh cabhair ar GNOME
Comment[gd]=Faigh cobhair le GNOME
Comment[gl]=Obter axuda co GNOME
Comment[gu]=જીનોમ સાથે મદદ લો
Comment[he]=קבלת עזרה עם GNOME
Comment[hi]=गनोम से मदद लें
Comment[hr]=Nabavite pomoći za GNOME
Comment[hu]=A GNOME súgója
Comment[id]=Buka bantuan GNOME
Comment[is]=Fá hjálp með GNOME
Comment[it]=Consulta l'aiuto di GNOME
Comment[ja]=GNOME のヘルプを表示します
Comment[ka]=GNOME-ის დახმარების მიღება
Comment[kk]=GNOME көмегін алу
Comment[km]=ទទួល​យក​ជំនួយ​ជាមួយ GNOME
Comment[kn]=GNOME ಬಗ್ಗೆ ನೆರವನ್ನು ಪಡೆದುಕೊಳ್ಳಿ
Comment[ko]=그놈에서 도움말을 봅니다
Comment[ks]=गनोम पय्टठ नियू मदद
Comment[ku]=Bi GNOME'yê alîkariyê bistîne
Comment[ky]=GNOME чөйрөсүнүн жардамын алуу
Comment[li]=Hulp bie GNOME
Comment[lt]=Gauti pagalbą dirbant su GNOME
Comment[lv]=Saņemt palīdzību ar GNOME
Comment[mai]=GNOME सँ मद्दति लिअ'
Comment[mg]=Hizaha toro-làlana amin'ny alalan'ny GNOME
Comment[mk]=Побарај помош со GNOME
Comment[ml]=ഗ്നോം സഹായം ലഭ്യമാക്കുക
Comment[mn]=ГНОМЕ-р тусламж авах
Comment[mr]=GNOME पासून मदत घ्या
Comment[ms]=Dapatkan bantuan dengan GNOME
Comment[nb]=Få hjelp med GNOME
Comment[nds]=Hulp bie GNOME
Comment[ne]=जिनोमसँग मद्दत प्राप्त गर्नुहोस्
Comment[nl]=Hulp bij Gnome
Comment[nn]=Få hjelp om GNOME
Comment[nso]=Hwetša thušo ka GNOME
Comment[oc]=Obténer d'ajuda a prepaus de GNOME
Comment[or]=ନୋମ ପାଇଁ ସାହାଯ୍ଯ ପାଆନ୍ତୁ
Comment[pa]=ਗਨੋਮ ਬਾਰੇ ਮਦਦ ਲਵੋ
Comment[pl]=Pomoc GNOME
Comment[pt]=Obter ajuda com o GNOME
Comment[pt_BR]=Obtenha ajuda sobre o GNOME
Comment[ro]=Ajutor pentru GNOME
Comment[ru]=Получение справки в среде GNOME
Comment[sk]=Získava pomoc s používaním prostredia GNOME
Comment[sl]=Iskanje pomoči namizja GNOME
Comment[sq]=Merr ndihmë me GNOME
Comment[sr]=Потражите Гномову помоћ
Comment[sr@latin]=Potražite Gnomovu pomoć
Comment[sv]=Få hjälp med GNOME
Comment[ta]=கனோமைப் பற்றி உதவி பெறு
Comment[te]=గ్నోమ్‌తో సహాయం పొందండి
Comment[tg]=Гирифтани кумак аз GNOME
Comment[th]=วิธีการใช้ GNOME
Comment[tr]=GNOME ile yardım alın
Comment[ug]=گىنوم ياردىمىگە ئېرىش
Comment[uk]=Отримати довідку GNOME
Comment[vi]=Nhận trợ giúp từ GNOME
Comment[wa]=Houkî l' aidance di GNOME
Comment[xh]=Fumana uncedo nge-GNOME
Comment[zh_CN]=获得 GNOME 的帮助
Comment[zh_HK]=顯示 GNOME 說明文件
Comment[zh_TW]=顯示 GNOME 說明文件
Comment[zu]=Thola usizo nge GNOME
Comment=Get help with GNOME
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=дакументацыя;інфармацыя;звесткі;падручнік;дапаможнік;даведка;
Keywords[bg]=documentation;information;manual;help;документация;информация;ръководство;помощ;
Keywords[ca]=documentació;informació;manual;ajuda;
Keywords[ca@valencia]=documentació;informació;manual;ajuda;
Keywords[ckb]=documentation;information;manual;help;
Keywords[cs]=dokumentace;informace;příručka;manuál;návod;nápověda;
Keywords[da]=dokumentation;information;manual;håndbog;hjælp;
Keywords[de]=Dokumentation;Information;Handbuch;Hilfe;
Keywords[el]=τεκμηρίωση;πληροφορίες;εγχειρίδιο;documentation;information;manual;help;βοήθεια;
Keywords[en_GB]=documentation;information;manual;help;
Keywords[eo]=dokumentado;informo;manlibro;helpo;
Keywords[es]=documentación;información;manual;ayuda;
Keywords[eu]=dokumentazioa;informazioa;eskuliburua;laguntza;
Keywords[fa]=documentation;information;manual;help;مستندات;اطلاعات;راهنما;کمک;
Keywords[fi]=documentation;information;manual;help;dokumentaatio;manuaali;ohje;
Keywords[fr]=documentation;information;manuel;aide;
Keywords[fur]=documentazion;informazion;manuâl;jutori;
Keywords[gd]=documentation;information;manual;help;docamaideadh;fiosrachadh;stiùireadh;treòir;cobhair;
Keywords[gl]=documentación;información;manual;axuda;
Keywords[he]=תיעוד;פרטים;מידע;מדריך;עזרה;
Keywords[hr]=dokumentacija;informacija;priručnik;pomoć;
Keywords[hu]=dokumentáció;információ;kézikönyv;súgó;
Keywords[id]=dokumentasi;informasi;manual;bantuan;
Keywords[is]=handbækur;handbók;hjálparskjöl;skjölun;upplýsingar;leiðbeiningar;
Keywords[it]=documentazione;informazioni;manuali;aiuto;
Keywords[ja]=documentation;information;manual;help;ドキュメンテーション;ドキュメント;情報;インフォメーション;マニュアル;ヘルプ;
Keywords[ka]=documentation;information;manual;help;
Keywords[kk]=құжаттама;ақпарат;нұсқама;көмек;
Keywords[ko]=documentation;문서;information;정보;manual;설명서;매뉴얼;help;도움말;
Keywords[lt]=dokumentacija;informacija;vadovas;žinynas;
Keywords[lv]=dokumentācija;informācija;rokasgrāmata;palīdzība;palīgā;
Keywords[ml]=documentation;information;manual;help;
Keywords[ms]=dokumentasi;maklumat;panduan;bantuan;
Keywords[nb]=dokumentasjon;informasjon;håndbok;hjelp;
Keywords[ne]=दस्तावेज;सूचना;मैनुअल;मद्दत;
Keywords[nl]=documentatie;informatie;handleiding;hulp;help;docs;
Keywords[oc]=documentacion;informacion;manual;ajuda;
Keywords[pa]=ਦਸਤਾਵੇਜ਼;ਜਾਣਕਾਰੀ;ਕਿਤਾਬਚਾ;ਮੈਨੂਅਲ;ਡੌਕੂਮੈਂਟ;ਮਦਦ;ਸਹਾਇਤਾ;
Keywords[pl]=dokumentacja;informacje;podręcznik;przewodnik;manual;instrukcja;pomoc;wsparcie;support;
Keywords[pt]=documentação;informação;manual;ajuda;
Keywords[pt_BR]=documentação;informação;informações;manual;ajuda;
Keywords[ro]=documentation;intormation;manual;documentație;informație;ajutor;
Keywords[ru]=документация;информация;руководство;справка;
Keywords[sk]=dokumentácia;informácie;návod;manuál;pomoc;pomocník;
Keywords[sl]=dokumentacija;podrobnosti;priročnik;pomoč;yelp;
Keywords[sr]=документација;подаци;упутство;помоћ;documentation;information;manual;help;
Keywords[sr@latin]=dokumentacija;podaci;uputstvo;pomoć;
Keywords[sv]=dokumentation;information;manual;handbok;hjälp;
Keywords[tr]=belgelendirme;bilgi;el kitabı;kılavuz;rehber;yardım;
Keywords[uk]=документація;інформація;посібник;довідка;
Keywords[vi]=documentation;information;manual;help;tài liệu;tai lieu;thông tin;thong tin;hướng dẫn;huong dan;trợ giúp;tro giup;
Keywords[zh_CN]=documentation;information;manual;help;文档;信息;手册;帮助;
Keywords[zh_TW]=documentation;information;manual;help;文件;資訊;手冊;求助;說明;
Keywords=documentation;information;manual;help;
OnlyShowIn=GNOME;Unity;
Exec=yelp %u
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Yelp
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
